.animation-moveRight {
		animation: moveRight 0.5s ease-in-out;
}
.animation-moveRight_capsule {
		animation: moveRight_capsule 0.5s ease-in-out;
}

.animation-moveLeft {
		animation: moveLeft 0.5s ease-in-out;
}

.animation-fadeIn {
		animation: fadeIn 0.5s ease-in-out;
}

.animation-fadeIn_capsule {
		animation: fadeIn 1s 0.6s ease-in-out;
}

.animation-fadeOut {
		animation: fadeOut 0.5s ease-in-out;
}

.visibility-none {
		opacity: 0;
}

.product-rotate {
		animation: product-rotate 1s ease-in-out;
}

.product-stay {
		transform: rotate(14deg);
}

@keyframes moveRight {
		from {
				transform: translate(-200px, 0);
				opacity: 0;
		}

		to {
				transform: translate(0, 0);
				opacity: 1;
		}
}

@keyframes moveRight_capsule {
		from {
				transform: translate(-50px, 0);
		}

		to {
				transform: translate(0, 0);
		}
}

@keyframes moveLeft {
		from {
				transform: translate(200px, 0);
				opacity: 0;
		}

		to {
				transform: translate(0, 0);
				opacity: 1;
		}
}

@keyframes fadeIn {
		from {
				opacity: 0;
		}

		to {
				opacity: 1;
		}
}

@keyframes fadeOut {
		from {
				opacity: 1;
		}

		to {
				opacity: 0;
		}
}

@keyframes product-rotate {
		from {
				transform: rotate(14deg);
		}

		to {
				transform: rotate(0);
		}
}


