@charset "UTF-8";
.owl-theme .owl-nav, .howBlock-item_middle:before,
.howBlock-item_middle:after, .how .container:before, .podagra, .pain-productBefore, .pain .productBlock, .bigToe-left, .product-before, .productBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.productBlock:before,
.productBlock:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.howBlock:after, .howBlock:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
  height: 150px;
  background: radial-gradient(circle, #f8fcff 45%, #e7edf2 70%);
  border-top: 1px solid #fff;
  box-shadow: 0 25px 50px rgba(133, 138, 144, 0.5);
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueBook.woff") format("woff"), url("../fonts/UniNeue/UniNeueBook.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueRegular.woff") format("woff"), url("../fonts/UniNeue/UniNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueBold.woff") format("woff"), url("../fonts/UniNeue/UniNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url("../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff") format("woff"), url("../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url("../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff") format("woff"), url("../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url("../fonts/PFBeauSansPro/PFBeauSansPro-Black.woff") format("woff"), url("../fonts/PFBeauSansPro/PFBeauSansPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Regular.woff") format("woff"), url("../fonts/Mont/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "UniNeue";
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #fff;
}

button,
button:active,
button:focus {
  outline: none;
}

div, section {
  width: 100%;
}

img, p, button, label, select, input {
  display: block;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select {
  position: relative;
}

.select:before {
  content: "";
  display: block;
  background: url("../imgs/order1/sort-down-solid.svg") no-repeat center;
  position: absolute;
  right: 15px;
  bottom: 5px;
  top: 0;
  margin: auto;
  z-index: 2;
  width: 30px;
  height: 26px;
  text-align: center;
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1044px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

h2,
.text_green,
.text-blue,
.text-red,
.text-bold {
  font-weight: 700;
}

.text_green {
  color: #23b48f;
}

.text-blue {
  color: #30afff;
}

.text-red {
  color: #ed2b62;
}

.borderBottom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001) 60%, #e6e6ee 60%, #e6e6ee 93%, rgba(255, 255, 255, 0.001) 93%);
}

.borderBottom_light {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001) 60%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.8) 93%, rgba(255, 255, 255, 0.001) 93%);
}

.borderBottom_dark {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001) 60%, #3286be 60%);
}

.productBlock {
  left: inherit;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.productBlock:before {
  background: url("../imgs/product/product-flower.png") no-repeat center/100%;
  width: 226px;
  height: 217px;
  left: 30px;
  bottom: -250px;
  z-index: 4;
}

.productBlock:after {
  background: url("../imgs/product/product-ice.png") no-repeat center/100%;
  width: 392px;
  height: 383px;
  right: -40px;
  bottom: -100px;
}

.product-img {
  max-width: 317px;
  position: relative;
  margin-left: 115px;
  z-index: 3;
}

.product-before {
  position: absolute;
  width: 100%;
}

.new-price {
  background: url("../imgs/product/product-sale.png") no-repeat center/100%;
  width: 175px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

header {
  padding: 40px 0 80px;
  background: radial-gradient(circle, #fbfcff, #f2f4f9 60%);
  overflow: hidden;
}

.order1-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.order1-list_top {
  max-width: 650px;
  flex: 1 0 100%;
  margin-bottom: 25px;
  justify-content: space-between;
}
.order1-list_top .order1List-text {
  font-size: 18px;
}

.orderList-img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.order1ListItem {
  max-width: 290px;
  display: flex;
  align-items: center;
  margin: 5px;
}
.order1ListItem .order1-list_top {
  margin-bottom: 0;
}

.order1ListItem_right {
  max-width: 400px;
  flex: 1 0 100%;
  justify-content: flex-end;
}

.order1-logo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #bdc1c9;
}

.order1-main {
  display: flex;
  margin-bottom: 100px;
}

.order1-left {
  max-width: 505px;
  flex: 1 0 100%;
  position: relative;
  z-index: 5;
}

.mainLogo {
  font-family: "PFBeauSansPro";
  font-size: 106px;
  font-weight: 900;
  text-transform: uppercase;
  color: #30afff;
  margin: 50px 0 25px;
}

.productBlock .new-price {
  left: 0;
  right: -370px;
  top: 50px;
  margin: auto;
  z-index: 6;
}

.mainLogo_small {
  font-size: 60px;
  font-family: "PFBeauSansPro";
  font-weight: 400;
  color: #000;
}

.order1-title {
  font-size: 48px;
  font-weight: 350;
  margin-bottom: 30px;
}

.order1-text {
  font-size: 24px;
  margin-bottom: 25px;
}

.order1-btn {
  padding: 25px 10px;
  background: repeating-linear-gradient(45deg, #21ab88, #21ab88 2px, #23b48f 2px, #23b48f 7px);
  text-align: center;
  font-size: 24px;
  color: #fff;
  max-width: 305px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(35, 180, 143, 0.6);
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.order1-btn:hover {
  box-shadow: 0 10px 30px rgba(35, 180, 143, 0.6);
  transform: scale(1.02);
}

.order1-list_bottom {
  max-width: 735px;
}
.order1-list_bottom .order1List-text {
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  header {
    padding: 0 0 30px;
  }

  .order1-list {
    flex-wrap: wrap;
  }

  .order1-main {
    flex-wrap: wrap;
  }

  .productBlock {
    position: relative;
    order: 1;
    margin: 20px auto;
  }
  .productBlock .product-img {
    margin: 0;
  }

  .productBlock:before {
    left: -40px;
  }

  .order1-left {
    order: 2;
    margin: 0 auto;
  }
  .order1-left .order1-btn {
    margin: 0 auto;
  }

  .mainLogo {
    margin: 10px 0;
  }

  .order1-list_top {
    justify-content: center;
    margin-bottom: 10px;
  }

  .order1-list {
    justify-content: center;
    margin: 10px auto;
  }

  .order1-main {
    margin-bottom: 30px;
  }

  .order1-list_bottom {
    justify-content: flex-start;
  }
  .order1-list_bottom .order1ListItem {
    margin: 10px;
  }
}
@media screen and (max-width: 576px) {
  .productBlock {
    margin-top: 50px;
  }

  .productBlock:before,
.productBlock:after {
    display: none;
  }

  .productBlock .product-img {
    max-width: 250px;
  }

  .productBlock .new-price {
    right: -165px;
    top: -70px;
  }

  .order1ListItem .order1-list_top {
    justify-content: flex-start;
  }

  .mainLogo {
    font-size: 60px;
  }
  .mainLogo .mainLogo_small {
    font-size: 35px;
  }

  .order1-title {
    font-size: 30px;
  }
}
.bigToe {
  padding: 80px 0 40px;
  background: radial-gradient(circle, #fbfcff, #f2f4f9 60%);
}

.bigToe-title,
.bigToe-subTitle {
  font-size: 39px;
  text-transform: uppercase;
  text-align: center;
}

.bigToe-subTitle {
  text-transform: lowercase;
  margin-bottom: 100px;
}

.bigToe-main {
  position: relative;
  background: linear-gradient(to right, #a7d5f8 50%, #53b4f4);
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  border-radius: 30px;
  transform: skewY(-5.5deg) scale(1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transition: box-shadow, transform 0.3s ease-in;
}

.bigToe-main:hover {
  transform: skewY(-5.5deg) scale(1.02);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.bigToeList {
  max-width: 670px;
  flex: 1 0 100%;
  transform: skewY(5.5deg);
}

.bigToeListItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.bigToeListItem:last-child {
  margin-bottom: 0;
}

.bigToeList-img {
  max-width: 79px;
  margin-right: 35px;
}

.bigToeListItem-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.bigToeListItem-text {
  font-size: 24px;
}

.bigToe-left {
  max-width: 318px;
  top: inherit;
  right: inherit;
  transform: skewY(5.5deg);
  bottom: -8px;
  left: -30px;
}

.bitToeText {
  flex: 1 0;
}

@media screen and (max-width: 991px) {
  .bigToe {
    padding: 20px 0;
    background: linear-gradient(#f2f4f9, #fff);
  }

  .bigToe-title .borderBottom {
    background: none;
  }

  .bigToe-title span {
    display: block;
  }

  .bigToe-main {
    justify-content: center;
  }

  .bigToe-left {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bigToe-subTitle {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .bigToe-title, .bigToe-subTitle {
    font-size: 28px;
    text-align: left;
  }

  .bigToe-main {
    padding: 25px;
  }

  .bigToeListItem {
    display: block;
    margin-bottom: 30px;
  }
  .bigToeListItem .bigToeList-img {
    margin: 20px auto;
  }

  .bigToeListItem-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .bigToeListItem-text {
    font-size: 20px;
  }
}
.delay {
  padding: 120px 0 0;
  background: #f2f4f9 url("../imgs/delay/delay-bg.png") no-repeat center/cover;
  min-height: 1000px;
}

.delay-title {
  font-size: 51px;
  text-transform: uppercase;
  color: #ed2b62;
  margin-bottom: 70px;
}

.delay-text {
  max-width: 670px;
  flex: 1 0 100%;
  font-size: 24px;
  margin-bottom: 70px;
  line-height: 1.5;
}

.delay-text_big {
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .delay {
    padding-top: 550px;
    background: url("../imgs/delay/delay-bg.png") no-repeat 68% 0/1400px;
    min-height: inherit;
  }
  .delay .order1-btn {
    margin: 0 auto;
  }

  .delay-title,
.delay-text {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 576px) {
  .delay {
    padding-top: 300px;
    background: url("../imgs/delay/delay-bg.png") no-repeat 68% 0/680px;
    min-height: inherit;
  }

  .delay-title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .delay-text, .delay-text_big {
    font-size: 20px;
  }
}
.effects {
  margin-top: -200px;
  padding-bottom: 100px;
}

.effects-title {
  font-size: 72px;
  text-transform: uppercase;
  color: #ed2b62;
  text-align: right;
  line-height: 0.8;
}

.effects-title_small {
  font-weight: 400;
  font-size: 48px;
  text-transform: lowercase;
  color: #000;
}

.effectsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

.effectsItem {
  max-width: 175px;
  flex: 1 0 100%;
  margin: 10px;
}

.effectsItem-img {
  border-radius: 50%;
  animation: pain2 2s linear infinite;
}

.effectsItem-text {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .effects {
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .effects-title {
    text-align: center;
  }

  .effectsBlock {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .effects-title {
    font-size: 40px;
  }

  .effects-title_small {
    font-size: 35px;
  }
}
.pain {
  padding: 80px 0 0;
  background: url("../imgs/pain/pain-bg.png") no-repeat center/cover;
  min-height: 960px;
  color: #fff;
}
.pain .container {
  display: flex;
  justify-content: flex-end;
}
.pain .productBlock {
  right: inherit;
  left: -200px;
}

.pain-productBefore {
  max-width: 590px;
  z-index: 1;
  top: -100px;
}

.pain-main {
  position: relative;
  z-index: 4;
  max-width: 670px;
  flex: 1 0 100%;
  padding-left: 10px;
}

.pain-title {
  font-size: 60px;
  text-transform: uppercase;
}

.pain-subTitle {
  font-size: 35px;
  text-transform: lowercase;
  line-height: 1.5;
}

.pain-text {
  max-width: 540px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.pain-list,
.pain-footer {
  margin-left: 100px;
}

.painList-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.painList-img {
  max-width: 45px;
  margin-right: 30px;
}

.painList-text {
  font-size: 24px;
}

.painList-text_big {
  font-weight: 700;
  text-transform: uppercase;
  color: #075e98;
}

.pain-footer {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 45px;
  max-width: 480px;
}

@media screen and (max-width: 991px) {
  .pain {
    padding-top: 30px;
  }

  .pain-main {
    max-width: 100%;
    flex: 1 0 100%;
  }

  .pain .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pain-title {
    text-align: center;
  }

  .pain .productBlock {
    position: relative;
    left: inherit;
    margin: 0;
  }

  .pain-text,
.pain-subTitle,
.pain-list {
    margin: 10px 0 30px;
  }

  .pain-subTitle {
    line-height: 0.9;
  }

  .painList-item {
    margin-bottom: 10px;
  }

  .painList-img {
    margin-right: 15px;
  }

  .pain-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: initial;
  }
}
@media screen and (max-width: 576px) {
  .pain {
    background-position-x: 62%;
  }

  .pain-title {
    font-size: 40px;
  }

  .pain-footer {
    margin-left: 0;
  }
}
.plus {
  margin-top: -200px;
  padding: 0 0 50px;
}
.plus .container {
  background: url("../imgs/plus/plus-foots.png") no-repeat 85% 100%;
  background-size: 435px;
}

.plus-title {
  font-size: 101px;
  text-transform: uppercase;
  color: #23b48f;
}

.plus-subTitle {
  font-size: 50px;
  line-height: 0.7;
}

.plus-list {
  margin: 40px 0;
}

.plusList-Item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.plusList-plus {
  width: 35px;
  min-width: 35px;
  height: 35px;
  max-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #30afff;
  margin-right: 20px;
  font-size: 35px;
}

.plusList-text {
  font-size: 25px;
}

.podagra {
  max-width: 270px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  height: 60px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  right: -490px;
  top: -60px;
}

.circle {
  width: 40px;
  min-width: 40px;
  height: 40px;
  max-height: 40px;
  margin: 10px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a7d5f8;
}

.little-circle {
  width: 12px;
  min-width: 12px;
  height: 12px;
  max-height: 12px;
  border-radius: 50%;
  background: #ed2b62;
}

.podagra-text {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .plus {
    margin-top: 20px;
  }

  .plus .container {
    background: url("../imgs/plus/plus-foots.png") no-repeat 100% 100%/50%;
  }

  .podagra {
    top: 0;
    margin-bottom: 35%;
    right: -62%;
  }
}
@media screen and (max-width: 768px) {
  .plus-title {
    font-size: 80px;
  }

  .podagra {
    max-width: 200px;
    height: 50px;
  }

  .circle {
    margin: 8px;
  }
}
@media screen and (max-width: 576px) {
  .plus .container {
    background: none;
  }
  .plus .container .order1-btn {
    margin: 0 auto;
  }

  .plus-title {
    font-size: 50px;
  }

  .plus-subTitle {
    font-size: 40px;
  }

  .plus-list {
    margin: 20px 0;
  }

  .podagra {
    display: none;
  }
}
.how {
  background: url("../imgs/how/how-bg.png") no-repeat 50% 0/cover;
  padding: 165px 0 0;
  margin-bottom: -58px;
  overflow: hidden;
}
.how .order1-btn {
  margin: 0 auto 30px;
}

.how .container:before {
  content: "";
  background: url("../imgs/how/how-check.png") no-repeat center/100%;
  width: 29px;
  height: 29px;
  right: inherit;
  bottom: inherit;
  left: 235px;
  top: 155px;
  border-radius: 50%;
  animation: pain 2s linear infinite;
}

.how-title {
  font-size: 88px;
  color: #30afff;
  text-align: right;
}

.how-Title_small {
  display: block;
  font-size: 44px;
  font-weight: 400;
  color: #000;
  margin-bottom: 170px;
  line-height: 1;
}

.howBlock {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 90px;
}

.howBlock:before {
  left: -125px;
  animation: pulse 2s linear infinite;
}

.howBlock:after {
  background: radial-gradient(circle, #f8fcff, #e7edf2);
  right: -70px;
  bottom: -260px;
  max-width: 100px;
  height: 100px;
  animation: pulse 3s ease-in infinite;
}

.howBlock-item {
  max-width: 280px;
  flex: 1 0 100%;
  margin: 15px;
  text-align: center;
  position: relative;
}

.howBlock-item_middle:before,
.howBlock-item_middle:after {
  content: "";
  display: block;
  background: url("../imgs/how/how-next.png") no-repeat center/100%;
  width: 19px;
  height: 21px;
  left: inherit;
  right: -35px;
}

.howBlock-item_middle:after {
  right: inherit;
  left: -45px;
}

.howBlock-img {
  max-width: 67px;
  margin: 0 auto 25px;
}

.howBlock-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #30afff;
  margin-bottom: 30px;
}

.howBlock-text {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .how {
    padding-top: 30px;
    background: #f2f4f9;
  }

  .how .container:before {
    display: none;
  }

  .how-Title_small {
    margin-bottom: 30px;
  }

  .howBlock {
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 0;
  }

  .howBlock-img {
    margin-bottom: 5px;
  }

  .howBlock-title {
    margin-bottom: 10px;
  }

  .howBlock-item_middle:before,
.howBlock-item_middle:after {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .how-title {
    font-size: 50px;
    text-align: left;
  }

  .howBlock-text {
    text-align: left;
  }

  .howBlock:before {
    top: -190px;
  }

  .howBlock:after {
    bottom: -400px;
  }
}
.consist {
  padding: 100px 0;
  background: #fff;
}

.consist-title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #30afff;
  margin-bottom: 130px;
}

.consistBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.consistItem {
  background: #fff;
  padding-left: 35px;
  padding-right: 10px;
  max-width: 335px;
  flex: 1 0 100%;
  margin: 0 10px;
  position: relative;
  border: 9px solid #e0e9f3;
  border-radius: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.consistItem_product:before {
  content: "";
  background: url("../imgs/product/product-before.png") no-repeat center/100%;
  display: block;
  width: 315px;
  height: 315px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.consistItem_top {
  z-index: 6;
}

.consistItem-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.consistListItem {
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}

.consistListItem:before {
  content: "";
  display: block;
  background: url("../imgs/consist/check.png") no-repeat center/100%;
  width: 16px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: -20px;
}

.consist-img {
  margin: -85px auto 40px;
  position: relative;
  z-index: 4;
}

.consist-img_1 {
  max-width: 228px;
}

.consist-img_2 {
  max-width: 235px;
  margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
  .consist {
    padding: 70px 0 0;
    overflow: hidden;
  }

  .consist-title {
    margin-bottom: 100px;
  }

  .consistBlock {
    flex-wrap: wrap;
    align-items: center;
  }

  .consistItem {
    margin-bottom: 90px;
  }

  .consist-img {
    margin-bottom: 10px;
  }

  .consistListItem,
.consistItem-title {
    margin-bottom: 20px;
  }

  .consistItem:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .consist-title {
    font-size: 40px;
  }
}
.expert {
  padding: 90px 0 150px;
  background-image: radial-gradient(circle, #ebeced, #dadee1 50%);
  position: relative;
}
.expert .container {
  display: flex;
  justify-content: flex-end;
}

.expert-img {
  max-width: 670px;
  position: absolute;
  bottom: 0;
  left: -1000px;
  right: 0;
  margin: auto;
}

.expertMain {
  max-width: 650px;
  flex: 1 0 100%;
}

.expert-title {
  font-size: 48px;
  text-transform: uppercase;
  color: #30afff;
  margin-bottom: 40px;
}

.expert-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.expert-text_last {
  text-transform: uppercase;
  font-weight: 700;
}

.expert-mobileBlock {
  display: flex;
}

.sign {
  max-width: 114px;
  margin-right: 30px;
}

.expert-mobile {
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #fff;
  padding-top: 10px;
  display: none;
}

@media screen and (max-width: 991px) {
  .expert {
    padding: 30px 0;
  }

  .expert-title .borderBottom {
    background: none;
  }

  .expert-text {
    margin-bottom: 20px;
  }

  .expert-mobile {
    display: block;
  }

  .expert-img {
    display: none;
  }

  .expert .container {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .expert-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.comm {
  margin-top: -330px;
  padding: 190px 0 100px;
  position: relative;
  z-index: 5;
  background: url("../imgs/comments/comments-before.png") no-repeat 50% 0%/1920px;
}

.comm-title {
  font-size: 60px;
  text-align: right;
  color: #23b48f;
  margin-bottom: 90px;
}

.comm-title_small {
  display: block;
  font-weight: 400;
  line-height: 0.7;
  color: #000;
  font-size: 48px;
}

.comm-item {
  position: relative;
  max-width: 715px;
  margin: 0 auto;
  background: #fff;
  border: 9px solid #e0e9f3;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 30px 30px 45px;
}

.comItem-result {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background: #30afff;
  color: #fff;
  font-size: 20px;
}

.sliderItem-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.comm-avatar {
  max-width: 94px;
  margin-right: 30px;
}

.comm-info {
  font-size: 24px;
  font-weight: 700;
}

.comm-text {
  font-size: 20px;
  line-height: 1.5;
}

.owl-theme .owl-nav {
  display: flex;
  max-width: 800px;
  bottom: 50px;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.owl-prev,
.owl-next {
  max-width: 50px;
  height: 50px;
  background: url("../imgs/order1/sort-down-solid.svg") no-repeat center;
  z-index: 3;
}

.owl-prev {
  transform: rotate(90deg);
}

.owl-next {
  transform: rotate(-90deg);
}

.owl-prev span,
.owl-next span {
  color: rgba(255, 255, 255, 0.001);
}

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dot {
  max-width: 20px;
  height: 20px;
  margin: 20px 10px 0;
  border: 1px solid #2e2e2e;
  border-radius: 50%;
  background: #fff;
}

.owl-carousel .owl-dot.active {
  background: #575757;
}

.owl-carousel .owl-stage-outer {
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .comm {
    background: none;
    margin-top: 0;
    padding: 30px 0 50px;
  }

  .comm-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
  }

  .comm-item {
    padding-top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .owl-theme .owl-nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .comm-item {
    padding: 70px 10px 20px;
  }

  .comm-text {
    line-height: 1.2;
    font-size: 18px;
  }

  .sliderItem-header {
    margin-bottom: 20px;
  }
}
.order2 {
  padding-bottom: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001), #f2f4f9);
}
.order2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.order2 .order1-left {
  max-width: 615px;
  flex: 1 0 100%;
}
.order2 .mainLogo {
  margin-bottom: 5px;
}
.order2 .order1-title {
  font-size: 36px;
}
.order2 .order1-main {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.order2 .productBlock {
  position: relative;
  max-width: 345px;
}
.order2 .productBlock:before,
.order2 .productBlock:after {
  display: none;
}
.order2 .product-img {
  margin: 0 auto;
  max-width: 250px;
}
.order2 .order1-list_bottom {
  max-width: 270px;
  flex: 1 0 100%;
  flex-wrap: wrap;
}
.order2 .order1ListItem {
  margin-bottom: 30px;
}
.order2 .order1-list_bottom .order1List-text {
  font-size: 24px;
}
.order2 .orderList-img {
  width: 45px;
  height: 45px;
}
.order2 .order1-btn {
  margin: 20px auto 0;
}
.order2 .order1-right {
  max-width: 405px;
  flex: 1 0 100%;
}

.order-form {
  padding: 30px 50px;
  border: 9px solid #e0e9f3;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

.orderForm-prices {
  display: flex;
  justify-content: flex-end;
}

.order2 .new-price {
  top: -60px;
  left: 15px;
}

.new-price_value {
  font-weight: 700;
  font-size: 42px;
}

.old-price {
  max-width: 100px;
  flex: 1 0 100%;
  color: #325670;
  margin-bottom: 40px;
}

.old-price_value {
  text-decoration: line-through;
  font-size: 30px;
}

select, input {
  padding: 15px;
  min-height: 54px;
  border: 1px solid #c5d8de;
  border-radius: 30px;
  margin: 10px 0;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 35px auto;
  max-width: 260px;
  flex: 1 0 100%;
  font-family: "Mont";
}

.counter-title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.counter-item {
  display: block;
  text-align: center;
  padding: 15px 0;
  border: 1px solid #c5d8de;
  background: #fff;
  flex: 1 0 100%;
  width: 100%;
  max-width: 70px;
  font-weight: 500;
  font-size: 36px;
  position: relative;
  border-radius: 50%;
}

.counter-item_hours:before,
.counter-item_minutes:before,
.counter-item_seconds:before {
  position: absolute;
  bottom: -25px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.counter-item_hours:before {
  content: "часов";
}

.counter-item_minutes:before {
  content: "минут";
}

.counter-item_seconds:before {
  content: "секунд";
}

.counter-item_hours:after,
.counter-item_minutes:after {
  content: ":";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30px;
  top: 0;
  bottom: 0;
  right: -15px;
  margin: auto;
  font-size: 36px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .order2 {
    padding-bottom: 20px;
  }
  .order2 .order1-right {
    order: 3;
    margin: 30px auto 0;
  }
  .order2 .order1-list_bottom .order1List-text {
    display: block;
    flex: 1 0;
  }
  .order2 .order1-list {
    order: 2;
  }
  .order2 .order1-list_bottom {
    max-width: 100%;
  }
  .order2 .order1-list_bottom .order1ListItem {
    justify-content: flex-start;
    max-width: 45%;
    flex: 1 0 45%;
  }
  .order2 .mainLogo,
.order2 .order1-title,
.order2 .order1-text {
    text-align: center;
    line-height: 1;
  }
  .order2 .order1-title,
.order2 .order1-text {
    margin-bottom: 10px;
  }
  .order2 .order1ListItem {
    margin-bottom: 20px;
  }

  .order-form {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 576px) {
  .order2 .order1-list_bottom .order1ListItem {
    max-width: 100%;
    flex: 1 0 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bigToe-left {
    bottom: 95px;
  }

  .order2 .productBlock {
    justify-content: flex-start;
  }
}
footer {
  padding: 10px 0 20px;
  text-align: center;
}

footer a {
  color: #23b48f;
}

/*# sourceMappingURL=style.css.map */
