@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

BODY {
    position: relative
}

form {
    margin: 0;
    padding: 0
}

HTML BODY .i-ljuser,
HTML BODY .i-ljuser-profile {
    width: auto !important;
    height: auto !important;
    margin: 0 !important
}

HTML BODY .i-ljuser,
HTML BODY .i-ljuser-profile,
HTML BODY .i-ljuser-userhead {
    padding: 0 !important;
    border: 0 !important
}

HTML BODY .i-ljuser {
    position: static !important;
    display: inline !important;
    background: 0 0 !important;
    white-space: nowrap !important;
    font-style: normal !important
}

HTML BODY .i-ljuser-userhead {
    width: 16px !important;
    height: 16px !important;
    margin: 0 1px 0 0 !important;
    vertical-align: text-bottom !important;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

.l-showtime::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(57, 191, 113, .4)
}

.svgicon,
.svgpreloader-16.svgpreloader-pseudo:after {
    width: 16px;
    height: 16px
}

.svgicon {
    display: inline-block;
    visibility: inherit !important;
    pointer-events: auto !important;
    fill: currentColor;
    -moz-transform: scale(1)
}

.svgpreloader-pseudo:after {
    content: " ";
    position: absolute;
    margin: 0;
    padding: 0
}

.svgpreloader-pseudo:after {
    -webkit-animation: svgrotate .57s linear infinite;
    animation: svgrotate .57s linear infinite
}

@-webkit-keyframes svgrotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes svgrotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.svgpreloader-pseudo:after {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(data:image/svg+xml,%3Csvg%20class%3D%22svgpreloader%20svgpreloader-svg%22%20viewBox%3D%220%200%2031%2031%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.5%2C31%20C24.0604136%2C31%2031%2C24.0604136%2031%2C15.5%20C31%2C6.93958638%2024.0604136%2C0%2015.5%2C0%20C6.93958638%2C0%200%2C6.93958638%200%2C15.5%20C0%2C24.0604136%206.93958638%2C31%2015.5%2C31%20Z%20M15.5%2C24%20C20.1944204%2C24%2024%2C20.1944204%2024%2C15.5%20C24%2C10.8055796%2020.1944204%2C7%2015.5%2C7%20C10.8055796%2C7%207%2C10.8055796%207%2C15.5%20C7%2C20.1944204%2010.8055796%2C24%2015.5%2C24%20Z%22%20fill%3D%22%2300AFEA%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M15.7960584%2C7.00505942%20L15.8509795%2C0.00389541322%20C20.1020367%2C0.0983450811%2023.9309467%2C1.90428116%2026.675877%2C4.7598713%20L26.675877%2C4.7598713%20L21.7412314%2C9.72958246%20C20.2508535%2C8.11838542%2018.1443589%2C7.08544079%2015.7960584%2C7.00505942%20Z%22%20fill%3D%22%23346B7C%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E), none
}

.svgpreloader-30.svgpreloader-pseudo:after {
    width: 30px;
    height: 30px
}

.b-flatbutton {
    display: inline-block;
    cursor: pointer;
    margin: 0
}

.b-flatbutton {
    position: relative;
    padding: 15px 20px;
    border: 0 !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: 600 14px/1 ProximaNova, Tahoma, Arial, sans-serif;
    font: 600 .875rem/1 ProximaNova, Tahoma, Arial, sans-serif
}

.b-flatbutton {
    background: #09C;
    color: #FFF
}

.b-flatbutton:link,
.b-flatbutton:visited {
    background: #09C;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton:focus,
.b-flatbutton:hover {
    background: #00ACE6;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton:active {
    background: #0086B3;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton-simple {
    padding: 10px 15px
}

HTML BODY {
    margin-top: 0 !important
}

.aentry-post .aentry-post__figure {
    min-height: 1px;
    margin-bottom: 8px;
    text-align: center
}

.aentry-post .aentry-post__figure figcaption {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font: 400 14px/20px ProximaNova, Helvetica, sans-serif;
    text-align: left;
    color: #8C969B
}

.aentry-post .aentry-post__img--text-width {
    position: relative
}

.aentry-post .aentry-post__img--text-width img {
    display: block;
    margin: 5px auto 0;
    border-radius: 8px
}

.aentry-post .aentry-post__img--text-width {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

.aentry-post .aentry-post__img--text-width img {
    max-width: 100%
}

@media (max-width: 772px) {
    .aentry-post .aentry-post__img--text-width {
        max-width: 100% !important
    }
}

.aentry-post__text ul {
    margin: 32px 0;
    padding-left: 2.5em !important;
    overflow: hidden
}

.aentry-post__text ul li {
    margin-left: 0 !important
}

@media (max-width: 520px) {
    .aentry-post__text ul {
        margin: 24px 0
    }
}

.aentry-post__text p {
    margin: 0 0 20px
}

@media (max-width: 520px) {

    .aentry-post__text p {
        margin-bottom: 16px
    }
}

.aentry-post__text figure + p,
.aentry-post__text p + figure {
    margin-top: 16px
}

@media (max-width: 520px) {

    .aentry-post__text figure + p,
    .aentry-post__text p + figure {
        margin-top: 32px
    }
}

.badge,
A.badge:link,
A.badge:visited {
    color: #333
}

.category-panel {
    font-size: 14px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1100px;
    margin: 24px 0 20px;
    padding: 4px 0 12px;
    border-top: 1px solid #DCE1E4;
    border-bottom: 1px solid #DCE1E4
}

.category-panel__caption {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 8px;
    margin-right: 8px
}

.category-panel__list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0
}

.category-panel__item {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px
}

.category-panel__item:not(:last-child) {
    margin-right: 8px
}

.category-panel__link {
    padding: 6px 8px;
    line-height: 14px;
    font-size: 14px
}

.category-panel__link:link,
.category-panel__link:visited {
    border: none
}

.badge {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 12px;
    background: #FFF6C2;
    -webkit-transition: color .2s;
    transition: color .2s
}

A.badge:active,
A.badge:focus,
A.badge:hover {
    color: #00A3D9
}

.badge--icon {
    padding-left: 30px
}

.badge--icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.badge--thumbs-up-icon::before {
    width: 14px;
    height: 18px;
    background-image: url(thumbs-up.svg);
}

.tag {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: #EEF1F3;
    -webkit-transition: background .2s;
    transition: background .2s
}

.tag:active,
.tag:hover {
    background: #E5EBEE
}

.tag__link {
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-transform: capitalize;
    -webkit-transition: color .2s;
    transition: color .2s
}

.tag__link:link,
.tag__link:visited {
    border: none;
    color: #5B5F61
}

.tag__link:focus {
    outline: 0;
    color: #00A3D9
}

HTML BODY .i-ljuser-username,
HTML BODY .i-ljuser-username:link,
HTML BODY .i-ljuser-username:visited {
    color: #00BAF8
}

HTML BODY .i-ljuser-username:active,
HTML BODY .i-ljuser-username:focus,
HTML BODY .i-ljuser-username:hover {
    color: #000
}

.categories {
    position: relative;
    background: #FFF;
    font: 15px/1 ProximaNova, Helvetica, sans-serif;
    box-shadow: 0 0 14px 1px rgba(100, 100, 100, .25);
    z-index: 9;
    color: #646464
}

@media screen and (min-device-width: 320px) and (max-device-width: 568px), screen and (-ms-high-contrast: active) and (max-width: 30em),
(-ms-high-contrast: none) and (max-width: 30em) {
    .categories {
        box-shadow: none;
        border-bottom: 1px solid #EDF2F4
    }
}

@media (max-width: 320px) {
    .categories {
        position: static
    }
}

.flatbutton {
    text-decoration: none
}

.flatbutton:focus::before {
    content: ''
}

.flatbutton {
    display: inline-block
}

.flatbutton {
    box-sizing: border-box
}

.flatbutton {
    position: relative;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font: 600 14px/1 ProximaNova, Helvetica, sans-serif;
    letter-spacing: .3px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-appearance: none
}

.flatbutton--small {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 0
}

.flatbutton:focus::before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid #69C9E9;
    border-radius: inherit
}

.flatbutton,
.flatbutton:link,
.flatbutton:visited {
    background: #00A2D9;
    color: #FFF
}

.flatbutton:hover {
    background: #00BEFF;
    color: #FFF
}

.flatbutton:active {
    background: #0092C4;
    color: #FFF
}

.flatbutton--neutral {
    border: 1px solid #C3D3D9;
    background: 0 0;
    color: #333
}

.flatbutton--neutral:link,
.flatbutton--neutral:visited {
    background: 0 0;
    color: #333
}

.flatbutton--neutral:hover {
    border-color: #9CA7AB;
    background: 0 0;
    color: #333
}

.flatbutton--neutral:active:focus {
    background: #F5F5F5;
    color: #333
}

.flatbutton--neutral:focus {
    color: #333
}

.subscription__title {
    font-family: ProximaNova, Helvetica, sans-serif
}

.subscription {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    border: 0 solid #E0E0E0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-size: 16px
}

.subscription .mdsfooter-section__title {
    display: none
}

.subscription__header {
    display: inline-block;
    text-align: left;
    vertical-align: middle
}

.subscription__title:first-child {
    margin-top: -4px
}

.subscription__title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #1F2223
}

.subscription--subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000
}

.subscription__aside {
    position: relative;
    display: inline-block;
    margin: 40px 0 40px 30px
}

.subscription__aside .flatbutton--small {
    padding-top: 12px;
    padding-bottom: 9px;
    width: 200px;
    font-size: 14px
}

.subscription__aside .flatbutton--small::before {
    position: relative;
    display: inline-block;
    top: -3px;
    right: auto;
    bottom: auto;
    left: auto;
    margin-right: 10px;
    width: 24px;
    height: 17px;
    vertical-align: top;
    background-image: url('data:image/svg+xml;charset=UTF-8, %3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%2217px%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M23.948%2C0.52L13.359%2C16.818c-0.051%2C0.078-0.132%2C0.132-0.226%2C0.151c-0.024%2C0.006-0.049%2C0.008-0.074%2C0.008%20c-0.068%2C0-0.137-0.02-0.195-0.057l-2.98-1.912L6.902%2C16.92c-0.108%2C0.069-0.248%2C0.075-0.362%2C0.017c-0.114-0.06-0.187-0.175-0.187-0.3%20v-3.763l13.295-9.593L3.969%2C11.215L0.157%2C8.771C0.046%2C8.7-0.013%2C8.576%2C0.002%2C8.448c0.016-0.127%2C0.104-0.234%2C0.229-0.278L23.528%2C0.02%20c0.141-0.049%2C0.3-0.007%2C0.395%2C0.105C24.017%2C0.239%2C24.028%2C0.396%2C23.948%2C0.52z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    content: '';
    border: none;
    border-radius: 0
}

@media (max-width: 750px),
(min-width: 1000px) {
    .mdspost-aside .subscription {
        padding: 15px 30px 20px;
        background-color: #EFEFEF;
        border-width: 0
    }

    .mdspost-aside .subscription::before {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        background-color: #FFF;
        background-image: url('data:image/svg+xml;charset=UTF-8, %3Csvg%20width%3D%2220%22%20height%3D%2215%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m1.90213%2C4.87054c0.25287%2C0.17844%201.0151%2C0.70839%202.28673%2C1.58959c1.27167%2C0.8812%202.24586%2C1.5597%202.9226%2C2.03554c0.07435%2C0.05216%200.23231%2C0.16554%200.47397%2C0.34031c0.24169%2C0.17488%200.44251%2C0.3162%200.60231%2C0.424c0.15992%2C0.10776%200.35324%2C0.22864%200.58016%2C0.36246c0.22684%2C0.1337%200.44068%2C0.23427%200.64146%2C0.30084c0.20082%2C0.06712%200.38672%2C0.10037%200.55773%2C0.10037l0.01121%2C0l0.01125%2C0c0.17101%2C0%200.35699%2C-0.03329%200.55781%2C-0.10037c0.20071%2C-0.06658%200.41474%2C-0.16726%200.64138%2C-0.30084c0.22677%2C-0.13397%200.42009%2C-0.25474%200.58%2C-0.36246c0.15992%2C-0.1078%200.36058%2C-0.24911%200.60235%2C-0.424c0.24161%2C-0.17492%200.39977%2C-0.28815%200.47412%2C-0.34031c0.68405%2C-0.47584%202.42437%2C-1.68434%205.22043%2C-3.62537c0.54285%2C-0.3791%200.99638%2C-0.83654%201.36071%2C-1.37201c0.36461%2C-0.53523%200.54672%2C-1.09671%200.54672%2C-1.68414c0%2C-0.49088%20-0.17672%2C-0.91109%20-0.52999%2C-1.26058c-0.35324%2C-0.34957%20-0.77161%2C-0.52425%20-1.25483%2C-0.52425l-16.42004%2C0c-0.57258%2C0%20-1.01322%2C0.19332%20-1.32184%2C0.57997c-0.30858%2C0.38672%20-0.46287%2C0.8701%20-0.46287%2C1.45011c0%2C0.4685%200.20457%2C0.97618%200.61353%2C1.52274c0.40891%2C0.5466%200.84408%2C0.9761%201.30508%2C1.28839l0.00002%2C0.00001z%22%20id%3D%22svg_3%22%20fill%3D%22%233BA2D9%22/%3E%3Cpath%20d%3D%22m18.87837%2C5.31796c-2.43565%2C1.64854%20-4.28509%2C2.92973%20-5.54743%2C3.84329c-0.4233%2C0.31179%20-0.7667%2C0.55518%20-1.03042%2C0.72959c-0.26372%2C0.17453%20-0.61445%2C0.35276%20-1.0527%2C0.53462c-0.43809%2C0.18213%20-0.84637%2C0.27293%20-1.2252%2C0.27293l-0.01135%2C0l-0.0112%2C0c-0.37875%2C0%20-0.78726%2C-0.09079%20-1.22535%2C-0.27293c-0.43809%2C-0.18186%20-0.78906%2C-0.3601%20-1.0527%2C-0.53462c-0.26357%2C-0.17441%20-0.60708%2C-0.4178%20-1.03034%2C-0.72959c-1.00264%2C-0.73517%20-2.8481%2C-2.01644%20-5.53647%2C-3.84329c-0.42342%2C-0.28202%20-0.79846%2C-0.60528%20-1.12523%2C-0.96912l0%2C8.84475c0%2C0.49045%200.17445%2C0.90986%200.52354%2C1.25891c0.34901%2C0.34917%200.76869%2C0.5237%201.25887%2C0.5237l16.39785%2C0c0.49006%2C0%200.9097%2C-0.17453%201.25875%2C-0.5237c0.34917%2C-0.34917%200.52354%2C-0.76842%200.52354%2C-1.25891l0%2C-8.84475c-0.3194%2C0.35631%20-0.69061%2C0.67957%20-1.11415%2C0.96912l-0.00001%2C0z%22%20id%3D%22svg_4%22%20fill%3D%22%233BA2D9%22/%3E%3C/svg%3E');
        background-size: 25px auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 50%;
        content: ''
    }

    .mdspost-aside .subscription__header .subscription__title {
        margin-top: 18px;
        font-size: 18px;
        line-height: 21px;
        text-align: center
    }

    .mdspost-aside .subscription__header .subscription--subtitle {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 16px
    }

    .mdspost-aside .subscription__header .subscription__title + .subscription--subtitle {
        margin-top: 4px
    }

    .mdspost-aside .subscription__header + .subscription__aside {
        margin-top: 20px
    }

    .mdspost-aside .subscription__aside {
        display: block;
        margin-left: 0;
        margin-bottom: 0
    }

    .mdspost-aside .subscription__aside .flatbutton--small {
        width: 100%
    }
}

@media (max-width: 750px) {
    .subscription__header {
        display: block
    }

    .subscription__title:first-child {
    / / margin: 0
    }

    .subscription--subtitle:last-child {
        margin-bottom: 10px
    }
}

HTML BODY .i-ljuser {
    text-transform: uppercase;
    font-size: 12px
}

HTML BODY .i-ljuser-username {
    letter-spacing: .05em
}

HTML BODY .i-ljuser-type-P .i-ljuser-profile {
    display: inline-block;
    width: 12px !important;
    height: 12px !important;
    margin: 0 6px 0 0 !important;
    background-position: -1px -1px;
    background-repeat: no-repeat;
    vertical-align: -2px
}

HTML BODY .i-ljuser-type-P .i-ljuser-userhead {
    opacity: 0;
    filter: alpha(opacity=0)
}

@media print {
    HTML BODY .i-ljuser-type-P .i-ljuser-userhead {
        opacity: 1;
        filter: alpha(opacity=1)
    }
}

.mdspost-article .mdspost-extra-follow__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.mdspost {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.mdspost-goback {
    height: 40px;
    margin: 0;
    background: #052F3D;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px
}

.mdspost-goback__link {
    display: none;
    margin: 0;
    color: #CBD0D2
}

.mdspost-goback .mdspost-goback__link:active,
.mdspost-goback .mdspost-goback__link:hover,
.mdspost-goback .mdspost-goback__link:link,
.mdspost-goback .mdspost-goback__link:visited {
    color: #CBD0D2
}

.mdspost-goback__icon {
    margin: 0 5px 0 0;
    vertical-align: -1px;
    fill: #B3C1C5
}

.mdspost-goback__text {
    margin: 0
}

.mdspost-article {
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    background: #FFF
}

.mdspost-article__entry {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 30px
}

.mdspost-furtherdata {
    padding: 0;
    font-size: 14px;
    list-style: none
}

.mdspost-article__entry::after {
    content: "";
    display: table;
    clear: both
}

.mdspost-entry__wrapper {
    width: 100%;
    max-width: 740px;
    margin-right: 40px
}

.mdspost-article__header {
    position: relative;
    margin: 0 0 23px
}

.mdspost-furtherdata {
    margin: 0 0 24px;
    line-height: 1.2;
    color: #A1AEB2
}

.mdspost-furtherdata__item {
    display: inline;
    margin: 0
}

.mdspost-furtherdata A,
.mdspost-furtherdata A:active,
.mdspost-furtherdata A:focus,
.mdspost-furtherdata A:link,
.mdspost-furtherdata A:visited {
    color: #00BAF8
}

.mdspost-furtherdata A:hover {
    color: #000
}

.mdspost-furtherdata__item::before {
    content: "\00b7";
    margin: 0 .1em;
    font-weight: 700
}

.mdspost-title {
    margin: -3px 0 10px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1
}

.mdspost-text::after {
    content: '';
    clear: both
}

.mdspost-text-container {
    position: relative
}

.mdspost-text {
    overflow: hidden;
    font: 19px/1.45 'PT Serif', Georgia, Times, serif;
    color: #242F33
}

.mdspost-text::after {
    display: table
}

@-moz-document url-prefix() {
    .mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start)::first-letter,
    .mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start) > P:first-child::first-letter {
        margin-top: 11px
    }
}

.mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start)::first-letter {
    float: inherit;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit
}

.mdspost-text > :first-child {
    margin-top: 0 !important
}

.mdspost-text > :last-child {
    margin-bottom: 10px;
    text-align: center;
}

.mdspost-text IMG {
    max-width: 100% !important;
    height: auto !important
}

.mdspost-text UL LI {
    position: relative;
    margin-bottom: 20px
}

.mdspost-text UL LI:before {
    position: absolute;
    top: 0;
    left: -28px;
    color: #9B9B9B
}

.mdspost-text UL LI:before {
    content: '\2014'
}

.mdspost-text P {
    margin: 0 0 16px
}

.mdspost-text P:first-child {
    margin-bottom: 13px
}

.mdspost-text A:link {
    color: #00BAF8
}

.mdspost-text A:active,
.mdspost-text A:hover {
    color: #000
}

.mdspost-extra {
    margin-top: 10px
}

.mdspost-extra__follow {
    margin: 20px 0 0
}

.mdspost-extra__follow .mdspost-extra-follow {
    margin: 0 !important;
    padding: 0 !important
}

.mdspost-extra-follow {
    position: relative;
    list-style: none
}

.mdspost-extra-follow::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%)
}

.mdspost-extra-follow__item {
    position: relative;
    min-height: 50px;
    margin: 0;
    padding: 10px 180px 10px 60px
}

.mdspost-extra-follow__item::before {
    content: none
}

.mdspost-extra-follow__item:first-child {
    padding-top: 16px
}

.mdspost-extra-follow__item:last-child {
    padding-bottom: 16px
}

.mdspost-extra-follow__item::after {
    content: "";
    display: table;
    clear: both
}

.mdspost-extra-follow__userpic {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font: 0/0 a
}

.mdspost-extra-follow__item:first-child .mdspost-extra-follow__userpic {
    top: 16px
}

.mdspost-extra-follow__pic {
    position: absolute;
    width: 50px;
    height: 50px;
}

.mdspost-extra-follow__username {
    display: block;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700
}

.mdspost-extra-follow__item .mdspost-extra-follow__friend {
    position: absolute;
    top: 20px;
    right: 0
}

.mdspost-extra-follow__item:first-child .mdspost-extra-follow__friend {
    top: 26px
}

.mdspost-entry__aside {
    width: 300px;
    margin-right: 50px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.mdspost-aside__item {
    margin-bottom: 40px
}

.mdspost-comment-username__name {
    text-transform: uppercase
}

.mdscomments-list:empty {
    display: none
}

.mdspost-article__comments {
    margin: 0;
    padding: 10px 0
}

.mdspost-comments {
    margin: -20px 0 0;
    padding: 20px 0 0
}

.mdscomments-list {
    position: relative;
    margin: 0
}

.b-grove .b-tree.svgpreloader:after {
    display: none;
    position: absolute;
    top: 5em;
    left: 50%;
    margin: -15px 0 0 -15px
}

.mdspost-comments-controls {
    margin: 0;
    padding: 40px 0 0;
    border-top: 1px solid #DADCDD
}

.mdspost-comments-controls--first {
    padding-top: 0;
    border-top: 0
}

.mdspost-comments-controls__meta {
    margin: 0 0 40px
}

.mdspost-comments-controls__count {
    display: inline-block;
    margin-top: -2px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1
}

.mdspost-comments-controls__count:link,
.mdspost-comments-controls__count:visited {
    color: #000
}

.mdspost-comments-controls__count:active,
.mdspost-comments-controls__count:hover {
    color: #00A2D9
}

.mdspost-comments-controls__count[href=""]:active,
.mdspost-comments-controls__count[href=""]:hover {
    color: #000
}

.mdspost-comments-controls__addcomment {
    margin: 0 0 40px
}

.mdspost-comment {
    position: relative;
    min-height: 50px;
    margin: 20px 0 21px;
    padding: 20px 0 0;
    border-top: 1px solid #DADCDD
}

.mdspost-comment__inner {
    margin: 0 0 0 65px
}

.mdspost-comment__header {
    margin: 0 0 3px
}

.mdspost-comment__body {
    min-width: 230px;
    overflow: hidden;
    margin: 0 0 4px;
    color: #202020
}

.mdspost-comment__footer {
    margin: 0;
    font-size: .875em
}

.mdspost-comment-userpic {
    position: absolute;
    top: 25px;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0
}

.mdspost-comment-userpic__pic {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.mdspost-comment-details {
    margin: -2px 0 0
}

.mdspost-comment-username {
    display: inline;
    margin: 0;
    font-size: .75em
}

.mdspost-comment-username::after {
    content: "\00b7";
    margin: 0 .5em 0 .3em;
    font-weight: 700;
    color: #A1AEB2
}

.mdspost-comment-meta {
    display: inline;
    margin: 0;
    font-size: .875em;
    color: #A1AEB2
}

.mdspost-comment-meta::after {
    content: "\00b7";
    margin: 0 .5em;
    font-weight: 700
}

.mdspost-comment-meta A:link,
.mdspost-comment-meta A:visited {
    color: #A1AEB2
}

.mdspost-comment-meta A:active,
.mdspost-comment-meta A:hover {
    color: #00A2D9
}

.mdspost-comment-time {
    margin: 0
}

.mdspost-comment-actions,
.mdspost-comment-actions__item {
    display: inline-block;
    margin: 0
}

.mdspost-comment-actions {
    position: relative;
    padding: 0;
    list-style: none;
    color: #A1AEB2
}

.mdspost-comment-actions A:link,
.mdspost-comment-actions A:visited {
    color: #1BA3D7
}

.mdspost-comment-actions A:active,
.mdspost-comment-actions A:hover {
    color: #000
}

.mdspost-comment-actions__item:not(:last-child)::after {
    content: "\00b7";
    margin: 0 .5em;
    font-weight: 700
}

.mdspost-comment-actions.svgpreloader::after {
    display: none;
    top: 1px;
    right: -20px
}

.mdspost-article .mdspost-furtherdata {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

@media all and (max-width: 1000px) {

    .mdspost-title {
        font-size: 40px
    }

    .mdspost-text-container {
        margin-left: 0
    }

    .mdspost-article__entry {
        display: block;
        width: 100%;
        max-width: 740px;
        margin: 0 auto
    }

    .mdspost-entry__wrapper {
        width: 100%;
        margin: 0
    }

    .mdspost-entry__content {
        margin-right: 0
    }

    .mdspost-entry__aside {
      display: none;
    }

    .mdspost-aside__item {
        margin-bottom: 30px
    }
}

@media all and (max-width: 650px) {

    .mdspost-thread--level-1 {
        margin-left: 0 !important
    }
}

@media all and (min-width: 550.1px) {
    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        min-width: 158px
    }
}

@media all and (max-width: 550px) {
    .mdspost-comment__body {
        min-width: 0
    }

    .mdspost-article__entry {
        padding-top: 12px
    }

    .mdspost-furtherdata {
        margin-top: -2px;
        margin-bottom: 12px
    }

    .mdspost-furtherdata {
        font-size: 11px
    }

    .mdspost-article__header--bordered {
        margin-bottom: 20px
    }

    .mdspost-title {
        margin-bottom: 13px;
        font-size: 31px;
        line-height: .98
    }

    .mdspost-text {
        font-size: 18px;
        line-height: 1.4
    }

    .mdspost-text > P {
        overflow: hidden
    }

    .mdspost-text P:first-child,
    .mdspost-text UL {
        margin-bottom: 20px
    }

    .mdspost-text UL LI {
        margin-bottom: 10px
    }

    .mdspost-extra {
        margin-top: 20px
    }

    .mdspost-extra-follow__item {
        padding-right: 50px
    }

    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        top: 18px;
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        line-height: 48px
    }

    .mdspost .mdspost-extra-follow .mdspost-extra-follow__item .mdspost-extra-follow__friend-text {
        display: none
    }
}

@media all and (max-width: 480px) {
    .mdspost-furtherdata__item {
        display: block
    }
}

.mdspost-article .mdspost-furtherdata {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .03px;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #8C969B
}

.mdspost-article .mdspost-extra-follow__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    padding: 0
}

.mdspost-article .mdspost-extra-follow__item:first-child {
    margin-top: 0
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__userpic {
    position: static;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    margin-bottom: 13px;
    margin-right: 0
}

.mdspost-article .acomments .ljuser .i-ljuser-profile,
.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-profile,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-profile {
    width: auto !important;
    height: auto !important;
    margin-right: 4px !important;
    background-image: none !important
}

.mdspost-article .acomments .ljuser .i-ljuser-userhead,
.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-userhead,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-userhead {
    opacity: 1 !important;
    vertical-align: baseline !important
}

.mdspost-article .mdspost-extra-follow__username {
    margin: 0 0 16px
}

.mdspost-article .acomments .ljuser .i-ljuser-username,
.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-username,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-username {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    letter-spacing: inherit
}

.mdspost-article .acomments .ljuser .i-ljuser-username b,
.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-username b,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-username b {
    font-weight: 400
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__friend {
    position: static;
    min-width: 0;
    font: 400 16px/1 ProximaNova, Helvetica, sans-serif;
    text-transform: none;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: #D4DCE0;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__friend:hover {
    border-color: #BDC8CD
}

@media (max-width: 550px) {
    .mdspost .mdspost-extra-follow .mdspost-extra-follow__item .mdspost-extra-follow__friend-text {
        display: inline-block
    }

    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        width: auto;
        height: auto
    }
}

.aentry-head__userpanel,
.aentry-head__userpic-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.aentry-post {
    word-wrap: break-word
}

.aentry-head__info a,
.aentry-head__userpic-img {
    text-decoration: none
}

.aentry-head__userpanel {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.aentry-head__userpic {
    margin-right: 16px
}

.aentry-head__userpic-img {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden
}

.aentry-head__userpic img {
    width: 100%;
    height: auto;
    margin: 0
}

.aentry-head__block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(100% - 100px);
    min-height: 62px;
    margin: 0 -4px
}

.aentry-head__list {
    min-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0
}

.aentry-head__info {
    margin: 0 4px 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    color: #8C969B
}

.aentry-head__info:last-child {
    margin-right: 0
}

.aentry-head__info a {
    color: #8C969B
}

.aentry-head__date {
    margin: 0 4px;
    font-size: 14px;
    font-weight: 400;
    color: #8C969B;
    line-height: 16px;
    letter-spacing: .03px
}

.aentry-head__date TIME {
    margin-right: .5em
}

.aentry-head__rating {
    color: #8C969B
}

.aentry-head__rating::before {
    content: "\00b7";
    margin: 0 .3em 0 .1em;
    font-weight: 700
}

.aentry-head__adv-panel {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 0 12px;
    white-space: nowrap
}

@media (max-width: 520px) {
    .aentry-head__adv-panel {
        display: none
    }
}

.aentry-head__adv-panel--post-media {
    margin: 14px 0
}

.mdspost-entry__wrapper .aentry-head__username {
    margin-right: 0
}

.aentry-head__username {
    line-height: 0
}

.aentry-head__username .i-ljuser-username {
    vertical-align: text-bottom;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #00A3D9;
    text-decoration: none
}

.aentry-head__username .i-ljuser-username b {
    font-weight: 400
}

.aentry-head__username .i-ljuser-profile {
    margin-right: 4px !important
}

.aentry-head__username .i-ljuser-profile img {
    margin: 0 !important;
    box-sizing: border-box
}

.aentry-post {
    width: 100%;
    max-width: 772px;
    padding: 0 16px;
    margin: 0 auto 20px;
    box-sizing: border-box
}

.aentry-post.mdspost-entry__content {
    max-width: 740px;
    padding: 0
}

.aentry-post .mdspost-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -.95px
}

.aentry-post .mdspost-title {
    margin-top: 32px
}

.aentry-post__text {
    -webkit-flex-basis: 400px;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.aentry-post__text {
    font: 400 20px/28px 'PT Serif', Georgia, Times, serif
}

.aentry-post__text::after {
    content: "";
    display: block;
    clear: both
}

.aentry-post__text a {
    color: #00A3D9;
    border-bottom: 1px solid rgba(0, 163, 217, .25);
    cursor: pointer
}

.aentry-post__text a:hover {
    color: #00C0FF;
    border-bottom: 1px solid rgba(0, 192, 255, .25)
}

.aentry-post__text ul {
    font: 400 20px/28px 'PT Serif', Georgia, Times, serif
}

.aentry-post__text li {
    margin-top: 0;
    margin-bottom: 14px
}

.aentry-post__text ul li {
    position: relative;
    list-style-type: none
}

.aentry-post__text ul li::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -20px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #333
}

@media (max-width: 1000px) {
    .aentry-post.mdspost-entry__content {
        max-width: 100%;
        margin-right: 0;
        padding: 0
    }
}

@media (max-width: 750px) {
    .aentry-post {
        width: 100%
    }
}

@media (max-width: 520px) {

    .aentry-post__text {
        margin-bottom: 35px
    }

    .aentry-post__text p {
        margin-bottom: 10px
    }
}

.acomments {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto
}

.acomments .mdspost-comments-controls__meta {
    margin-bottom: 20px
}

.acomments .mdspost-comment-username__name {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    z-index: 2
}

.acomments .mdspost-comment-username__name .i-ljuser-profile {
    margin-right: 4px !important
}

.acomments .mdspost-comment-username__name .i-ljuser-profile img {
    box-sizing: border-box
}

.acomments .mdspost-comment {
    border-top: 0;
    padding: 0;
    margin: 0 0 24px
}

.acomments .mdspost-comment:not(.mdspost-comment--poster) {
    padding: 0
}

.acomments .mdspost-comment__inner {
    margin-left: 0
}

.acomments .mdspost-comment-userpic {
    position: absolute;
    top: 3px;
    left: 4px;
    display: block;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 4px;
    z-index: 4
}

.acomments .mdspost-comment-userpic__pic {
    border-radius: 4px
}

.acomments .mdspost-comment-meta,
.acomments .mdspost-comment-username,
.acomments .mdspost-comment__body,
.acomments .mdspost-comment__footer {
    font-size: 16px;
    font-weight: 400
}

.acomments .mdspost-comment-username {
    display: inline-block;
    margin-bottom: 5px
}

.acomments .mdspost-comment__body {
    max-width: 860px;
    padding-left: 4px
}

.acomments .mdspost-comment__footer {
    padding-left: 4px
}

.acomments .mdspost-comment__header {
    position: relative;
    padding: 4px 4px 4px 44px;
    margin-bottom: 4px;
    background-color: #F8F8F8;
    border: 1px solid transparent;
    border-radius: 6px
}

.acomments .i-ljuser-username {
    color: #333
}

.acomments .mdspost-comment-actions__item:not(:last-child)::after {
    display: none
}

.acomments .mdspost-comment-actions__item {
    padding: 1px 0 3px;
    margin-right: 16px
}

.acomments .mdspost-comment-actions__item:last-child {
    margin-right: 0
}

.acomments .mdspost-comment-details {
    margin-top: 3px
}

@media (max-width: 1400px) {
    .acomments {
        width: 100%;
        padding: 0 70px;
        box-sizing: border-box
    }

    .acomments.mdspost-article__comments {
        padding: 0
    }
}

@media (max-width: 1100px) {
    .acomments {
        padding: 0 20px
    }

    .acomments.mdspost-article__comments {
        padding: 0
    }

    .acomments .mdspost-comment__body {
        width: 100%
    }
}

@media (max-width: 750px) {
    .acomments .mdspost-comment-meta::after {
        display: inline-block
    }
}

@media (max-width: 580px) {
    .acomments .mdspost-comment-details {
        display: inline-block;
        margin-top: 3px
    }

    .acomments .mdspost-comment-userpic {
        top: 4px
    }

    .acomments .mdspost-comment-username__name {
        display: inline-block;
        margin-bottom: 6px
    }

    .acomments .mdspost-comment-meta::after,
    .acomments .mdspost-comment-username::after {
        display: none
    }

    .acomments .mdspost-comment-meta {
        margin-right: 5px
    }
}

.categories__wrap-inner,
.categories__wrap-outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.categories {
    font: 14px/1 ProximaNova, Helvetica, sans-serif
}

@media (max-width: 1200px) {
    .categories {
        display: none;
    }
}

.categories__wrap-outer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 54px;
    box-shadow: 0 0 10px 1px rgba(100, 100, 100, .25);
    background: #FFF;
    z-index: 50
}

.categories__wrap-inner {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.categories__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.categories__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0
}

.categories__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    list-style: none;
    padding: 0
}

.categories__item:first-child .categories__link {
    padding-left: 0
}

.categories__item:first-child .categories__link::after {
    left: 0;
    width: calc(100% - 12px);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.categories__link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s
}

.categories__link:active,
.categories__link:visited {
    color: #333
}

.categories__link:focus,
.categories__link:hover {
    outline: 0;
    color: #00A3D9
}

.categories__item--more {
    display: none
}

.categories__item--more .categories__link {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: inherit
}

@media all and (min-width: 650.1px) {

    @supports ((-webkit-filter:blur(1px)) or (filter:blur(1px))) {
    }
}

.plista_widget_sidebar {
    background: transparent;
    width: auto;
    height: auto;
    margin: 10px 0 15px 0
}

.plista_widget_sidebar .plistaAllOuter {
    display: block;
    -webkit-font-smoothing: antialiased
}

.plista_widget_sidebar a,
.plista_widget_sidebar a:hover {
    text-decoration: none !important
}

.plista_widget_sidebar .itemLink {
    position: relative;
    display: block;
    text-transform: none;
    text-decoration: none;
    overflow: hidden;
    background: transparent;
    width: auto;
    height: auto;
    float: none;
    border: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #EAEEF0
}

.plista_widget_sidebar .plistaHeadline {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 10px 0 5px;
    font-family: 'ProximaNova', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #242F33
}

.plista_widget_sidebar .itemTitle {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 1px 0 6px;
    padding: 0;
    font-family: 'ProximaNova', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 17.6px;
    color: #333
}

.plista_widget_sidebar .itemAuthor {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    margin: 0 0 6px 0;
    padding: 0;
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 16.8px;
    color: #00A3D9
}

.plista_widget_sidebar .itemTimereading {
    position: relative;
    display: inline-block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0 0 0 15px;
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16.8px;
    color: #A1AEB2
}

.plista_widget_sidebar .plista_widget_imgwrapper {
    position: relative;
    line-height: 0;
    margin: 3px 3% 3px 0 !important;
    width: 40% !important;
    float: left;
    height: auto !important
}

.plista_widget_sidebar .plista_widget_imgwrapper img {
    border: none;
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.plista_widget_sidebar .plista_widget_imgwrapper + .itemTitle {
    margin: 1px 0 6px 23%
}

.plista_widget_sidebar .plistaClear {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 1px
}

@media screen and (max-width: 320px) {

    .plista_widget_sidebar .plista_widget_imgwrapper {
        line-height: 0;
        margin: auto !important;
        width: 100% !important;
        height: auto !important
    }

    .plista_widget_sidebar .plista_widget_imgwrapper img {
        height: auto !important
    }

    .plista_widget_sidebar .plista_widget_imgwrapper + .itemTitle {
        margin: 1px 0 6px 0
    }
}

@charset "UTF-8";
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

._uy {
    font: 400 14px/1 "ProximaNova", Helvetica, sans-serif;
    color: #333;
    border: 0;
    display: inline-flex;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    align-items: center;
    user-select: none;
    justify-content: center;
    text-decoration: none;
    background-color: #FFF;
}

._4m {
    height: 17px;
    border: 0;
    display: inline-block;
    padding: 0;
    outline: 0;
    position: relative;
    font-size: 0;
    font-family: inherit;
    background-color: transparent;
}

._4m:active ._4o svg {
    fill: #A8B3B9;
}

._4m:active ._4q {
    color: #A8B3B9;
}

._4m:hover ._4o svg,
._4m:hover svg path {
    fill: #5B5F61;
    transition: fill .2s ease;
}

._4m:hover ._4o .svgicon--lj path:nth-child(2) {
    fill: #FFF;
    transition: fill .2s ease;
}

._4m:hover ._4q {
    color: #5B5F61;
    transition: fill .2s ease;
}

._4o {
    width: 17px;
    height: 17px;
    display: inline-block;
    opacity: 0.5;
    transition: all .2s ease;
}

._4o svg {
    width: 16px;
    height: 16px;
}

._4o .svgicon--lj,
._4o .svgicon--fb,
._4o .svgicon--twitter,
._4o .svgicon--comments {
    width: 17px;
    height: 17px;
}

._4o svg {
    fill: #838B8E;
}

._4q {
    color: #838B8E;
    height: 16px;
    margin: 0 0 0 8px;
    display: inline-block;
    opacity: 0.5;
    font-size: 14px;
    transition: fill .2s ease;
    font-weight: 600;
    line-height: 20px;
    vertical-align: top;
}

._4r {
    opacity: 1;
}

._4s {
    opacity: 1;
}

._4s:visited {
    color: #838B8E;
}

._5f {

    height: 16px;
    border: 0;
    display: inline-block;
    padding: 0;
    outline: 0;
    transition: all .2s ease;
    background-color: transparent;
}

._5f span {

    height: 16px;
}

._5f .svgicon {
    fill: #838B8E;

    height: 16px;
}

._5i {
    color: #838B8E;
    height: 16px;
    margin: 0 0 0 8px;
    border: 0;
    display: inline-block;
    outline: 0;
    position: relative;
    font-size: 14px;
    transition: fill .2s ease;
    font-weight: 600;
    line-height: 20px;
    vertical-align: top;
    background-color: transparent;
}

._5i:visited {
    color: #838B8E;
}

._4c {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    line-height: 23px;
}

._4d {
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    display: flex;
}

._4e {
    margin: 0 24px;
    vertical-align: top;
}

._4f {
    height: 16px;
    display: inline-block;
    font-size: 0;
    transition: fill .2s ease;
}

._4f svg {
    width: 16px;
    height: 16px;
}

._4h {
    margin-left: auto;
}

._4h ._4e:last-child {
    margin-right: 0;
}

._56:last-child {
    margin-right: 0;
}

._57 {
    opacity: 1;
}

@media (max-width: 750px) {
    ._56:last-child {
        margin-right: 24px;
    }
}

@media (max-width: 430px) {
    span._4d._4h._4f {
        display: none;
    }
}
