
<div class="section section_application">
    <div class="container">
        <div class="application">
            <div class="section__title application__title" data-aos="fade-up">Способ <span>применения:</span></div>
            <div class="application__list">
                <div class="application__item" data-aos="zoom-in" data-aos-delay="200" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-1.jpg" alt=""></div>
                    <div class="application__count">1.</div>
                    <div class="application__description">
                        Нанесите крем <span>на чистую и сухую</span> кожу и равномерно распределите по воспаленной области.
                    </div>
                </div>
                <div class="application__item" data-aos="zoom-in" data-aos-delay="300" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-2.jpg" alt=""></div>
                    <div class="application__count">2.</div>
                    <div class="application__description">
                        Сделайте легкий массаж. 
                    </div>
                </div>
                <div class="application__item" data-aos="zoom-in" data-aos-delay="400" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-3.jpg" alt=""></div>
                    <div class="application__count">3.</div>
                    <div class="application__description">
                        В зависимости <span>от степени</span> заболевания, <span>наносите крем </span> 2-3 раза в день.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
