
<section class="section section_extract">
    <div class="container">
        <div class="extract">
            <div class="section__title extract__title" data-aos="fade-up">Osteowell не имеет противопоказаний </div>
            <div class="extract__subtitle" data-aos="fade-up">Osteowell не имеет побочного эффекта, поскольку изготовлен из экологически чистого сырья и натуральных ингредиентов. Активная формула крема не содержит химических соединений, негативно влияющих на здоровье человека.</div>
            <div class="extract__body">
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="100">Экстракт смолы босвеллии:</div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">снимает болевой синдром и воспаление; </li>
                            <li data-aos="fade-right" data-aos-delay="200">улучшает подвижность суставов; </li>
                            <li data-aos="fade-right" data-aos-delay="300">обеспечивает питательную поддержку опорно-двигательного аппарата.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="200">Экстракт арники монтаны: </div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">уменьшает выпирающую косточку; </li>
                            <li data-aos="fade-right" data-aos-delay="200">снимает отечность; </li>
                            <li data-aos="fade-right" data-aos-delay="300">устраняет ощущение скованности в суставах; </li>
                            <li data-aos="fade-right" data-aos-delay="400">предотвращает болезни стоп.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="300">Троксерутин</div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">способствует быстрому восстановлению костной и хрящевой тканей; </li>
                            <li data-aos="fade-right" data-aos-delay="200">улучшает кровоснабжение; </li>
                            <li data-aos="fade-right" data-aos-delay="300">снижает проницаемость стенок сосудов, уменьшает их ломкость.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>