
<div class="section section_order">
    <div class="container">
        <div class="order">
            <div class="section__title order__title">Как сделать заказ?</div>
            <div class="order__list">
                <div class="order__item" data-aos-delay="200" data-aos-offset="200" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-1.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Заполните форму заказа
                    </div>
                </div>
                <div class="order__item" data-aos-delay="200" data-aos-offset="300" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-2.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Дождитесь звонка оператора
                    </div>
                </div>
                <div class="order__item" data-aos-delay="200" data-aos-offset="400" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-3.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Внесите предоплату или оплатите товар при получении
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
