
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-right">Мнение специалиста</div>
            <div class="professional__body">
                <p data-aos="fade-right" data-aos-delay="100">До появления препарата Osteowell, Hallux valgus можно было убрать только оперативным путем. Лечение при помощи шин, мазей и пероральных средств таблеток только убирали симптомы и снимали воспаление. Деформация не развивалась, но полностью не уходила. </p>
                <p data-aos="fade-right" data-aos-delay="200">Новая разработка от вальгусной деформации стопы Osteowell первое средство которое уменьшает размеры шишки, убирает воспаления и убирает отложения мочевой кислоты. При правильной терапии, деформированный сустав становится на место без хирургического вмешательства. Чем раньше начать применение  Osteowell при лечении Hallux valgus, тем быстрее будет результат.</p>
            </div>
            <div class="professional__footer">
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
                <div class="professional__name">
                    <span>Lionel Morton,</span>
                    <span>травматолог-ортопед</span>
                </div>
            </div>
            <div class="professional__human" data-aos="fade-left" data-aos-delay="100">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>
