
<section class="section section_step">
    <div class="container">
        <div class="step">
            <div class="section__title step__title" data-aos="fade-up">Механизм действия Osteowell</div>
            <div class="step__body">
                <div class="step__item">
                    <div class="step__week step__week_1" data-aos="fade-up" data-aos-delay="100">1 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="200">Проникает в глубокие слои кожи и снимает острые и хронические воспалительные процессы, уменьшает выраженность болей и улучшает подвижность сустава.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_2" data-aos="fade-up" data-aos-delay="200">2 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="200">Стимулирует вывод жидкости из сустава и рассасывание воспалительных отеков. Исключает натирание кожи, образование натоптышей и  мозолей.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_3" data-aos="fade-up" data-aos-delay="300">3 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="300">Восстанавливает кровоснабжение и выводит соли мочевой кислоты, уменьшая выпирающую косточку.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_4" data-aos="fade-up" data-aos-delay="400">4 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="300">Восстанавливает суставную ткань и предупреждает распространение патологии на здоровые суставы стопы.</div>
                </div>
            </div>
        </div>
    </div>
</section>