<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Osteowell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="Для красоты и здоровья ваших ног">
    <meta property="og:description" content="Для красоты и здоровья ваших ног">
    <meta name="twitter:description" content="Для красоты и здоровья ваших ног">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Osteowell">
    <meta name="twitter:title" content="Osteowell">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="ноги, помощь, красота ног, крем для ног">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Osteowell">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title">Не бойтесь хирургов – <mark>они вам не понадобятся!</mark></div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> шишек</mark> 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> операций</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> рецидивов</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    Без <mark>боли</mark>
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать сейчас </span>по скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="section section_what" data-aos="fade-right">
    <div class="container">
        <div class="what">
            <div class="section__title what__title">Вальгус – <mark>это трагедия</mark></div>
            <div class="what__box">
                <div class="what__item">
                    <div class="what__description">Визуальное искривление первых пальцев стоп</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Качество жизни неуклонно падает</div>
                </div>
                <div class="what__item">
                    <div class="what__description">В закрытой обуви ноги начинают ныть через 3-4 часа</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Развивается хронический воспалительный процесс</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Дискомфорт при ходьбе, по мере развития заболевания – в состоянии покоя</div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up"><span>Они уже почувствовали</span>
                свободу движений!</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Camilla <span>Stone</span></div>
                    <div class="commits__description">
                        Думала, что мне уже ничего не поможет. Я носила шины, пила таблетки, пользовалась мазями. Подумывала об операции, но для меня это очень дорого. Спасибо моему новому доктору, именно он выписал мне Osteowell. Уже через неделю я забыла о боли, мозолях и отеках. А к концу курса шишка стала в два раза меньше. Я очень довольна, буду пользоваться еще. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-1.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Alannah <span>Haynes</span></div>
                    <div class="commits__description">
                        Чтобы убрать косточку на ноге я очень много читала и консультировалась с врачами. Но ни народное лечение, ни аптечные средства и лечебная физкультура с физиотерапией мне не помогли. Косточка только росла. Сейчас для устранения этого дефекта я делаю массаж стопы с применением крема Osteowell. И я очень удивлена результатом, точнее тем, что он есть и он достаточно значительный! Так что всем рекомендую.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-2.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Lindsey <span>Hutchinson</span></div>
                    <div class="commits__description">
                        Я больше никогда не буду делать операцию, чтобы вырезать шишку. Она очень болезненная. А самое главное, что прошел уже год, а отечность и боль не прошли. И шишка стала опять расти. Мне посоветовали Osteowell. Я была удивлена, но он сразу снял отек и болевые ощущения. Шишка больше не растет, пользуюсь для профилактики на двух ногах. Знала бы раньше о нем, может быть все обошлось без операции.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_info" data-aos="fade-right">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title">Не бойтесь хирургов – <mark>они вам не понадобятся!</mark></div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> шишек</mark> 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> операций</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> рецидивов</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    Без <mark>боли</mark>
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать сейчас </span>по скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="section section_footer">
        <footer>
            <div class="container">
                <div class="adress" data-aos="fade-up">
                     <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                         <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                     </p>
                </div>
            </div>
        </footer>
    </section>
    <body>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
