
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-1.jpg" alt="">
                    </div>
                    <div class="commits__name">Лина, <span>60 лет</span></div>
                    <div class="commits__description">
                        Вальгус обезобразил мои ноги, когда начался климакс. Ступни ныли в обуви во время прогулок, дошло до дискомфа даже во время сидения. Около года длилось. Решилась на операцию, дети настаивали, перед ней пробовала все доступные методы. Все аптечные пробовала, чулки, шины, днём, ночью – всё без толку. Помог мне OSTEOWELL! Делала массаж дважды в день, физкультуру лечебную, очень вылечиться хотела. В аптеке вы его не найдёте, покупайте сразу, если встретите. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-1.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-2.jpg" alt="">
                    </div>
                    <div class="commits__name">Вилма, <span>53 года</span></div>
                    <div class="commits__description">
                        Я пришла к врачу, когда уже сильное отклонение пальцев было, 30 градусов. Ходить могла совсем понемногу, приходилось останавливаться отдыхать. Ныли суставы, ныли, ныли, распухли, пальцы уехали в сторону. Удалила на одной ноге, две за раз не делают. Ходила на костылях после удаления, долго восстанавливалась. Вторую я после этого решила не оперировать. Через 2 года шишка вернулась. Врача мне посоветовали, а он уже про OSTEOWELL рассказал. Это единственное, что без операции поможет. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-2.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-3.jpg" alt="">
                    </div>
                    <div class="commits__name">Анна, <span>41 год</span></div>
                    <div class="commits__description">
                        У меня "шишка" наследственная. У бабушки первый палец ноги заходит на второй, у мамы примерно так же. Мне повезло чуть больше, пока все ограничивается шишкой и дискомфортом. Честно говоря, я уже смирилась, даже лечения никакого не искала. И не стала бы что-то делать с шишками, если бы подруга не подарила OSTEOWELL. Я, конечно, пользовалась им, все как положено. Где-то через неделю заметила, что ноги перестали уставать так сильно, потом и вовсе шишка как будто сдулась. Поверить не могу, это лечится! Заказала маме и бабушке теперь – хочу, чтобы они тоже избавились от вальгуса.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-3.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-4.jpg" alt="">
                    </div>
                    <div class="commits__name">Николай, <span>45 лет </span></div>
                    <div class="commits__description">
                        Полгода назад травмировал ногу на работе. На ноге вылезла шишка, которая за два месяца стала просто огромной. Она болела, носить обувь стало невозможно. Кое-как дошел до врача, тот сказал, что только операция и больше никак. Читал я про эти операции, последствия там ужасные, в общем, не стал ее делать. Нога болеть не переставала, пока знакомая не посоветовала OSTEOWELL. За первую неделю боль пропала, шишка стала меньше. За полтора месяца я полностью от нее избавился. Очень рад, что нашлась альтернатива операции.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
