
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы <span>об Prostaline</span></div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__name">Гарет, 42 года, избавился от простатита  за 2 недели!</div>
                    <div class="commits__info">
                        <div class="commits__face">
                            <img src="../media/commits/face-1.jpg" alt="">
                        </div>
                        <div class="commits__description">
                            Мало того, что проблема деликатная, так еще и проявление ее очень странное – во время оргазмов стал чувствовать боль. Врач объяснил, что это простатит так себя проявляет, и подтвердил диагноз. Готовился к худшему, пока не нашел Prostaline. Через неделю симптомов болезни уже не было. Полностью вылечился, когда закончил курс. От себя хочу сказать, что средство хорошее, действенное, рекомендую однозначно.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">Пруденс, 29 лет, избавился от простатита за 4 недели!</div>
                    <div class="commits__info">
                        <div class="commits__face">
                            <img src="../media/commits/face-2.jpg" alt="">
                        </div>
                        <div class="commits__description">
                            Я пью очень много воды и соответственно часто бегаю в туалет. Чтобы как-то сократить число забегов – терпел до последнего. Но последние полгода терпеть становилось тяжелее, а ходить в туалет больнее. Потом начались проблемы с эрекцией и я понял, что это простатит. Дотерпелся. Осмелился и пошел к врачу. Тот подтвердил диагноз и назначил курс Prostaline. Все прошло буквально за пару недель, а после курса никаких рецидивов.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">Норт, 49 год, избавился от простатита за 5 недель!</div>
                    <div class="commits__info">
                        <div class="commits__face">
                            <img src="../media/commits/face-3.jpg" alt="">
                        </div>
                        <div class="commits__description">
                            Простатит у меня начался внезапно. С одного момента каждую ночь возникало срочное желание сходить в туалет, которое сопровождалось сильным жжением и болью. Когда пошел к врачу и сдал анализы – поставили диагноз простатит. Врач сказал, что я вовремя обратился, болезнь только начинала прогрессировать. Выписал курс Prostaline. Буквально через пару дней все боли пропали, желание сходить в туалет стали куда реже. После курса никаких симптомов, повторная сдача анализов простатит не выявили.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
