<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title" data-aos="fade-right">Prosta<mark>line</mark></div>
                    <div class="face__subtitle">надёжное <mark>решение</mark> деликатной проблемы</div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <div class="face__list-description">
                                    <mark>снимает</mark> воспалительный процесс
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <div class="face__list-description">
                                    <mark>избавляет</mark> от болевого синдрома
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <div class="face__list-description">
                                    <mark>нормализует</mark> мочеиспускание 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <div class="face__list-description">
                                    <mark>улучшает</mark> сексуальную жизнь
                                </div>
                            </div>
                            <div class="face__price">
                                <div class="face__price-new">
                                    новая цена:
                                    <span>39€</span>
                                </div>
                                <div class="face__price-old">
                                    старая цена: 78€
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/face/product.png" alt="">
                            <div class="face__product-popular">
                                Хит <span>продаж</span>
                            </div>
                            <div class="face__product-natural">
                                100% <span>natural</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <form class="form">
                        <div class="form__time">
                            <div class="form__time-title">До окончания акции осталось:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">Филиппины</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <button class="form__btn">Купить <mark>по акции</mark></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>