<head>
    <meta charset="utf-8">

    <title>Prostaline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="Prostaline">
    <meta property="og:description" content="Prostaline">
    <meta name="twitter:description" content="Prostaline">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Prostaline">
    <meta name="twitter:title" content="Prostaline">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Prostaline">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Prostaline">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович">

    <link rel="stylesheet" href="../css/style.css">
</head>
