
<section class="section section_help">
    <div class="container">
        <div class="help" data-aos="fade-right">
            <div class="help__box">
                <div class="help__product">
                    <img src="../media/help/product.png" alt="">
                    <div class="help__product-discond">
                        Скидка <mark>50%</mark>
                    </div>
                </div>
                <div class="help__btn">
                    <a href="">Купить <mark>по акции</mark></a>
                </div>
            </div>
            <div class="help__box">
                <div class="section__title help__title">Prosta<mark>line</mark></div>
                <div class="help__subtitile section__title_arrow section__title_red"><mark>восстанавливает</mark> мужское здоровье до физиологической нормы</div>
                <div class="help__subtitile">Избавьтесь от простатита с помощью натурального средства</div>
                <div class="help__list">
                    <div class="help__item">снимает болевые ощущения</div>
                    <div class="help__item">избавляет от отёка и воспаления простаты</div>
                    <div class="help__item">восстанавливает здоровье мочеполовой системы</div>
                    <div class="help__item">стимулирует половую функцию</div>
                    <div class="help__item">снижает риск развития опухолей</div>
                    <div class="help__item">предупреждает рецидив заболевания</div>
                </div>
            </div>
        </div>
    </div>
</section>
