
<section class="section section_important">
    <div class="container">
        <div class="important" data-aos="fade-right">
            <div class="section__title section__title_red section__title_arrow important__title">Пожалуйста, обратите внимание! <mark>Количество упаковок Prostaline, необходимое для желаемого результата, определяется индивидуально и в отдельных случаях может увеличиться.</mark>
        </div>
    </div>
</section>
