
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients" data-aos="fade-right">
            <div class="section__title section__title_arrow section__title_red ingredients__title">Активный комплекс Prostaline <mark>восстанавливает работу предстательной железы</mark></div>
            <div class="ingredients__body">
                <div class="ingredients__box">
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-1.png" alt="">
                        </div>
                        <div class="ingredients__name">Африканская слива </div>
                        <div class="ingredients__description">Снижает отек и воспаление простаты, задерживает развитие асептического воспаления, препятствует избыточному росту фибробластов в простате, предупреждает образование опухолевой ткани.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-2.png" alt="">
                        </div>
                        <div class="ingredients__name">Гранат</div>
                        <div class="ingredients__description">Эффективен для профилактики опухолей предстательной железы, замедляет рост раковых клеток. Обладает выраженным противовоспалительным действием.</div>
                    </div>
                </div>
                <div class="ingredients__wrap">
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-3.png" alt="">
                        </div>
                        <div class="ingredients__name">Пальма сабаль</div>
                        <div class="ingredients__description">Стимулирует функцию гормональной системы в выработке тестостерона. Укрепляет потенцию. Предотвращает образование фиброзной ткани.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-4.png" alt="">
                        </div>
                        <div class="ingredients__name">Ликопин</div>
                        <div class="ingredients__description">Борется со всеми факторами мужского сексуального старения. Антиоксидант, препятствует разрастанию и миграции опухолевой ткани, уменьшает риск развития рака простаты.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-5.png" alt="">
                        </div>
                        <div class="ingredients__name">Семена тыквы</div>
                        <div class="ingredients__description">Восстанавливают механизм эрекции и укрепляют иммунитет. Предотвращают развитие воспаления предстательной железы, устраняет застой в мочевой системе.</div>
                    </div>
                    <div class="ingredients__product">
                        <div class="ingredients__product-popular">
                            <mark>100% </mark> natural
                        </div>
                        <img src="../media/ingredients/product.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
