
<section class="section section_often">
    <div class="container">
        <div class="often" data-aos="fade-right">
            <div class="section__title section__title_arrow section__title_gold often__title">Самые частые проявления простатита:</div>
            <div class="often__description">
                <span><mark>боль и жжение</mark> при мочеиспускании</span>
                <span><mark>проблемы с эрекцией,</mark> снижение потенции</span>
                <p>Если простатит <b>не лечить,</b> симптомы станут более выраженными. Каждый поход в туалет будет пыткой, а <b>секс исчезнет из вашей жизни.</b></p>
            </div>
        </div>
    </div>
</section>
