
<section class="section section_professional">
    <div class="container">
        <div class="professional" data-aos="fade-right">
            <div class="professional__list">
                <div class="section__title professional__title">Мнение специалиста</div>
                <div class="professional__description">
                    <p><mark>С простатитом рано или поздно сталкивается любой мужчина.</mark> Без должного лечения это заболевание приводит к тяжелым последствиям – таким, как бесплодие и импотенция. Именно поэтому очень важно не упустить момент и начать терапию как можно скорее.</p>
                    <p><mark>Сегодня все больше врачей отдает предпочтение натуральным средствам. Мой фаворит среди них – препарат Prostaline.</mark> <span>Он состоит из природных компонентов, что гарантирует отсутствие побочных эффектов, помогает снимать болевые ощущения и воспаление простаты. Курсовое применение Prostaline улучшает работу всей мочеполовой системы мужчины, стимулирует потенцию, повышает качество семени».</span></p>
                    <div class="professional__id">
                        <img src="../media/professional/id.png" alt="">
                    </div>
                </div>
                <div class="professional__human">
                    <img src="../media/professional/human.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
