
<section class="section section_reasons">
    <div class="container">
        <div class="reasons" data-aos="fade-right">
            <div class="section__title section__title_arrow section__title_red reasons__title">Причины простатита</div>
            <div class="reasons__list">
                <div class="reasons__list-item">
                    <span><b>инфекции</b>, передаваемые половым путём</span>
                    <span>нарушение кровообращения <b>(сидячий образ жизни)</b></span>
                </div>
                <div class="reasons__list-item">
                    <span><b>гормональный</b> дисбаланс</span>
                    <span><b>дефицит витаминов</b> и минералов</span>
                </div>
                <div class="reasons__list-item">
                    <span><b>хронические</b> стрессы</span>
                    <span><b>прерванный</b> половой акт</span>
                </div>
                <div class="reasons__list-item">
                    <span><b>нерегулярная</b> половая жизнь, воздержание</span>
                    <span><b>несоблюдение</b> личной гигиены</span>
                </div>
            </div>
        </div>
    </div>
</section>
