
<section class="section section_term">
    <div class="container">
        <div class="term" data-aos="fade-right">
            <div class="section__title term__title"><span>ЧЕМ СТАРШЕ МУЖЧИНА,</span> ТЕМ <mark>ВЫШЕ РИСК!</mark></div>
        </div>
    </div>
</section>
