
<section class="section section_warning">
    <div class="container">
        <div class="warning" data-aos="fade-right">
            <div class="section__title section__title_arrow section__title_gold warning__title">При отсутствии лечения 
                <mark><span>хроническое течение простатита приводит</span> к опасным последствиям:</mark>
            </div>
            <div class="warning__box">
                <div class="warning__item">
                    <div class="warning__media"><img src="../media/warning/img-1.png" alt=""></div>
                    <p>Половая <span>дисфункция</span></p>
                </div>
                <div class="warning__item">
                    <div class="warning__media"><img src="../media/warning/img-2.png" alt=""></div>
                    <p>Аденома <span>простаты</span></p>
                </div>
                <div class="warning__item">
                    <div class="warning__media"><img src="../media/warning/img-3.png" alt=""></div>
                    <p>Бесплодие</p>
                </div>
                <div class="warning__item">
                    <div class="warning__media"><img src="../media/warning/img-4.png" alt=""></div>
                    <p>Рак <span>предстательной</span> железы</p>
                </div>
            </div>
        </div>
    </div>
</section>
