<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Osteowell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="Для красоты и здоровья ваших ног">
    <meta property="og:description" content="Для красоты и здоровья ваших ног">
    <meta name="twitter:description" content="Для красоты и здоровья ваших ног">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Osteowell">
    <meta name="twitter:title" content="Osteowell">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="ноги, помощь, красота ног, крем для ног">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Osteowell">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title" data-aos="fade-right">Не бойтесь хирургов – <mark>они вам не понадобятся!</mark></div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> шишек</mark> 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> операций</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> рецидивов</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    Без <mark>боли</mark>
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form" data-aos="fade-left">
                        <div class="form__title"><span>Заказать сейчас </span>по скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="section section_what">
    <div class="container">
        <div class="what">
            <div class="section__title what__title" data-aos="fade-up">Вальгус – <mark>это трагедия</mark></div>
            <div class="what__box">
                <div class="what__item" data-aos="fade-up">
                    <div class="what__description">Визуальное искривление первых пальцев стоп</div>
                </div>
                <div class="what__item" data-aos="fade-up">
                    <div class="what__description">Качество жизни неуклонно падает</div>
                </div>
                <div class="what__item" data-aos="fade-up">
                    <div class="what__description">В закрытой обуви ноги начинают ныть через 3-4 часа</div>
                </div>
                <div class="what__item" data-aos="fade-up">
                    <div class="what__description">Развивается хронический воспалительный процесс</div>
                </div>
                <div class="what__item" data-aos="fade-up">
                    <div class="what__description">Дискомфорт при ходьбе, по мере развития заболевания – в состоянии покоя</div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_wooman">
    <div class="container">
        <div class="wooman">
            <div class="section__title wooman__title" data-aos="fade-left">Hallux valgus <mark>в 10 раз чаще</mark> встречается у женщин.</div>
            <div class="wooman__media">
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa-white.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_factors">
    <div class="container">
        <div class="factors">
            <div class="section__title factors__title" data-aos="fade-right">Факторы:</div>
            <div class="factors__box">
                <div class="factors__item" data-aos="fade-right">— Обувь на высоком каблуке</div>
                <div class="factors__item" data-aos="fade-right">— Наследственная предрасположенность</div>
                <div class="factors__item" data-aos="fade-right">— Плоскостопие</div>
                <div class="factors__item" data-aos="fade-right">— Лишний вес</div>
                <div class="factors__item" data-aos="fade-right">— Артрит</div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_stop">
    <div class="container">
        <div class="stop">
            <div class="section__title stop__title" data-aos="fade-left">Один из самых частых способов избавления от проблемы – <mark> обращение к хирургу.</mark> </div>
            <div class="stop__subtitle" data-aos="fade-left">Остановитесь. <span>Это не единственное решение.</span></div>
        </div>
    </div>
</section>

    
<section class="section section_surgeon">
    <div class="container">
        <div class="surgeon">
            <div class="section__title surgeon__title" data-aos="fade-up"><mark>Шесть НЕТ </mark> хирургическому вмешательству:</div>
            <div class="surgeon__box">
                <div class="surgeon__item surgeon__item_full" data-aos="flip-left">
                    <div class="surgeon__name surgeon__name_full">БОЛЬ</div>
                    <div class="surgeon__description surgeon__description_full">Это больно – нет! Это очень больно. Саму операцию вы не заметите, она происходит под наркозом. А в восстановительный период вы узнаете всё об обезболивающих средствах. И о том, что самые простые вещи теперь будут сопровождаться болью.</div>
                </div>
                <div class="surgeon__item surgeon__item_full" data-aos="flip-right">
                    <div class="surgeon__name surgeon__name_full">ОБЕЗДВИЖЕННОСТЬ</div>
                    <div class="surgeon__description surgeon__description_full">Дискомфорт при ходьбе, по мере развития заболевания –
                        в состоянии покоя.</div>
                </div>
                <div class="surgeon__item" data-aos="flip-left">
                    <div class="surgeon__name">ПОСЛЕОПЕРАЦИОННЫЕ РИСКИ </div>
                    <div class="surgeon__description">Отёки, аллергические реакции, вторичное инфицирование, венозные тромбы и даже некроз. </div>
                </div>
                <div class="surgeon__item" data-aos="flip-right">
                    <div class="surgeon__name">РЕЦИДИВ</div>
                    <div class="surgeon__description">Даже соблюдение всех врачебных рекомендаций не даёт гарантий, что через год искривление пальцев и образование шишек не повторится. Гарантий нет. </div>
                </div>
                <div class="surgeon__item" data-aos="flip-left">
                    <div class="surgeon__name">НЕТРУДОСПОСОБНОСТЬ</div>
                    <div class="surgeon__description">Поставить жизнь на паузу на долгий срок вплоть до нескольких месяцев. Готовы ли вы выпасть из рабочего графика на срок в 6-8 недель? Если вы занимаетесь физическим трудом – на 4 недели больше.</div>
                </div>
                <div class="surgeon__item" data-aos="flip-right">
                    <div class="surgeon__name">ФИНАНСОВАЯ СТОРОНА</div>
                    <div class="surgeon__description">Точная цена называется после изучения всего анамнеза и выбора способа операции, но в среднем она может составить от 10 000 евро. Также потребуется прием лекарств после операции, возможно пожизненно. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_treatmen">
    <div class="container">
        <div class="treatmen">
            <div class="section__title treatmen__title" data-aos="fade-left">Лечение, <mark> которое поможет</mark></div>
            <div class="treatmen__box">
                <div class="treatmen__item" data-aos="fade-right">Снимает воспаление суставной сумки</div>
                <div class="treatmen__item" data-aos="fade-right">Избавляет от болевого синдрома и опухоли</div>
                <div class="treatmen__item" data-aos="fade-right">Возвращает подвижность стопы</div>
                <div class="treatmen__item" data-aos="fade-right">Выпрямляет положение пальца</div>
            </div>
            <div class="treatmen__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="treatmen__btn">
                <a href="">Заказать</a>
            </div>
            <div class="treatmen__description">
                <mark>ИЗБАВЬТЕСЬ ОТ ВЫСТУПАЮЩЕЙ</mark> КОСТОЧКИ <a href="">ЗА 1 КУРС ЛЕЧЕНИЯ*</a>
                <span>*длительность курса подбирается индивидуально</span>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_effects">
    <div class="container">
        <div class="effects">
            <div class="section__title effects__title" data-aos="fade-up"><mark>OSTEOWELL </mark> эффективен при:</div>
            <div class="effects__box">
                <div class="effects__item" data-aos="fade-up">
                    <div class="effects__description">Вальгусной деформации</div>
                </div>
                <div class="effects__item" data-aos="fade-up" data-aos-delay="200">
                    <div class="effects__description">Артритах и артрозах</div>
                </div>
                <div class="effects__item" data-aos="fade-up" data-aos-delay="400">
                    <div class="effects__description">Подагре</div>
                </div>
                <div class="effects__item" data-aos="fade-up" data-aos-delay="600">
                    <div class="effects__description">Отеках</div>
                </div>
                <div class="effects__item" data-aos="fade-up" data-aos-delay="800">
                    <div class="effects__description">Усталости ног</div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title" data-aos="fade-up">В составе Osteowell:</div>
            <div class="sostav__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <div class="sostav__box">
                <div class="sostav__item"  data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-1.jpg" alt="">
                    </div>
                    <div class="sostav__name">Экстракт смолы босвеллии</div>
                    <ul class="sostav__list">
                        <li><b>Снимает</b> воспаление</li>
                        <li><b>Предотвращает</b> разрушение хрящевой ткани</li>
                        <li><b>Снижает</b> болевые ощущения</li>
                        <li><b>Уменьшает</b> отёк</li>
                        <li><b>Улучшает</b> микроциркуляцию в тканях сустава</li>
                    </ul>
                </div>
                <div class="sostav__item" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-2.jpg" alt="">
                    </div>
                    <div class="sostav__name">Экстракт арники монтаны</div>
                    <ul class="sostav__list">
                        <li><b>Стимулирует</b> синтез коллагена</li>
                        <li><b>Восстанавливает</b> эластичность сосудов</li>
                        <li><b>Питает</b> суставы и соединительную ткань</li>
                        <li><b>Выводит</b> излишки солей</li>
                    </ul>
                </div>
                <div class="sostav__item" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-3.jpg" alt="">
                    </div>
                    <div class="sostav__name">Троксерутин</div>
                    <ul class="sostav__list">
                        <li><b>Укрепляет</b> соединительнотканные структуры <span>хряща, сухожилий, связок</span></li>
                        <li><b>Улучшает</b> кровоснабжение</li>
                        <li><b>Облегчает</b> подвижность суставов</li>
                        <li><b>Активирует</b> регенерацию тканей</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-right">Мнение врач-ортопеда <span>с 16-летним стажем</span></div>
            <div class="professional__box" data-aos="fade-right">
                <p>«Вальгусная деформация – не просто косметический дефект, это серьезное заболевание. Многие пациенты откладывают лечение на долгие годы, боясь операций и длительного периода восстановления. К тому же большое количество людей имеют различные противопоказания: диабет, сосудистые заболевания, возраст.</p>
                <p>Спешу вас успокоить: операция – это всегда крайняя мера. Инвазивные методы лечения оправданы тогда, когда имеется грубая деформация стопы, человек полностью теряет способность к самостоятельному передвижению. В менее запущенных случаях своим пациентам я рекомендую OSTEOWELL.</p>  
                <p>Положительный клинический эффект от использования этого средства наступает в короткие сроки. Уже в первые недели пациенты отмечают значительное облегчение состояния, а курсовой прием OSTEOWELL способен навсегда избавить от заболевания. Также не забывайте о профилактике».</p>
            </div>
            <div class="professional__human">
                <img src="../media/professional/human.png" alt="">
            </div>
            <div class="professional__footer">
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
                <div class="professional__name">Майкл <span>Мортов</span></div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-1.jpg" alt="">
                    </div>
                    <div class="commits__name">Лина, <span>60 лет</span></div>
                    <div class="commits__description">
                        Вальгус обезобразил мои ноги, когда начался климакс. Ступни ныли в обуви во время прогулок, дошло до дискомфа даже во время сидения. Около года длилось. Решилась на операцию, дети настаивали, перед ней пробовала все доступные методы. Все аптечные пробовала, чулки, шины, днём, ночью – всё без толку. Помог мне OSTEOWELL! Делала массаж дважды в день, физкультуру лечебную, очень вылечиться хотела. В аптеке вы его не найдёте, покупайте сразу, если встретите. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-1.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-2.jpg" alt="">
                    </div>
                    <div class="commits__name">Вилма, <span>53 года</span></div>
                    <div class="commits__description">
                        Я пришла к врачу, когда уже сильное отклонение пальцев было, 30 градусов. Ходить могла совсем понемногу, приходилось останавливаться отдыхать. Ныли суставы, ныли, ныли, распухли, пальцы уехали в сторону. Удалила на одной ноге, две за раз не делают. Ходила на костылях после удаления, долго восстанавливалась. Вторую я после этого решила не оперировать. Через 2 года шишка вернулась. Врача мне посоветовали, а он уже про OSTEOWELL рассказал. Это единственное, что без операции поможет. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-2.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-3.jpg" alt="">
                    </div>
                    <div class="commits__name">Анна, <span>41 год</span></div>
                    <div class="commits__description">
                        У меня "шишка" наследственная. У бабушки первый палец ноги заходит на второй, у мамы примерно так же. Мне повезло чуть больше, пока все ограничивается шишкой и дискомфортом. Честно говоря, я уже смирилась, даже лечения никакого не искала. И не стала бы что-то делать с шишками, если бы подруга не подарила OSTEOWELL. Я, конечно, пользовалась им, все как положено. Где-то через неделю заметила, что ноги перестали уставать так сильно, потом и вовсе шишка как будто сдулась. Поверить не могу, это лечится! Заказала маме и бабушке теперь – хочу, чтобы они тоже избавились от вальгуса.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-3.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face">
                        <img src="../media/commits/face-4.jpg" alt="">
                    </div>
                    <div class="commits__name">Николай, <span>45 лет </span></div>
                    <div class="commits__description">
                        Полгода назад травмировал ногу на работе. На ноге вылезла шишка, которая за два месяца стала просто огромной. Она болела, носить обувь стало невозможно. Кое-как дошел до врача, тот сказал, что только операция и больше никак. Читал я про эти операции, последствия там ужасные, в общем, не стал ее делать. Нога болеть не переставала, пока знакомая не посоветовала OSTEOWELL. За первую неделю боль пропала, шишка стала меньше. За полтора месяца я полностью от нее избавился. Очень рад, что нашлась альтернатива операции.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_info">
    <div class="container">
        <div class="info" data-aos="fade-right">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок Osteowell, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title" data-aos="fade-right">Не бойтесь хирургов – <mark>они вам не понадобятся!</mark></div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> шишек</mark> 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> операций</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> рецидивов</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    Без <mark>боли</mark>
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form" data-aos="fade-left">
                        <div class="form__title"><span>Заказать сейчас </span>по скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="section section_footer">
        <footer>
            <div class="container">
                <div class="adress" data-aos="fade-up">
                     <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                         <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                     </p>
                </div>
            </div>
        </footer>
    </section>
    <body>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
