
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы наших клиентов,
победивших псориаз</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Евгения, 28 лет</div>
                    <div class="commits__description">
                        <span>Страдала от псориаза 10 лет. Начался он из-за нервов и неправильного питания. Практически сразу я обратилась к дерматологу, и он подсадил меня на гормональные препараты. Потом я очень об этом пожалела: они помогают, но быстро вызывают привыкание, и толку от них уже совсем нет. Пару лет назад открыла для себя крем Dr.Derm. Проявления псориаза исчезли уже через 3 недели. Уже два года я не вспоминаю о болезни. Это средство спасло меня! Рекомендую всем!</span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Ольга, 56 лет</div>
                    <div class="commits__description">
                        Псориаз – очень противная штука. На всем организме завязан: съешь что-то не то, перенервничаешь – и на тебе. Все тело покрывается огромными шелушащимися и зудящими бляшками. Чем я только ни лечилась! Мази, ванночки, физиотерапия. Как-то подруга посоветовала попробовать Dr.Derm – мол, ее дочери очень помог. И он правда сработал! Шелушение и зуд прошли уже после первого применения, бляшки сошли недели за 2-3. Сейчас их как будто и не бывало.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Иван, 40 лет</div>
                    <div class="commits__description">
                        Я страдаю от псориаза с детства, так что лечился я долго и давно, но ничего не давало длительного результата. Купил Dr.Derm по совету коллеги. Долго сомневался, так как нашел мало отзывов, но подумал, что лучше потратиться один раз и попробовать это средство, чем дальше страдать. Эффект ощутил уже с первых применений – зуд ушел мгновенно, через пару недель заметил, что уже и бляшки стали намного светлее. Через месяц от этой дурацкой болезни и следа не осталось!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
