
<section class="section section_count">
    <div class="container">
        <div class="count">
            <div class="section__title count__title" data-aos="fade-up">Dr.Derm: 3 шага к здоровью вашей кожи</div>
            <div class="count__body">
                <div class="count__item" data-aos="fade-left">
                    <div class="count__step">1</div>
                    <div class="count__item-title">Снимает острые симптомы болезни</div>
                    <ul class="count__list">
                        <li class="count__list-item">— останавливает зуд, покраснения и шелушение</li>
                        <li class="count__list-item">— размягчает роговые чешуйки кожи</li>
                        <li class="count__list-item">— успокаивает и охлаждает кожу</li>
                        <li class="count__list-item">— избавляет от чувства стянутости</li>
                    </ul>
                </div>
                <div class="count__item" data-aos="fade-right">
                    <div class="count__step">2</div>
                    <div class="count__item-title">Возвращает коже здоровый вид</div>
                    <ul class="count__list">
                        <li class="count__list-item">— устраняет воспаления и припухлости</li>
                        <li class="count__list-item">— устраняет рубцы и пигментные пятна</li>
                        <li class="count__list-item">— увлажняет и смягчает кожу, делая ее более гладкой</li>
                    </ul>
                </div>
                <div class="count__item" data-aos="fade-left">
                    <div class="count__step">3</div>
                    <div class="count__item-title">Предотвращает рецидив</div>
                    <ul class="count__list">
                        <li class="count__list-item">— восстанавливает поврежденные слои эпидермиса</li>
                        <li class="count__list-item">— повышает эластичность кожи</li>
                        <li class="count__list-item">— укрепляет волокна</li>
                        <li class="count__list-item">— активирует естественный иммунитет</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
