
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="section__title help__title" data-aos="fade-up">Средство, которое избавит от псориаза навсегда!</div>
            <div class="help__info">
                <p>Dr.Derm устраняет симптомы псориаза и обеспечивает стойкую ремиссию. Передача активных компонентов средства в глубинные слои кожи происходит уже с первого применения. </p>
                <p>Dr.Derm обладает высокой проникающей способностью и комплексным действием. Попадая в глубокие слои эпидермиса он оказывает смягчающее, увлажняющее, противовоспалительное действие, нормализует обмен веществ и активирует естественную защиту кожи.</p>
            </div>
            <div class="help__list">
                <div class="help__item">Активирует естетственные защитные функции организма</div>
                <div class="help__item">Не вызывает привыкания</div>
                <div class="help__item">Полностью натуральный состав</div>
            </div>
            <div class="help__product">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>
