
<section class="section section_research">
    <div class="container">
        <div class="research">
            <div class="section__title research__title" data-aos="fade-up">Клинические исследования Dr.Derm</div>
            <div class="research__info">
                В 2018 году Институт изучения и профилактики кожных заболеваний провел контрольное тестирование Dr.Derm на группе из 800 добровольцев, страдающих от псориаза различной степени. Спустя 30 дней были получены следующие результаты:
            </div>
            <div class="research__box">
                <div class="research__progress">
                    <p>Устранение гиперреакции кожи на изменение иммунитета и имунный дисбаланс:</p>
                    <div class="research__progressbar">
                        <span>95% исследуемых</span>
                    </div>
                </div>
                <div class="research__progress">
                    <p>Ускоренное заживление кожных покровов:</p>
                    <div class="research__progressbar">
                        <span>83% исследуемых</span>
                    </div>
                </div>
                <div class="research__progress">
                    <p>Избавление от псориаза, вызванного психологическим стрессом:</p>
                    <div class="research__progressbar">
                        <span>88% исследуемых</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
