
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-up">Спутники псориаза</div>
            <div class="symptoms__body">
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-1.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Зуд и жжение</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-2.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Сухая кожа</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-3.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Появление бляшек</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-4.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Общая слабость</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-5.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Чувство хронической усталости</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-6.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Подавленное состояние, депрессия</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
