
.extract__title {
    margin-bottom: 30px;
    font-size: 47px;
    text-align: center;
}

.extract__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.extract__body {
    display: flex;
    flex-wrap: wrap;
}

.extract__item {
    flex: 0 0 33.333%;
    padding: 300px 30px 30px;
    background-position: center top;
    background-size: cover;

    &:nth-child(1) {
        background-image: url("../media/extract/bg-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/extract/bg-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/extract/bg-3.jpg");
    }
}

.extract__name {
    margin-bottom: 20px;
    font-family: 'MinionPro', serif;
    font-size: 26px;
    font-weight: 700;
    color: #ffc23e;
    text-transform: uppercase;
}

.extract__description {
    & ul {
        & li {
            position: relative;
            padding-left: 25px;
            color: #fff;
            list-style-type: none;

            &::before {
                position: absolute;
                left: 0;
                content: "—";
            }

            & + li {
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .extract__name {
        padding: 5px;
        background-color: rgba(0, 0, 0, .6);
    }

    .extract__item {
        padding: 30px 10px 30px 10px;
    }

    .extract__description {
        padding: 10px;
        background-color: rgba(0, 0, 0, .7);
        border-radius: 5px;
    }
}

@media (max-width: 768px) {
    .extract__body {
        flex-direction: column;
    }
}
