
.stop {
    max-width: 885px;
    margin-right: auto;
    margin-left: auto;
}

.stop__title {
    margin-bottom: 120px;
    font-size: 60px;
    color: #ffc23e;
    text-align: center;

    & span {
        display: block;
        color: #fff;
    }
}

.stop__body {
    display: flex;
    justify-content: space-between;
}

.stop__body-box {
    max-width: 255px;

    &_left {
        text-align: right;
    }
}

.stop__list {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

    &::before {
        position: absolute;
        top: 50%;
        content: '';
        background-size: cover;
        transform: translateY(-50%);
    }

    & mark {
        color: #ffc23e;
    }

    & + & {
        margin-top: 70px;
    }
}

.stop__list_left {
    padding-right: 80px;

    &::before {
        right: 0;
    }

    &:nth-child(1) {
        &::before {
            width: 46px;
            height: 36px;
            margin-top: 15px;
            background-image: url("../media/stop/icon-1.png");
        }
    }

    &:nth-child(2) {
        &::before {
            width: 56px;
            height: 16px;
            background-image: url("../media/stop/icon-2.png");
        }
    }

    &:nth-child(3) {
        &::before {
            width: 63px;
            height: 26px;
            margin-top: -10px;
            background-image: url("../media/stop/icon-3.png");
        }
    }

    &:nth-child(4) {
        &::before {
            width: 62px;
            height: 20px;
            margin-top: -10px;
            background-image: url("../media/stop/icon-4.png");
        }
    }
}

.stop__list_right {
    padding-left: 80px;

    &::before {
        left: 0;
    }

    &:nth-child(1) {
        &::before {
            width: 64px;
            height: 32px;
            background-image: url("../media/stop/icon-5.png");
        }
    }

    &:nth-child(2) {
        &::before {
            width: 42px;
            height: 16px;
            background-image: url("../media/stop/icon-6.png");
        }
    }

    &:nth-child(3) {
        &::before {
            width: 57px;
            height: 20px;
            background-image: url("../media/stop/icon-7.png");
        }
    }
}

@media (max-width: 1280px) {
    .stop__list_left {
        padding-right: 70px;
    }

    .stop__list_right {
        padding-left: 70px;
    }

    .stop__body-box {
        max-width: 235px;
    }
}

@media (max-width: 768px) {
    .stop__title {
        margin-bottom: 30px;
    }

    .stop__body {
        flex-direction: column;
    }

    .stop__list {
        padding: 15px;
        text-align: left;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 2px;

        & + & {
            margin-top: 10px;
        }

        &::before {
            display: none;
        }
    }

    .stop__body-box {
        max-width: 100%;

        & + & {
            margin-top: 10px;
        }
    }
}

@media (max-width: 480px) {
    .stop__body-box {
        text-align: left;
    }

    .stop__list {
        display: inline-block;
        font-size: 17px;
    }
}
