body {
    font-family: 'Arial';
    box-sizing: border-box;
    margin: 0;
    padding: 0 0;
}
h1,
h2,
p {
    color: #fff;
    text-align: center;
}

h1 {
    color: #e8df2d;
    margin-top: 0;
}

input {
    display: block;
    width: 100%;
}

.product {
    position: relative;
    z-index: 5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.list__item {
    text-align: center;
    display: block;
    padding: 8px 30px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    font-weight: 400;
    max-width: 300px;
    margin: 10px auto;
}

.list__item:hover {
    background-color: #fff;
    text-indent: 5px;
    padding-right: 25px;
    padding-left: 35px;
    box-shadow: -10px 0px 20px -6px rgba(255, 255, 255, 0.64);
}

.list__item-lends {
    color: rgb(160, 48, 48)
}

.list__item-prelends {
    color: rgb(31, 31, 115)
}



.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter__input {
    max-width: 350px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.nothing {
    color: red;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    max-width: 150px;
    background: rgba(0, 0, 0, .5);
    padding: 5px;
    border-radius: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}