article,
details,
figcaption,
figure,
footer,
header,
menu,
section {
    display: block
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

blockquote,
q {
    quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
input,
select,
textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0 none;
    padding: 0;
    margin: 0;
    font: inherit
}

button,
.like-btn,
[type=submit] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0 none;
    background: none;
    padding: 0;
    margin: 0
}

button:disabled,
.like-btn:disabled,
[type=submit]:disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5
}



strong,
b {
    font-weight: bold;
    font-family: inherit !important
}

em,
i {
    font-style: italic;
    font-family: inherit !important
}

img {
    vertical-align: top
}

script {
    display: none !important
}

picture {
    display: block
}

html {
    font-size: 18px
}

body {
    font: 1rem/1.3 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif;
    color: #303030;
    min-height: 100vh
}

a {
    color: #ec008c;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}

object[type*='svg'],
img[src*='svg'] {
    pointer-events: none;
    display: block;
    height: 100%;
    width: 100%
}

.hidden {
    display: none
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.zag {
    font-size: 24px;
}

.main {
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

.site-branding .main {
    position: relative;
    background-color: #fff
}

.section-1cols {
    margin-bottom: 30px
}

.section-2cols {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 30px
}

.safari5 .section-2cols::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.section-2cols-column {
    min-height: 80vh;
    -ms-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px
}

.safari5 .section-2cols-column {
    float: left
}

.section-2cols-column-left {
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1
}

.safari5 .section-2cols-column-left {
    width: 960px
}

.section-2cols-column-right {
    margin-left: 30px
}


.btn,
.like-btn,
[type=submit] {
    text-align: center;
    font: bold .84rem/2.5 'Arial', sans-serif;
    text-transform: uppercase;
    height: 40px;
    opacity: 1;
    -webkit-transition: opacity .15s linear 0s;
    -o-transition: opacity .15s linear 0s;
    transition: opacity .15s linear 0s;
    position: relative;
    width: 100%;
    overflow: visible
}

.btn:not(::first-letter),
.like-btn:not(::first-letter),
[type=submit]:not(::first-letter) {
    letter-spacing: 0.050em
}



.btn-pink {
    background-color: #ec008c;
    color: #fff
}

.btn-smth,
.btn [type=submit],
.like-btn [type=submit],
[type=submit] [type=submit] {
    background-color: #303030;
    color: #fff
}

.like-btn,
[type=submit] {
    height: 50px
}

.btn-round {
    font-size: 0.83em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn-round.fb {
    border-color: #3c559b
}

.btn-round.vk {
    border-color: rgb(230, 0, 35)
}

.btn-round.ig {
    border: 0
}


.btn-round.email {
    border-color: #000
}

.btn-thing {
    font-size: 0.83em;
    width: 24px;
    height: 25px;
    color: #fff;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}


.sharing-btn-div .btn,
.sharing-btn-div .like-btn,
.sharing-btn-div [type=submit] {
    color: #fff
}

.sharing-btn-div .btn.fb,
.sharing-btn-div .like-btn.fb,
.sharing-btn-div [type=submit].fb {
    background-color: #3c559b
}

.sharing-btn-div .btn.vk,
.sharing-btn-div .like-btn.vk,
.sharing-btn-div [type=submit].vk {
    background-color: rgb(230, 0, 35)
}

.sharing-btn-div .btn.tw,
.sharing-btn-div .like-btn.tw,
.sharing-btn-div [type=submit].tw {
    background-color: #40b5e8
}

.sharing-btn-div .btn.ok,
.sharing-btn-div .like-btn.ok,
.sharing-btn-div [type=submit].ok {
    background-color: #f58220
}

.sharing-btn-div {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex
}

.cosmo-recommend {
    background: #ebeced;
    padding: 30px 10px 0 10px;
}

.cosmo-recommend h2 {
    font: bold 13px/1 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin: 0 auto 15px auto
}

.cosmo-recommend a {
    text-decoration: none;
    color: #303030;
    cursor: initial;
}

.cosmo-recommend h3 {
    font: normal 17px/20px "Times New Roman";
    text-align: left
}

.cosmo-recommend .article-list li {
    padding-bottom: 25px;
}

.cosmo-recommend img {
    width: 100%;
    border: 1px #dfdfdf solid;
    margin: 0 0 7px 0
}

.article-list {
    margin-top: 0;
    margin-bottom: 0;
}


.page-article-top-div {
    color: #aaa;
    text-transform: uppercase;
    font: 13px/1 'Arial', sans-serif;
    margin-bottom: 0.93em
}

.page-article-top-div::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.main-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.main-head h1 {
    font: bold 2.2em/1.1 'Arial', sans-serif;
    margin-bottom: 0.4em;
    display: block;
    width: auto;
}

.page-article .article-layout {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

.page-article .article-layout > * {
    -ms-flex-basis: 210px;
    -ms-flex-preferred-size: 210px;
        flex-basis: 210px
}

.page-article .article-layout .article-itself {
    -moz-flex-grow: 4;
    -ms-flex-grow: 4;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
}

.page-article .article-layout .article-itself article {
    border-bottom: 1px dashed rgba(170, 170, 170, 0.5);
    margin-bottom: 30px
}

.page-article .article-body {
    font: .9399999999999999em/1.53 Arial, Helvetica, sans-serif
}

.page-article .article-body > div {
    margin-bottom: 30px
}

.page-article .article-body p {
    margin-bottom: 10px;
    margin-top: 0;
}

.page-article .article-body img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


.page-article .article-body .article-pic {
    text-align: center
}

.page-article .article-body .article-pic.image-count-1 img {
    height: auto !important
}

.comments-div {
    margin-bottom: 30px
}

.comments-div-hidden {
    display: none
}

.comments-div-header {
    font: 36px/1 'Arial', sans-serif;
    text-transform: uppercase
}

.comments-div-header::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.comments-div-header span {
    color: #aaa;
    font-size: 20px
}

.comments-div-header-count {
    vertical-align: top;
    position: relative;
    top: 0.47em
}




.comments-div-header-pencil {
    float: right;
    position: relative;
    top: 9px
}

.comments-div-header-pencil::before {
    content: '\e90e';
    font-size: 23px
}

.comments-div-list-container .comments-div-list .opinion {
    border-top: 1px solid rgba(170, 170, 170, 0.5);
    padding: 30px 0 0;
    margin-top: 30px
}

.comments-div-list-container .comments-div-list .opinion::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.comments-div-list-container .comments-div-list .opinion > div {
    float: left
}

.comments-div-list-container .comments-div-list .opinion-img {
    width: 110px
}

.comments-div-list-container .comments-div-list .opinion-img img {
    border-radius: 50%;
    width: 60%;
}

.comments-div-list-container .comments-div-list .opinion-body {
    width: 84%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 7px
}

.comments-div-list-container .comments-div-list .opinion-body div {
    text-transform: uppercase;
    font: 13px/1 'Arial', sans-serif
}

.comments-div-list-container .comments-div-list .opinion-body-author-an-time {
    color: #aaa;
    margin-bottom: 0.4em
}

.comments-div-list-container .comments-div-list .opinion-body-author-an-time a {
    color: #ec008c;
    text-decoration: inherit
}



.comments-div-list-container .comments-div-list .opinion-body-author-an-time time {
    white-space: nowrap
}

.comments-div-list-container .comments-div-list .opinion-body-buttons {
    margin-top: 0.5em;
    padding-top: 0
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right {
    float: right;
    clear: right;
    padding-top: 2px
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right span {
    color: #aaa
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right form {
    display: inline;
    font-size: 13px
}

.comments-div-list-container .comments-div-list .opinion-body-buttons button,
.comments-div-list-container .comments-div-list .opinion-body-buttons a,
.comments-div-list-container .comments-div-list .opinion-body-buttons input[type=button],
.comments-div-list-container .comments-div-list .opinion-body-buttons .like-btn,
.comments-div-list-container .comments-div-list .opinion-body-buttons [type=submit] {
    font: 13px/1 'Arial', sans-serif;
    text-transform: inherit;
    text-decoration: inherit;
    background: none;
    color: #ec008c
}



.comments-div-list-container .comments-div-list .opinion-body p a {
    text-decoration: inherit;
    color: inherit;
    cursor: default
}

.comments-div-list-container .comments-div-list .opinion-btn-thing {
    margin-left: 1.8em;
    display: inline;
    color: #aaa;
    font: inherit
}



.comments-div-list-container .comments-div-list .opinion.sub-comment {
    margin-left: 20px;
    border-top-color: transparent
}

.comments-div-form {
    margin-top: 30px
}


.comments-div-form .user-pic {
    border-radius: 50%;
    display: none
}

.comments-div-form .comment-message-placeholder {
    color: #aaa;
    font: 16px/1 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif;
    margin-bottom: 0.35em
}

.comments-div-form .user-text-field {
    border: 1px solid rgba(170, 170, 170, 0.5);
    height: 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1.3em;
    padding: .8em 1em
}

.comments-div-form .comment-form-button {
    width: 240px
}

.comments-div-form .answer-canceled {
    display: none;
    color: inherit;
    font-size: 21px;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 0
}

form {
    font: .9399999999999999em/1 'Arial', sans-serif
}

form .btn,
form .like-btn,
form [type=submit] {
    font-size: 21px;
    font-weight: normal;
    height: 50px
}

.criteo {
    margin: 0 auto
}

.banner-desktop-side {
    max-width: 300px;
    max-height: 600px
}


span.empty {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0
}

header {
    width: 100%;
    background-color: #303030;
}

.menu-div {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

.menu-div-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    width: 80%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative
}

.menu-div-main-nav {
    text-transform: uppercase;
    width: 85%;
}

.menu-div-main-nav .menu-div-ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
}

.menu-div-main-nav .menu-div-ul li {
    display: inline-block;
    margin: 0 3px;
}

.menu-div-main-nav .menu-div-ul li:not(:last-child) {
 
}

.menu-div-main-nav .menu-div-ul li.special span {
    color: #fedc32;
    padding: 0 0 0 40px;
    background: url('/design/i/spec-project/8-march/present_nav.png') no-repeat
}



.menu-div-ul {
    font: 20px/1 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

.menu-div-ul li span {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: .5em 0;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}



.menu-div-ul li span.favorite {
    color: #ec008c
}

.menu-div-ul li span.special {
    color: #ec008c
}

.menu-div-ul li.item-active {
    color: #ec008c;
    padding: .5em 0;
    font-weight: 600
}

.menu-div-fixed-plashka {
    background-color: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

.menu-div-fixed-plashka.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

.site-branding-trimming .menu-div-fixed-plashka {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.site-branding .menu-div {
    position: relative
}

.site-branding-trimming .menu-div {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.menu-div-main-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%
}


.menu-div-sub-opened .menu-buter::before {
    color: #ec008c
}

.menu-logo {
    width: 152px;
}

.social-bar-round .menu-div-zagolovok {
    margin-bottom: 1em
}

.social-bar-round .sharing-btn-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}

footer {
    background-color: #303030;
    width: 100%;
    color: #fff
}

.site-branding footer {
    position: relative
}

.site-branding-trimming footer {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.footer {
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;
    font: 17px/1 'Arial', sans-serif;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: none;
        flex-wrap: none;
    justify-content: center;
}

.footer p {
    color: #999;
    font: 12px/1.2 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif
}

.footer-left {
    width: 30%
}

.footer-center {
    width: 30%
}

.footer .censorship {
    color: #999;
    font: 24px/1 'ArialLight', sans-serif;
    margin-bottom: 1em
}

.social-bar-round {
    margin-top: 10px;
}
.footer .social-bar-round .menu-div-zagolovok {
    color: #999;
    font: 13px/1 'Arial', sans-serif;
    margin-bottom: 1em;
    text-transform: uppercase
}

.footer-center {
    padding-left: 15px;
    width: 32%;
}

.footer-left {
    width: 32%;
}

.footer-right {
    text-align: right;
    width: 32%;
}

.safari5 .footer-right {
    width: 18%
}

.footer-menu-list:first-of-type {
    margin: 10px 0;
}

.footer-menu-list li:not(:last-child) {
    margin-bottom: 1em
}

.footer-menu-list li a {
    color: inherit;
    text-decoration: inherit
}



.footer-issue-link {
    display: block;
    float: left;
    margin-right: 30px
}

.footer-issue-link img {
    max-width: 218px;
    max-height: 211px
}

.footer-issue-div {
    float: left
}

.footer-issue-div p {
    color: #fff;
    font: 17px/1 'Arial', sans-serif;
    margin-bottom: 30px
}

.footer-issue-div span {
    display: block;
    color: #fff;
    font: 24px/1 'Arial', sans-serif;
    text-transform: uppercase;
    margin: .4em 0
}

.safari5 .footer {
    display: table;
    width: 1290px
}

.menu-div-main .svg-inline--fa {
    font-size: 1.5rem;
}
.svg-inline--fa.fa-comment.fa-w-16 {
    position: relative;
    top: -13px;
}
.sharing-btn-div .svg-inline--fa {
    position: relative;
    top: 7px;
    font-size: 1.5rem;
}

.btn.btn-round {
    margin: 0 1px;
}
.product-href {
    text-align: center;
    background-color: #ec008c;
}
.product-href a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
.img-comment {
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.img-comment img {
    width: 50%;
    height: auto; 
}
.comm-length {
    position: relative;
    top: -13px;
}

.hide-menu {
    display: none;
}

.page-article .article-body img.img-float {
    float: left;
    max-width: 364px;
    width: 100%;
    margin: 10px
}



@media screen and (max-width: 1350px) {
    .menu-div-main-nav {
        display: none;
    }
    .hide-menu {
        display: block;
    }
    
    .menu-div-main {
        width: 80%;
    }
    .footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
   .section-2cols-column-right{
        display: none;
    }
    .page-article .article-layout {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .page-article .article-layout {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;  
    }
    .page-article .article-layout .article-itself {
        max-width: 80%;
    }
     .page-article .article-layout .article-itself {
        max-width: 100%;
    }

    .footer-left,
    .footer-right,
    .footer-center {
    width: 100%;
    margin: 10px 0;
    }
    .footer-menu li {
        text-align: center;
    }

    .menu-div-zagolovok {
    text-align: center;
    }

    .sharing-btn-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-right {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }

    .footer-left {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .footer-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .page-article .article-body img.img-float {
        float: none;
    }
 
}

@media screen and (max-width: 568px) {
    .comments-div-list-container .comments-div-list .opinion-body {
        width: 100%;
    }
}

.text-pink {
    color: #ec008c;
}

.img-comm {
    display: block;
    width: 30%;
    margin: 10px 0;
}


.fab, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-bars:before {
    content: "\f0c9"
}

.fa-comment:before {
    content: "\f075"
}

.fa-facebook-f:before {
    content: "\f39e"
}

.fa-heart:before {
    content: "\f004"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-pinterest-square:before {
    content: "\f0d3"
}

.fa-twitter:before {
    content: "\f099"
}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(../webfonts/fa-brands-400.eot);
    src: url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.woff) format("woff"), url(../webfonts/fa-brands-400.ttf) format("truetype"), url(../webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.fab {
    font-family: "Font Awesome 5 Brands"
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../webfonts/fa-regular-400.eot);
    src: url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-regular-400.woff2) format("woff2"), url(../webfonts/fa-regular-400.woff) format("woff"), url(../webfonts/fa-regular-400.ttf) format("truetype"), url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(../webfonts/fa-solid-900.eot);
    src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.woff) format("woff"), url(../webfonts/fa-solid-900.ttf) format("truetype"), url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fas {
    font-family: "Font Awesome 5 Free"
}

.fas {
    font-weight: 900
}

@media (max-width: 480px) {
    .zag {
        font-size: 18px;
    }
}