.animation-moveRight {
    animation: moveRight 0.5s ease-in-out;
}

.animation-moveLeft {
    animation: moveLeft 0.5s ease-in-out;
}

.animation-fadeIn {
     animation: fadeIn 0.5s ease-in-out;
 }

.animation-fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

.animation-shifting {
    animation: shift 3.5s infinite linear;
}

.animation-shifting2 {
    animation: shift 1.5s infinite linear;
}

.animation-shifting3 {
    animation: shift 4s infinite linear;
}

.animation-shifting4 {
    animation: shift 2s infinite linear;
}

.animation-shifting5 {
    animation: shift 4s infinite linear;
}

.animation-shifting6 {
    animation: shift 5s infinite;
}

.visibility-none {
    opacity: 0;
}

@keyframes moveRight {
    from {
        transform: translate(-200px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveLeft {
     from {
         transform: translate(200px, 0);
         opacity: 0;
     }

     to {
         transform: translate(0, 0);
         opacity: 1;
     }
 }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes shift {
    from {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(-3px, 0);
    }

    to {
        transform: translate(0, 0);
    }
}


