@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    select::-ms-expand{
        display: none;
    }

    .order-product::after,
    .order-product::before {
        display: none;
    }

    .order-subTitle,
    .oldPrice,
    .formBlock-title,
    .formBlock-sale,
    .form-label,
    .label-text,
    .effects-title,
    .effects-img1:after,
    .effects-img3:after {
        color: #608a7e;
    }

    .order-title,
    .newPrice {
        color: #c69ad6;
    }

    .multi {
        background-color: #c69ad6;
    }

    .order-btn {
        background-image: repeating-linear-gradient(45deg, #c69ad6 0px, #c69ad6 5px, #b68cc6 5px, #b68cc6 7px);
    }

    .effects-title_black,
    .text-darkGreen,
    .mistake-title_big,
    .order2-title,
    .order2-subTitle {
        color: #385a50;
    }

    .effects-footer,
    .mistakesItem-title,
    .tired-title,
    .tiredList-item10 {
        color: #a23c59;
    }

    .effects-img,
    .milti-imgs,
    .spec-main,
    .fake-left,
    .weeks-list,
    .order2-left,
    .order-right {
        flex: 0 1 auto;
    }

    .alarm {
        justify-content: flex-start;
    }

    .order2List-text {
        flex-shrink: 1;
    }

    :nth-child(2n).plus-item>.plusItem-text {
        margin-top: -170px;
        margin-bottom: 0;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (max-width: 991px) {
    :nth-child(2n).plus-item>.plusItem-text {
        margin-top: 55px;
    }
}

@supports (-ms-ime-align:auto) {
    :nth-child(2n).plus-item>.plusItem-text {
        align-self: initial;
    }
}




