@import "commons/extends";
@import "commons/colors";

@font-face {
	font-family: 'Roboto Condensed';
	src: url("../../fonts/RobotoCondensed-Bold.woff") format('woff'),
	url("../../fonts/RobotoCondensed-Bold.woff2") format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../../fonts/Montserrat/Montserrat-Regular.woff") format('woff'),
	url("../../fonts/Montserrat/Montserrat-Regular.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../../fonts/Montserrat/Montserrat-Medium.woff") format('woff'),
	url("../../fonts/Montserrat/Montserrat-Medium.woff2") format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../../fonts/Montserrat/Montserrat-SemiBold.woff") format('woff'),
	url("../../fonts/Montserrat/Montserrat-SemiBold.woff2") format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../../fonts/Montserrat/Montserrat-Bold.woff") format('woff'),
	url("../../fonts/Montserrat/Montserrat-Bold.woff2") format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../../fonts/Montserrat/Montserrat-ExtraBold.woff") format('woff'),
	url("../../fonts/Montserrat/Montserrat-ExtraBold.woff2") format('woff2');
	font-weight: 800;
	font-style: normal;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	select::-ms-expand {
		display: none;
	}
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.select {
	position: relative;
}

.select:before {
	content: "";
	display: block;
	background: url('../../imgs/sort-down-solid.svg') no-repeat center;
	position: absolute;
	right: 15px;
	bottom: -15px;
	top: 0;
	margin: auto;
	z-index: 2;
	width: 30px;
	height: 26px;
	text-align: center;
	cursor: pointer;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Montserrat';
}

main {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	width: 100%;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
	display: block;
	width: auto;
	max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border: none;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

ul {
	padding: 0;
	list-style: none;
}

div, section, header, footer {
	width: 100%;
	flex: 1 0 100%;
}

* {
	box-sizing: border-box;
}

.wrap {
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

select {
	background: #e5e5e5;
}

.text-red {
	color: $titleRed;
}

.text-green {
	color: $titleGreen;
}

.text-semiBold {
	font-weight: 600;
}

h2 {
	font-size: 51px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	span {
		display: block;
	}
}

@import "order";
@import "trouble";
@import "notForEach";
@import "help";
@import "consist";

footer {
	padding: 10px 0 20px;
	text-align: center;
}

footer a {
	color: $darkGreen;
}

@media screen and (max-width: 991px) {
	.wrap header,
	.wrap section,
	.wrap footer {
		padding: 30px 0;
	}
}

@media screen and (max-width: 576px) {
	.wrap h2 {
		font-size: 32px;
		margin: 20px 0;
	}
}
