/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


#cr_widget a {
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
    background: #DB151C;
    -webkit-box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1) inset;
    border: 0 none;
    border-radius: 6px;
    overflow: hidden;
    font-size: 15px;
    padding: 13px 18px 16px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-top: -3px;
}

#cr_widget a:hover {
    -o-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.14) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.14) inset;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.14) inset;
    text-decoration: underline;
}

#cr_version_link {
    font-family: sans-serif;
    color: #FFF;
    cursor: pointer;
    font-size: 17px;
    line-height: 28px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
header,
main,
nav,
section {
    display: block
}

a {
    background-color: transparent
}

input {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.hgrid {
    width: 100%;
    max-width: 1260px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.hgrid-stretch {
    width: 100%
}

.hgrid-stretch:after,
.hgrid:after {
    content: "";
    display: table;
    clear: both
}

[class*=hgrid-span-] {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative
}

.hgrid-span-9 {
    width: 75%
}

.hgrid-span-12 {
    width: 100%
}

@media only screen and (max-width:1023px) {

    [class*=hgrid-span-] {
        padding: 0 15px
    }
}

@media only screen and (max-width:799px) {

    [class*=hgrid-span-] {
        width: 100%
    }
}

.table {
    display: table;
    width: 100%;
    margin: 0
}

.table-cell-mid {
    display: table-cell;
    vertical-align: middle
}

@media only screen and (max-width:799px) {

    .table,
    .table-cell-mid {
        display: block
    }
}

body {
    text-align: left;
    font-size: 14px;
    line-height: 2em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.title,
h1,
h2 {
    line-height: 1.33333333em;
    font-family: sans-serif;
    font-weight: 400;
    color: #666;
    margin: 25px 0 15px;
    text-rendering: optimizelegibility;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

h1 {
    font-size: 2.57142857em
}

h2 {
    font-size: 2.14285714em
}

.title {
    font-size: 1.71428571em;
    color: #666
}

p {
    margin: 1.07142857em 0
}

strong {
    font-weight: 700
}

.small {
    font-size: .857142em;
    line-height: 1.333333em
}

.has-drop-cap:not(:focus)::first-letter {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: inherit;
    margin: .01em .1em 0 0
}

a {
    color: #f3595b;
    text-decoration: none;
    -webkit-transition: color .3s ease-in, background-color .3s linear, border-color .3s linear;
    -o-transition: color .3s ease-in, background-color .3s linear, border-color .3s linear;
    transition: color .3s ease-in, background-color .3s linear, border-color .3s linear
}

.accent-typo {
    background: #f3595b;
    color: #fff
}

.accent-typo .title,
.accent-typo a,
.accent-typo a:hover,
.accent-typo h2 {
    color: #fff
}

.highlight-typo {
    background: #f6f3ed
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

li {
    margin: 0 10px 0 0;
    padding: 0
}

input {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em
}

input[type=text] {
    -webkit-appearance: none;
    border: 1px solid #ddd;
    padding: 6px 8px;
    color: #666;
    margin: 0;
    max-width: 100%;
    display: inline-block;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    transition: border linear .2s, -webkit-box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s, -webkit-box-shadow linear .2s
}

input[type=text]:focus {
    border: 1px solid #aaa;
    color: #555;
    outline: dotted thin;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

input:-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder {
    color: #999
}

body {
    background: #fff
}

#page-wrapper {
    width: 100%;
    display: block;
    margin: 0 auto
}

#topbar {
    overflow: hidden
}

#topbar {
    color: #aaa
}

#topbar li,
#topbar ul {
    display: inline
}

#topbar .widget {
    margin: 0;
    display: inline-block;
    vertical-align: middle
}

#topbar input {
    background: 0 0;
    color: inherit;
    font-size: .928571em;
    line-height: 1.333333em;
    padding: 10px 7px 9px 2.5em;
    vertical-align: bottom
}

#topbar input:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

#topbar-left {
    text-align: left;
    margin-bottom: -1px;
    font-size: .928571em;
    line-height: 1.333333em
}

@media only screen and (max-width:799px) {
    #topbar-left {
        text-align: center;
        width: auto;
        margin: 0 -15px
    }
}

#header {
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-right: none;
    border-left: none
}

#header:before {
    position: absolute;
    background: #f3595b;
    height: 100%;
    width: 60%;
    content: " "
}

#header .table {
    table-layout: fixed
}

#branding {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#header-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    background: #fff
}

@media only screen and (max-width:799px) {

    #branding,
    #header .table,
    #header-aside,
    #header:before {
        width: 100%
    }

    #header:before {
        content: '';
        display: none
    }

    #header .hgrid-span-12 {
        padding: 0
    }
}

#site-logo {
    padding: 15px 23px 13px 0;
    min-width: 220px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 100%
}

#site-title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1em;
    text-transform: uppercase
}

#site-title a {
    color: inherit
}

#site-title a:hover {
    text-decoration: none
}

#site-description {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    text-transform: uppercase;
    opacity: .6;
    filter: alpha(opacity=60)
}

.site-logo-with-icon .site-title>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: bottom
}

.site-title-line {
    display: block;
    line-height: 1em
}

@media only screen and (max-width:799px) {
    #site-logo {
        display: block;
        padding-right: 0;
        width: 100%;
    }

    #page-wrapper #site-description,
    #page-wrapper #site-title {
        text-align: center;
        padding-left: 0 !important
    }

    .site-logo-with-icon #site-title {
        padding: 0
    }
}

#header-aside {
    text-align: right
}

#menu-primary-items {
    display: inline-block;
    text-align: left;
    font-size: .85714286em;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 800;
    vertical-align: middle
}

#menu-primary-items li {
    margin-right: 0;
    display: list-item
}

#menu-primary-items>li {
    margin: 0 0 0 10px;
    float: left
}

#menu-primary-items>li a {
    color: #aaa
}

#menu-primary-items>li>a {
    padding: 15px 10px;
    cursor: pointer;
}

.sf-menu a {
    display: block;
    position: relative
}

.sf-menu li {
    position: relative
}

.menu-toggle {
    display: none;
    cursor: pointer;
    border-top: solid 1px rgba(0, 0, 0, .1);
    padding: 5px 0
}

.loop-title.entry-title {
    line-height: 1;
    text-align: left;
}

img {
    display: block;
    max-width: 100%;
}

@media only screen and (max-width:799px) {
    #header-aside {
        text-align: center;
        width: 0;
    }

    .menu-toggle {
        display: block
    }

    #menu-primary-items {
        display: none;
        text-align: left
    }

    #menu-primary-items.sf-menu li {
        border-top: solid 1px rgba(80, 80, 80, .15)
    }

    #menu-primary-items.sf-menu li:hover {
        background: #f6f3ed
    }

    #menu-primary-items>li {
        float: none;
        margin: 0
    }

    #menu-primary-items>li>a {
        padding: 6px 6px 6px 15px
    }

    .mobilemenu-fixed#menu-primary {
        margin-bottom: 0
    }

    .mobilemenu-fixed #menu-primary-items,
    .mobilemenu-fixed .menu-toggle {
        -webkit-transition: left .3s ease-in, background-color .3s linear;
        -o-transition: left .3s ease-in, background-color .3s linear;
        transition: left .3s ease-in, background-color .3s linear
    }
    
   

    .mobilemenu-fixed .menu-toggle {
        width: 2em;
        height: 27px;
        padding: 5px;
        position: absolute;
        top: 122px;
        left: 0;
        z-index: 99995;
        border: 1px solid rgba(0, 0, 0, .1);
        border-left: none
    }

    .mobilemenu-fixed .menu-items,
    .mobilemenu-fixed .menu-toggle {
        background: #fff
    }

    .mobilemenu-fixed #menu-primary-items {
        display: block !important;
        width: 280px;
        position: fixed;
        top: 0;
        z-index: 99994;
        overflow-y: auto;
        height: 100%;
        left: -278px
    }
}

@media only screen and (min-width:800px) {
    #menu-primary-items {
        display: inline-block !important
    }
}

#main.main {
    padding-bottom: 30px;
    overflow: hidden
}

#loop-meta {
    background: #f6f3ed;
    position: relative
}

.loop-meta {
    float: none;
    text-align: center;
    background-size: contain;
    padding-top: 45px;
    padding-bottom: 45px
}

.loop-title {
    margin: 0
}

#content {
    margin-top: 70px
}

.entry-content {
    border-bottom: solid 1px #ddd
}

.entry-the-content {
    margin-bottom: 1.71428571em
}

.entry-the-content p:first-child {
    margin-top: 0
}

.entry-the-content:after {
    content: "";
    display: table;
    clear: both
}

.widget {
    margin: 70px 0
}

#post-footer {
    border-top: solid 1px #ddd;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    font-family: serif;
    color: #aaa
}

.hgrid {
    max-width: 1260px
}

.hgrid__box {
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 100%;
    max-width: 100%;
}

a {
    color: #f3595b
}

.accent-typo {
    background: #f3595b;
    color: #ffffff
}

.accent-typo a,
.accent-typo a:hover,
.accent-typo h2,
.accent-typo .title {
    color: #ffffff
}

h1,
h2,
.title {
    font-family: sans-serif;
    font-weight: 300;
    color: #000000
}

body {
    background-color: #ffffff;
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed
}

#topbar input {
    background: #ffffff
}

#header:before {
    background: #f3595b
}

#site-logo-custom .site-title-line1 {
    font-size: 25px;
}

.customblogname {
    margin-left: 10px;
}

#site-logo-custom .site-title-line2 {
    font-size: 25px;
}

#site-logo-custom .site-title-line3 {
    font-size: 25px
}

#content {
    padding-top: 20px;
    margin-top: 0;
    background: #fff
}

#main.main {
    padding-bottom: 0
}

#post-footer {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0
}

.widget {
    margin: 10px 0
}

.entry-content {
    border-bottom: none
}

.loop-meta {
    padding-top: 20px;
    padding-bottom: 20px
}

.site-logo-with-icon>h2 {
    margin-top: 5px !important;
    text-align: right
}

@media only screen and (max-width:1200px) {
    .menu-item a {
        padding: 5px 5px !important;
    }
}

@media only screen and (max-width:900px) {
    .menu-item {
        padding: 0px 2px !important;
    }

    @media only screen and (max-width:799px) {
        .menu-item {
            height: unset;
        }

        .widget_wp_cr_plugin {
            display: none !important;
        }
    }
}

.pageheader-bg-default {
    padding-top: 30px
}

.content.has-sidebar {
    padding-top: 0px !important
}

.su-u-clearfix::after {
    content: '';
    display: table;
    clear: both
}

.su-u-trim>:first-child {
    margin-top: 0
}

.su-u-trim>:last-child {
    margin-bottom: 0
}

.su-note {
    margin: 0 0 1.5em;
    border-width: 1px;
    border-style: solid
}

.su-note-inner {
    padding: 1em;
    border-width: 1px;
    border-style: solid
}

.commits {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.commits__title {
    margin-bottom: 15px;
    font-size: 24px;
}

.commits__item+.commits__item {
    padding: 25px 0 0;
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
}

.commits__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
}

.commits__face {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: gray;
    overflow: hidden;
}

.commits__face img {
    display: block;
    width: 100%;
}

.commits__name {
    font-size: 14px;
}

.commits__date {
    font-size: 12px;
}

/* .commits__body {} */

.commits__description {
    color: #000;
    line-height: 24px;
}

.commits__media {
    margin-top: 10px;
}

.commits__media img {
    display: block;
    max-width: 100%;
}

.commits__add {
    max-width: 512px;
}

.commits__add-title {
    margin-bottom: 10px;
}

.commits__field-name {
    display: block;
    width: 100%;
    max-width: 230px;
    margin-bottom: 10px;
    padding: 5px;
    margin-bottom: 15px !important;
}

.commits__field-message {
    display: block;
    width: 100%;
    height: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

.commits__item_hide {
    display: none;
}

@media(max-width: 480px) {
    .commits__description {
        font-size: 14px;
    }
}

.content1 > p {
    color: #000000;
}

.fleft {
    float: left;
}

.content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 885px;
}

.fleft_face {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px;
    /* border: 1px solid #cccbcb; */
    border-radius: 3px;
    margin: 0 15px 0 30px;
}

@media (max-width: 768px) {
    .content1 {
        display: block;
        padding-right: 30px;
        padding-left: 30px;
    }

    .fleft_face {
        float: left;
        padding: 0;
        margin-left: 0;
    }
}

i {
    display: block;
    text-align: center;
}

.btn, .commits__add-btn {
    display: inline-block;
    padding: 15px 60px;
    background-color: #ff4c4c;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    transition: 0.3s;
    border: 0 solid #000;
    cursor: pointer;
}

.btn:hover, .commits__add-btn:hover {
    background-color: #ec1818;
}
@media (max-width: 480px) {
    .btn {
        padding-right: 43px;
        padding-left: 43px;
    }
}