$blue: #30afff;
$red: #ed2b62;
$logo_grey: #bdc1c9;
$green: #23b48f;
$dark-green: #21ab88;
$bitToiLightBlue: #a7d5f8;
$bitToiBlue: #53b4f4;
$borderLight: #e6e6ee;
$borderDark: #3286be;
$consistBorder: #e0e9f3;
$formText: #325670;
$formInputBorder: #c5d8de;
$backgr: #f2f4f9;
$painList: #075e98;