
<section class="section section_effects">
    <div class="container">
        <div class="effects">
            <div class="section__title effects__title"><mark>OSTEOWELL </mark> эффективен при:</div>
            <div class="effects__box">
                <div class="effects__item">
                    <div class="effects__description">Вальгусной деформации</div>
                </div>
                <div class="effects__item">
                    <div class="effects__description">Артритах и артрозах</div>
                </div>
                <div class="effects__item">
                    <div class="effects__description">Подагре</div>
                </div>
                <div class="effects__item">
                    <div class="effects__description">Отеках</div>
                </div>
                <div class="effects__item">
                    <div class="effects__description">Усталости ног</div>
                </div>
            </div>
        </div>
    </div>
</section>
