<section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title">Не бойтесь хирургов – <mark>они вам не понадобятся!</mark></div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> шишек</mark> 
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> операций</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    Без <mark> рецидивов</mark>
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    Без <mark>боли</mark>
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать сейчас </span>по скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>