
<section class="section section_factors">
    <div class="container">
        <div class="factors">
            <div class="section__title factors__title">Факторы:</div>
            <div class="factors__box">
                <div class="factors__item">— Обувь на высоком каблуке</div>
                <div class="factors__item">— Наследственная предрасположенность</div>
                <div class="factors__item">— Плоскостопие</div>
                <div class="factors__item">— Лишний вес</div>
                <div class="factors__item">— Артрит</div>
            </div>
        </div>
    </div>
</section>
