
<section class="section section_factors">
    <div class="container">
        <div class="factors">
            <div class="section__title factors__title" data-aos="fade-right">Факторы:</div>
            <div class="factors__box">
                <div class="factors__item" data-aos="fade-right">— Обувь на высоком каблуке</div>
                <div class="factors__item" data-aos="fade-right">— Наследственная предрасположенность</div>
                <div class="factors__item" data-aos="fade-right">— Плоскостопие</div>
                <div class="factors__item" data-aos="fade-right">— Лишний вес</div>
                <div class="factors__item" data-aos="fade-right">— Артрит</div>
            </div>
        </div>
    </div>
</section>
