
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-right">Мнение врач-ортопеда <span>с 16-летним стажем</span></div>
            <div class="professional__box" data-aos="fade-right">
                <p>«Вальгусная деформация – не просто косметический дефект, это серьезное заболевание. Многие пациенты откладывают лечение на долгие годы, боясь операций и длительного периода восстановления. К тому же большое количество людей имеют различные противопоказания: диабет, сосудистые заболевания, возраст.</p>
                <p>Спешу вас успокоить: операция – это всегда крайняя мера. Инвазивные методы лечения оправданы тогда, когда имеется грубая деформация стопы, человек полностью теряет способность к самостоятельному передвижению. В менее запущенных случаях своим пациентам я рекомендую OSTEOWELL.</p>  
                <p>Положительный клинический эффект от использования этого средства наступает в короткие сроки. Уже в первые недели пациенты отмечают значительное облегчение состояния, а курсовой прием OSTEOWELL способен навсегда избавить от заболевания. Также не забывайте о профилактике».</p>
            </div>
            <div class="professional__human">
                <img src="../media/professional/human.png" alt="">
            </div>
            <div class="professional__footer">
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
                <div class="professional__name">Майкл <span>Мортов</span></div>
            </div>
        </div>
    </div>
</section>
