
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title">В составе Osteowell:</div>
            <div class="sostav__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <div class="sostav__box">
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-1.jpg" alt="">
                    </div>
                    <div class="sostav__name">Экстракт смолы босвеллии</div>
                    <ul class="sostav__list">
                        <li><b>Снимает</b> воспаление</li>
                        <li><b>Предотвращает</b> разрушение хрящевой ткани</li>
                        <li><b>Снижает</b> болевые ощущения</li>
                        <li><b>Уменьшает</b> отёк</li>
                        <li><b>Улучшает</b> микроциркуляцию в тканях сустава</li>
                    </ul>
                </div>
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-2.jpg" alt="">
                    </div>
                    <div class="sostav__name">Экстракт арники монтаны</div>
                    <ul class="sostav__list">
                        <li><b>Стимулирует</b> синтез коллагена</li>
                        <li><b>Восстанавливает</b> эластичность сосудов</li>
                        <li><b>Питает</b> суставы и соединительную ткань</li>
                        <li><b>Выводит</b> излишки солей</li>
                    </ul>
                </div>
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/img-3.jpg" alt="">
                    </div>
                    <div class="sostav__name">Троксерутин</div>
                    <ul class="sostav__list">
                        <li><b>Укрепляет</b> соединительнотканные структуры <span>хряща, сухожилий, связок</span></li>
                        <li><b>Улучшает</b> кровоснабжение</li>
                        <li><b>Облегчает</b> подвижность суставов</li>
                        <li><b>Активирует</b> регенерацию тканей</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
