
<section class="section section_stop" data-aos="fade-right">
    <div class="container">
        <div class="stop">
            <div class="section__title stop__title">Один из самых частых способов избавления от проблемы – <mark> обращение к хирургу.</mark> </div>
            <div class="stop__subtitle">Остановитесь. <span>Это не единственное решение.</span></div>
        </div>
    </div>
</section>
