
<section class="section section_surgeon">
    <div class="container">
        <div class="surgeon">
            <div class="section__title surgeon__title"><mark>Шесть НЕТ </mark> хирургическому вмешательству:</div>
            <div class="surgeon__box">
                <div class="surgeon__item surgeon__item_full">
                    <div class="surgeon__name surgeon__name_full">БОЛЬ</div>
                    <div class="surgeon__description surgeon__description_full">Это больно – нет! Это очень больно. Саму операцию вы не заметите, она происходит под наркозом. А в восстановительный период вы узнаете всё об обезболивающих средствах. И о том, что самые простые вещи теперь будут сопровождаться болью.</div>
                </div>
                <div class="surgeon__item surgeon__item_full">
                    <div class="surgeon__name surgeon__name_full">ОБЕЗДВИЖЕННОСТЬ</div>
                    <div class="surgeon__description surgeon__description_full">Дискомфорт при ходьбе, по мере развития заболевания –
                        в состоянии покоя.</div>
                </div>
                <div class="surgeon__item">
                    <div class="surgeon__name">ПОСЛЕОПЕРАЦИОННЫЕ РИСКИ </div>
                    <div class="surgeon__description">Отёки, аллергические реакции, вторичное инфицирование, венозные тромбы и даже некроз. </div>
                </div>
                <div class="surgeon__item">
                    <div class="surgeon__name">РЕЦИДИВ</div>
                    <div class="surgeon__description">Даже соблюдение всех врачебных рекомендаций не даёт гарантий, что через год искривление пальцев и образование шишек не повторится. Гарантий нет. </div>
                </div>
                <div class="surgeon__item">
                    <div class="surgeon__name">НЕТРУДОСПОСОБНОСТЬ</div>
                    <div class="surgeon__description">Поставить жизнь на паузу на долгий срок вплоть до нескольких месяцев. Готовы ли вы выпасть из рабочего графика на срок в 6-8 недель? Если вы занимаетесь физическим трудом – на 4 недели больше.</div>
                </div>
                <div class="surgeon__item">
                    <div class="surgeon__name">ФИНАНСОВАЯ СТОРОНА</div>
                    <div class="surgeon__description">Точная цена называется после изучения всего анамнеза и выбора способа операции, но в среднем она может составить от 10 000 евро. Также потребуется прием лекарств после операции, возможно пожизненно. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
