
<section class="section section_treatmen">
    <div class="container">
        <div class="treatmen">
            <div class="section__title treatmen__title">Лечение, <mark> которое поможет</mark></div>
            <div class="treatmen__box">
                <div class="treatmen__item">Снимает воспаление суставной сумки</div>
                <div class="treatmen__item">Избавляет от болевого синдрома и опухоли</div>
                <div class="treatmen__item">Возвращает подвижность стопы</div>
                <div class="treatmen__item">Выпрямляет положение пальца</div>
            </div>
            <div class="treatmen__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="treatmen__btn">
                <a href="">Заказать</a>
            </div>
            <div class="treatmen__description">
                <mark>ИЗБАВЬТЕСЬ ОТ ВЫСТУПАЮЩЕЙ</mark> КОСТОЧКИ <a href="">ЗА 1 КУРС ЛЕЧЕНИЯ*</a>
                <span>*длительность курса подбирается индивидуально</span>
            </div>
        </div>
    </div>
</section>
