
<section class="section section_what">
    <div class="container">
        <div class="what">
            <div class="section__title what__title">Вальгус – <mark>это трагедия</mark></div>
            <div class="what__box">
                <div class="what__item">
                    <div class="what__description">Визуальное искривление первых пальцев стоп</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Качество жизни неуклонно падает</div>
                </div>
                <div class="what__item">
                    <div class="what__description">В закрытой обуви ноги начинают ныть через 3-4 часа</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Развивается хронический воспалительный процесс</div>
                </div>
                <div class="what__item">
                    <div class="what__description">Дискомфорт при ходьбе, по мере развития заболевания – в состоянии покоя</div>
                </div>
            </div>
        </div>
    </div>
</section>
