
<section class="section section_wooman" data-aos="fade-right">
    <div class="container">
        <div class="wooman">
            <div class="section__title wooman__title">Hallux valgus <mark>в 10 раз чаще</mark> встречается у женщин.</div>
            <div class="wooman__media">
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa.png" alt="">
                </div>
                <div class="wooman__media-item">
                    <img src="../media/wooman/lapa-white.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
