
.what__title {
    margin-bottom: 30px;
    font-size: 63px;
    font-weight: 500;
    text-align: center;

    & mark {
        font-weight: 700;
        color: #fe003c;
    }
}

.what__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.what__item {
    position: relative;
    display: flex;
    flex: 1 0 250px;
    align-items: flex-end;
    min-width: 250px;
    padding: 300px 30px 30px;
    overflow: hidden;

    &::before {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        box-shadow: 0 0 130px 70px #000;
    }

    &:nth-child(1) {
        background-image: url("../media/what/img-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/what/img-5.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/what/img-3.jpg");
    }

    &:nth-child(4) {
        background-image: url("../media/what/img-4.jpg");
    }

    &:nth-child(5) {
        background-image: url("../media/what/img-2.jpg");
    }
}

.what__description {
    position: relative;
    z-index: 1;
    font-size: 17px;
    color: #fff;
}

@media (max-width: 1280px) {
    .what__item {
        background-position: center bottom;

        &:nth-child(1) {
            background-image: url("../media/what/img-1-1280.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/what/img-5-1280.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/what/img-3-1280.jpg");
        }

        &:nth-child(4) {
            background-image: url("../media/what/img-4-1280.jpg");
        }

        &:nth-child(5) {
            background-image: url("../media/what/img-2-1280.jpg");
        }
    }
}

@media (max-width: 768px) {
    .what__description {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 480px) {
    .what__box {
        margin-right: -15px;
        margin-left: -15px;
    }

    .what__item {
        padding-top: 250px;
        padding-right: 15px;
        padding-left: 15px;
        background-size: cover;
    }
}
