
<section class="section section_header">
    <div class="container">
        <div class="header" data-aos="fade-right">
            <div class="header__logo header__item">Prosta <mark>line</mark></div>
            <div class="header__item">
                <div class="header__item-media">
                    <img src="../media/header/def.png" alt="">
                </div>
                <div class="header__item-info">
                    100%
                    <span>натурально</span>
                </div>
            </div>
            <div class="header__item">
                <div class="header__item-media">
                    <img src="../media/header/mikr.png" alt="">
                </div>
                <div class="header__item-info">
                    <span>Доказано</span>
                    исследованиями
                </div>
            </div>
            <div class="header__item">
                <a href="#" class="header__btn">Заказать звонок</a>
            </div>
        </div>
    </div>
</section>
