
<section class="section section_man">
    <div class="container">
        <div class="man" data-aos="fade-right">
            <div class="section__title section__title_arrow man__title">Cамое распространённое мужское заболевание</div>
            <div class="man__info">
                <div class="man__media">
                    <img src="../media/man/img.png" alt="">
                </div>
                <div class="man__description">
                    <p><span>Простатит – </span>это воспаление предстательной железы. Чаще всего проходит в острой или хронической форме. С возрастом риск возрастает.</p>
                    <p>хроническим простатитом <mark>страдает 85% мужчин</mark> разного возраста </p>
                </div>
            </div>
        </div>
    </div>
</section>
