.stButton .stMainServices {
    height: 22px !important;
}

.stButton .stButton_gradient {
    height: 22px !important;
}

.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal
}

.has-drop-cap:not(:focus):after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, nav {
    display: block
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

button {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button;

}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}


@media print {
    *, *:before, *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    background-color: #fff
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #63a70a;
    text-decoration: none
}

a:hover, a:focus {
    color: #f6931c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

h1, h2, h3, h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h5 {
    font-size: 14px
}

p {
    margin: 0 0 10px
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1010px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-sm-3, .col-sm-4, .col-xs-6, .col-sm-6, .col-sm-10, .col-xs-12, .col-sm-12, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-6, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-6 {
    width: 50%
}

@media (min-width: 768px) {
    .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-10, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
    display: table;
    content: " "
}

.clearfix:after, .container:after, .row:after {
    clear: both
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #333
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0px
}

a, a:link, a:active, a:hover, a:visited, a:after {
    font-weight: inherit
}

img {
    max-width: 100%;
    height: auto
}

.clear {
    clear: both
}

::-webkit-input-placeholder {
    opacity: 1
}

::-moz-placeholder {
    opacity: 1
}

::-moz-placeholder {
    opacity: 1
}

::-ms-input-placeholder {
    opacity: 1
}

p, .blog-details ol li {
    margin: 0 0 0.625em 0
}

.sr {
    position: absolute;
    left: -9999px
}

.blog-details ol {
    margin-left: 0;
    margin-bottom: 1.250em;
    clear: both
}

.blog-details ol li {
    list-style: decimal inside
}

p a, p a:link {
    color: #63a70a;
    text-decoration: none
}

p a:hover {
    color: #f6931c;
    text-decoration: none
}

h3 {
    font-size: 22px;
    line-height: 1.250em;
    margin: 0 0 0.208em 0;
    color: #333;
    font-weight: 700
}

.main-header {
    padding: 3em 0 0.875em
}

nav.main-navigation ul {
    margin: 0
}

nav.main-navigation ul li {
    margin: 0;
    float: left;
    list-style: none;
    font-weight: 700;
    font-size: 0.688em;
    text-transform: uppercase;
    color: #333;
    border-right: 0.091em solid #b0b0b0;
    padding: 0 0.545em 0 0.545em;
    line-height: 1.000em
}

nav.main-navigation ul li:last-child {
    border-right: 0
}

.main-header {
    z-index: 100
}

.logo {
    float: left
}

nav.main-navigation.bottom-menu {
    margin-top: 15px
}

nav.main-navigation.bottom-menu ul li {
    font-size: 0.813em;
    padding: 0 0.692em;
    line-height: 1.000em
}

.mg-wpsi {
    float: left;
    margin: 0.313em 0 0 0.500em
}

.mg-wpsi li {
    float: left;
    list-style: none;
    margin: 0 0.350em
}

.footer-top, .footer-bottom {
    color: #fff;
    background: #63a70a;
    padding: 3.125em 0 3.125em 0;
    border-bottom: 0.063em solid #fff;
    clear: both
}

.footer-bottom {
    border-bottom: 0;
    padding: 0.938em 0 0.938em 0;
    text-align: center
}

.footer-top h3.widget-title, .footer-top ul li {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: inherit;
    margin: 0 0 0.208em 0
}

.footer-top h3.widget-title {
    display: none
}

.footer-top ul {
    margin: 0
}

.footer-top .ql-editor * {
    color: #ffffff !important
}

.copyright {
    color: #ffffff
}

.footer-top ul li {
    display: block
}

.footer-top ul li + li {
    margin-top: 8px
}

.footer-top ul li {
    font-size: 16px;
    font-weight: 600
}

.footer-top .subscribe-block {
    margin: 0;
    padding-top: 0;
    padding-bottom: 1rem
}

.footer-top .subscribe-block .textwidget h5 {
    margin-top: 0;
    font-size: 20px
}

.footer-top .textwidget h5 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.263em;
    margin: 0 0 0.789em 0;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0
}

.footer-bottom p {
    color: #fff;
    font-size: 0.750em;
    line-height: 1.500em;
    margin: 0.250em 0 0 0
}

.mobile-header {
    display: none;
    position: relative
}

.single-post span.prod-image {
    float: left;
    width: 100%;
    line-height: 0.063em;
    text-align: center
}

.blog-details {
    background: #ffffff;
    border: 0.063em solid #ccc;
    display: block;
    margin: 0 auto;
    max-width: 46.875em;
    position: relative;
    top: -25px;
    width: 100%;
    padding: 0 50px 50px 50px
}

.single-post-header {
    text-align: center
}

.single-post-header img.blog-icon {
    margin-top: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%
}

.single-post h1 {
    font-weight: 700;
    font-size: 2.000em;
    line-height: 1.188em;
    color: #333;
    margin: 0 0 0.469em 0;
    text-align: left
}

.single-post-header h1 {
    margin: 0 0 0.469em 0;
    text-align: center
}

.blog-details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.000em;
    color: #333;
    margin: 0 0 16px
}

.blog-details h2 {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.750em;
    font-weight: 700;
    line-height: 1.286em;
    margin: 0 0 0.5em 0
}

.blog-details .comments-area {
    float: left;
    width: 100%;
    margin: 0 0 0 0
}

.blog-details h2.comments-title {
    border-bottom: 0.083em solid #e1e1e1;
    border-top: 0.083em solid #e1e1e1;
    font-size: 0.750em;
    line-height: 1.417em;
    margin: 0 0 1.667em;
    padding: 0.667em 0;
    text-align: right;
    font-weight: 700;
    color: #333
}

ol.comment-list li {
    list-style: none
}

.blog-details .comments-area p {
    color: #797675;
    font-family: "Open Sans", sans-serif;
    font-size: 1.000em;
    font-weight: 300;
    line-height: 1.417em;
    margin: 0 0 0
}

.postFooterShare {
    float: left;
    margin: 1.88em 0 1.88em;
    width: 100%
}

.sharing {
    float: left;
    width: 100%
}

.printAndEmail {
    float: right;
    width: 20%;
    background-color: #515252;
    height: 1.69em;
    display: flex;
    flex-wrap: wrap;
}

.sharing .faceTweetPin, .sharing .plusEmail {
    float: left;
    width: 40%;
    position: relative
}

.st_facebook_hcount, .st_twitter_hcount, .st_pinterest_hcount, .st_email_hcount {
    background: #395088;
    float: left;
    height: 1.688em;
    width: 50%
}

.st_twitter_hcount {
    background: #3f98d3
}

.st_pinterest_hcount {
    background: #a42d22
}

.st_email_hcount {
    background: #818285;
    position: absolute;
    right: 0;
    top: 0
}

.stButton {
    margin: 0 !important
}

.st_facebook_hcount .stButton > span, .st_twitter_hcount .stButton > span, .st_pinterest_hcount .stButton > span, .st_email_hcount .stButton > span {
    height: 2.45em;
    line-height: 2.45em;
    float: left;
    position: relative
}

.st-facebook-counter, .st-twitter-counter, .st-pinterest-counter, .st-email-counter {
    height: 2.45em !important;
    width: 2.45em !important;
    -webkit-background-size: 2.45em 2.45em !important;
    background-size: 2.45em 2.45em !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    min-height: 3.45em
}

body .stArrow {
    background: none !important;
    color: #ffffff !important;
    float: left;
    height: 2.45em !important;
    line-height: 2.45em !important;
    margin: 0 0 0 3.27em !important;
    padding: 0 !important
}

body .stButton_gradient.stHBubble {
    background: none !important;
    border: 0 none !important;
    color: #ffffff !important;
    line-height: 2.45em !important;
    margin: 0 !important;
    padding: 0 !important
}

body .stButton .stBubble_hcount, .printAndEmail span {
    font-size: 1.09em;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    font-weight: 500
}

.printAndEmail span {
    color: #ffffff;
    font-size: 0.75em;
    line-height: 2.25em;
    margin: 0 0 0 0.75em
}

.printAndEmail a {
    float: left;
    height: 1.69em;
    width: 1.69em;
    text-indent: -624.938em;
}

.prod-image {
    min-height: 7.81em
}

.blog-details ol li {
    color: #333333;
    font-size: 1em;
    margin: 0 0 0.625em
}

.blog-details .tags {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    line-height: 1.2em;
    margin: 16px 0;
    padding: 0.45em 0;
    text-align: center;
    width: 100%;
    color: #797675;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase
}

.stButton .stBubble_hcount {
    color: #fff !important
}

nav#breadcrumbs {
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    vertical-align: baseline !important
}

.footer-top {
    color: #ffffff
}

.footer-top ul {
    list-style: none
}

.nav-top {
    margin-top: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.social-nav-container .mg-wpsi {
    margin-right: 2rem
}

@media screen and (min-width: 980px) {
    .social-nav-container .mg-wpsi {
        margin-right: 4rem
    }
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > span.mega-menu-link {
    border-right: 0px solid #333;
    font-weight: 800 !important
}

.subscribe-block {
    color: #fff;
    background: #63a70a;
    padding: 3.125em 0 3.125em 0;
    text-align: left
}

.footer-top .subscribe-block h5 {
    margin-bottom: 2rem
}

.subscribe-form {
    color: #fff;
    text-align: left;
    font-family: 'Open Sans', sans-serif
}

@media (max-width: 980px) {
    .subscribe-block .subscribe-form {
        margin-top: 40px;
        padding-top: 20px
    }
}

@media (max-width: 980px) {
    .footer-top .subscribe-block .subscribe-form {
        margin-top: 0px;
        padding-top: 0px
    }
}

.subscribe-form form {
    padding: 0px !important
}

.subscribe-form p, .subscribe-form span, .subscribe-form a {
    color: #fff !important;
    text-align: left !important
}

.subscribe-form p, .subscribe-form span, .subscribe-form a {
    font-family: 'Open Sans', sans-serif !important
}

@media (max-width: 980px) {
    .subscribe-form .fzSpET.fzSpET {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.subscribe-form .kwGIvD.kwGIvD {
    padding-top: 0px !important
}

.footer-top .subscribe-form .fzSpET.fzSpET {
    display: block;
    margin-top: 1rem
}

.footer-top .subscribe-form .kwGIvD.kwGIvD {
    padding-left: 0;
    padding-right: 0
}

@media (min-width: 767px) {

    body #mega-menu-wrap-primary #mega-menu-primary {
        padding-right: 0
    }

    body #mega-menu-wrap-primary #mega-menu-primary > li {
        padding: 20px 0 30px 0
    }

    body #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu {
        border: 1px solid #fff;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #fff;
        position: relative
    }
}

@media (max-width: 991px) {
    .blog-details .tags {
        margin-bottom: 0
    }

    .single span.prod-image {
        height: 15em !important
    }

    body #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > span.mega-menu-link {
        font-size: 10px;
        padding: 12px
    }

    .blog-details {
        padding-bottom: 0
    }

    .blog-details {
        top: -3.125em
    }

    h3 {
        font-size: 1.313em;
        line-height: 1.333em
    }

    p {
        font-size: 0.938em;
        line-height: 1.4em
    }

    nav.main-navigation ul li {
        font-size: 0.563em;
        padding: 0 0.556em
    }

    nav.main-navigation.bottom-menu ul li {
        font-size: 0.688em;
        padding: 0 0.545em
    }
}

@media (max-width: 979px) {
    .single .postFooterShare {
        display: none !important
    }

    body .footer-bottom {
        padding-bottom: 4em;
        padding-top: 1em
    }
}

@media (max-width: 767px) {

    .single span.prod-image {
        height: 13em !important
    }
}

@media (max-width: 767px) {

    body #mega-menu-wrap-primary #mega-menu-primary {
        width: 100vw;
        font-size: 1.250em;
        padding: 0;
        padding: 15px !important
    }

    body #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
        border: 0 none;
        display: block;
        font-size: 0.563em;
        padding: 0 !important;
        margin-bottom: 15px
    }

    body #mega-menu-wrap-primary {
        background: transparent
    }

    body .mega-menu.mega-menu-horizontal {
        display: block !important;
        width: 100%
    }

    body #mega-menu-wrap-primary .mega-menu-toggle {
        display: none
    }

    .single-post h1 {
        font-size: 1.500em;
        line-height: 1.333em
    }

    .blog-details h2 {
        font-size: 1.400em;
        line-height: 1.333em
    }

    .blog-details p, .blog-details ol li {
        font-size: 0.875em;
        line-height: 1.714em
    }

    .blog-details {
        padding-left: 3.125em;
        padding-right: 3.125em
    }

    .footer-top, .footer-bottom {
        padding: 1.500em 0
    }

    p, .blog-details ol li {
        font-size: 0.875em;
        line-height: 1.429em
    }

    .blog-details ol li {
        font-size: 0.875em;
        line-height: 1.714em
    }

    .main-header {
        display: none
    }

    .mobile-header {
        display: block;
        height: 3.313em
    }

    .mobile-logo {
        height: auto;
        left: 50%;
        margin: 0 0 0 -5.000em;
        position: absolute;
        top: 0px;
        width: 9.375em
    }

    .mobile-logo a {
        display: block;
        padding: 9px 16px
    }
}

@media (max-width: 639px) {

    .blog-details {
        float: left;
        width: 100%;
        display: block
    }

    .single span.prod-image {
        height: 9em !important
    }

    .prod-image {
        min-height: 60px
    }

    .blog-details {
        padding-left: 1.250em;
        padding-right: 1.250em;
        margin-bottom: 3.125em;
        top: -0.625em
    }
}

@media (max-width: 479px) {

    .single span.prod-image {
        height: 6em !important
    }

    .sharing .faceTweetPin, .sharing .plusEmail, .printAndEmail {
        width: 100%;
        margin: 0 0 0 0 !important
    }

    .sharing .faceTweetPin, .sharing .plusEmail {
        height: 4.38em
    }

    .st_facebook_hcount, .st_twitter_hcount, .st_pinterest_hcount, .st_email_hcount {
        margin-bottom: 0.5em;
        width: 100%
    }

    .st_pinterest_hcount {
        top: 0;
        left: 0;
        position: absolute
    }

    .st_email_hcount {
        right: 0;
        top: 2.2em
    }

    .blog-details {
        padding-left: 0.625em;
        padding-right: 0.625em;
        margin-bottom: 3.125em;
        top: 0
    }

    .single-post-header img.blog-icon {
        margin-top: 20px;
    }

    .footer-top h5, .footer-top h3.widget-title {
        font-size: 1.125em;
        line-height: 1.333em
    }
}

@media (max-width: 359px) {

    .single span.prod-image {
        height: 5em !important
    }
}

.mobile-nav {
    width: 100vw;
    position: fixed;
    top: 3.313em;
    left: 0;
    background: #f6f5f3;
    z-index: 100;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto
}

.mobile-nav.js-is-hidden {
    visibility: hidden
}

.mobile-nav__nav-list {
    list-style: none
}

.mobile-nav__nav-list .menu-item {
    padding: 0 15px
}

.mobile-nav__nav-list > .menu-item + .menu-item {
    border-top: 1px solid #ccc
}

.mobile-nav__sub-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 50px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none
}

.mobile-nav__sub-toggle:after {
    content: '';
    -webkit-background-size: 40% 40%;
    background-size: 40%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-nav li.menu-item {
    display: block
}

.mobile-nav li.menu-item a {
    padding: 15px 0;
    display: block
}

.mobile-nav .menu-item-has-children {
    position: relative
}

.mobile-nav .sub-menu {
    display: none;
    background: #fff;
    margin: 0 -15px;
    padding: 0 15px
}

#comments .avatar {
    border: 1px solid #f6f6f6;
    padding: 2px;
    max-width: 50px;
    display: inline
}

#comments .comment-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

#comments .comment-meta {
    min-width: 50px;
    margin-right: 10px
}

@media (min-width: 768px) {
    #comments .comment-meta {
        margin-right: 20px
    }
}

#comments .comment-content {
    width: 100%;
    padding: 10px;
    background: #fefefe;
    border: 1px solid #f6f6f6
}

#comments .comment-metadata {
    margin-bottom: 10px;
    overflow: hidden;
    margin-bottom: 0;
}

#comments .comment-author {
    color: #66C440
}

#comments .comment-time-since {
    font-size: 12px;
    color: #999;
    display: block;
    white-space: nowrap;
    line-height: 23px
}

#comments .comment-text {
    font-size: 14px
}

#comments .comment-text p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em
}

#comments .comment .reply {
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px
}

#comments .comment .reply {
    color: #666
}

.article-byline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

@media (min-width: 767px) {
    .article-byline {
        margin: 2rem 0 0
    }
}

.article-byline__img-container {
    min-width: 40px
}

.article-byline__img-container img {
    max-width: 100%;
    height: auto;
    width: 40px;
    border-radius: 50%
}

@media (min-width: 767px) {
    .article-byline__img-container img {
        margin-bottom: 0
    }
}

.article-byline .article-byline__title {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
    margin: 0 1rem
}

@media (min-width: 767px) {
    .article-byline .article-byline__title {
        margin: 0 1.5rem
    }
}

#mega-menu-wrap-primary #mega-menu-primary li {
    color: #333;
    font-family: inherit;
    font-size: 15px;
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    bottom: auto;
    left: auto;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    box-shadow: none;
    list-style-type: none;
    line-height: 1;
    box-sizing: border-box;
    float: none;
    overflow: visible;
    display: block;
    min-height: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-decoration: none;
    width: auto;
    clip: auto;
    height: auto;
    outline: none;
    visibility: inherit;
    pointer-events: auto;
}

#mega-menu-wrap-primary #mega-menu-primary li:before, #mega-menu-wrap-primary #mega-menu-primary li:after {
    display: none;
}

#mega-menu-wrap-primary, #mega-menu-wrap-primary #mega-menu-primary, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item {
    transition: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: 0;
    bottom: auto;
    box-sizing: border-box;
    clip: auto;
    color: #333;
    display: block;
    float: none;
    font-family: inherit;
    font-size: 15px;
    height: auto;
    left: auto;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    min-height: auto;
    max-height: none;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    pointer-events: auto;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    transform: none;
    top: auto;
    vertical-align: baseline;
    visibility: inherit;
    width: auto;
    word-wrap: break-word;
    white-space: normal;
}

#mega-menu-wrap-primary:before, #mega-menu-wrap-primary #mega-menu-primary:before, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item:before, #mega-menu-wrap-primary:after, #mega-menu-wrap-primary #mega-menu-primary:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item:after {
    display: none;
}

#mega-menu-wrap-primary {
    border-radius: 0;
}

@media only screen and (min-width: 769px) {
    #mega-menu-wrap-primary {
        background: #fff;
    }
}

#mega-menu-wrap-primary #mega-menu-primary {
    visibility: visible;
    text-align: left;
    padding: 0px 9px 0px 9px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu.mega-menu-item {
    position: static;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin: 0 9px 0 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

@media only screen and (min-width: 769px) {
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > span.mega-menu-link:hover {
        background: rgba(51, 51, 51, 0);
        color: #f6931c;
        font-weight: bold;
        text-decoration: none;
        border-color: #333;
    }
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > span.mega-menu-link {
    line-height: 13px;
    height: 13px;
    padding: 0px 9px 0px 9px;
    vertical-align: baseline;
    width: auto;
    display: block;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}

@media only screen and (max-width: 768px) {
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
        display: list-item;
        margin: 0;
        clear: both;
        border: 0;
    }

    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > span.mega-menu-link {
        border-radius: 0;
        border: 0;
        margin: 0;
        height: auto;
        padding: 0 10px;
        background: transparent;
        text-align: left;
        color: #333;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    #mega-menu-wrap-primary:after {
        content: "";
        display: table;
        clear: both;
    }
}

#mega-menu-wrap-primary .mega-menu-toggle {
    display: none;
    z-index: 1;

    background: #222;
    border-radius: 2px 2px 2px 2px;
    line-height: 40px;
    height: 40px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    #mega-menu-wrap-primary .mega-menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-left, #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-center, #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-preferred-size: 33.33%;
    -webkit-flex-basis: 33.33%;
    flex-basis: 33.33%;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block {
    margin-right: 6px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    outline: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
    #mega-menu-wrap-primary .mega-menu-toggle + #mega-menu-primary {
        background: #fff;
        padding: 0px 0px 0px 0px;
        display: none;
    }
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 {

}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after {
    content: '\f333';
    font-family: 'dashicons';
    font-size: 24px;
    color: #ddd;
    margin: 0 0 0 5px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
    color: #ddd;
    font-size: 14px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-open {
    display: none;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-closed {
    display: inline;
}

#mega-menu-wrap-primary {
    clear: both;
}


.mg-wpsi {

    list-style: none !important;
    min-height: 10px;
}

.mg-wpsi li {
    float: left !important;
    margin: 0px 5px !important;
}

.stButton .stButton_gradient {
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    padding: 2px;
    font-family: serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    height: 16px;
    background: #efefef
}

.stButton .stButton_gradient:hover {
    background: #d5d5d5
}

.stButton {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #000;
    display: inline-block;

    margin-right: 3px;
    margin-left: 3px;
    font-size: 11px;
    line-height: 16px
}

.stButton .stHBubble {
    background: #fff;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    z-index: -1;
    *margin-left: 0;
    display: none
}

.stButton .stArrow {
    padding-left: 3px;
    margin-left: -1px;
    line-height: 16px;
    height: 14px;
    display: inline-block;
    *display: inline;
    *padding-left: 6px
}

.stButton .stBubble_hcount {
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #555
}

.stButton .stMainServices {
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    display: inline-block;
    white-space: nowrap;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    height: 16px !important;
    min-height: 16px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 16px;
    width: auto;
    position: relative
}

.st_email_hcount .stButton .st-email-counter, .st_facebook_hcount .stButton .st-facebook-counter, .st_pinterest_hcount .stButton .st-pinterest-counter, .st_twitter_hcount .stButton .st-twitter-counter {
    height: 16px !important
}

.stButton .st-twitter-counter, .stButton .st-facebook-counter {
    width: 60px
}

.stButton .st-pinterest-counter, .stButton .st-email-counter {
    width: 60px
}

.single-page-comment {
    color: #63a70a;
}

.mg-wpsi li svg {
    width: 20px;
    height: 20px;
}

.mg-wpsi li svg path {
    fill: #63a70a;
}

.order {
    display: inline-block;
    text-align: center;
    background-color: #61a800;
    color: #fff !important;
    padding: 15px 60px;
    border-radius: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 20px;
}

.order:hover {
    background-color: #80b735;
}

.sharing svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

.sharing svg path {
    fill: #ffffff;
}

img {
    width: auto !important;
    max-width: 100% !important;
    display: block !important;
}

i {
    display: block;
    text-align: center;
}

@media (max-width: 480px) {
    .single-post-header img.blog-icon {
        display: none !important;
    }

    .single-post-header h1 {
        text-align: left;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    nav#breadcrumbs {
        text-align: left;
        margin-top: 20px;
    }

    .article-byline {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0;
        margin-left: -1rem;
    }

    #comments .comment-meta {
        flex: 0 0 50px;
    }

    .order {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }

    .single span.prod-image {
        display: block;
        height: 13em !important;
    }
}
