
.man__title {
    position: relative;
    max-width: 837px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 48px;
    color: #d69803;
    text-align: center;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: -20px;
        right: 0;
        width: 30px;
        height: 30px;
        content: '';
        border-top: 7px solid #fff;
        border-right: 7px solid #fff;
    }

    &::after {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 30px;
        height: 30px;
        content: '';
        border-bottom: 7px solid #fff;
        border-left: 7px solid #fff;
    }
}

.man__info {
    display: flex;
    justify-content: space-between;
}

.man__description {
    max-width: 530px;

    & p {
        font-size: 24px;
        line-height: 1.4;
        color: #fff;

        &:first-child {
            margin-bottom: 30px;
            color: #fff;
        }

        &:last-child {
            font-weight: 700;

            & mark {
                display: inline-block;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-left: 10px;
                margin-left: -10px;
                font-size: 33px;
                line-height: 1.2;
                color: #fff;
                text-transform: uppercase;
                background-color: #008f3a;
            }
        }

        & span {
            display: block;
            font-size: 48px;
            font-weight: 700;
            color: #df2922;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1054px) {
    .man__description {
        & p {
            &:last-child {
                & mark {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .man__info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .man__description {
        & p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;

            & span {
                font-size: 38px;
            }

            &:last-child {
                line-height: 1.2;

                & mark {
                    display: inline;
                    font-size: inherit;
                    text-transform: none;
                    background-color: transparent;
                }
            }

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

    .man__title {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 22px;
    }
}
