.help {
    position: relative;
}

.help__title {
    max-width: 620px;
    margin-bottom: 30px;
    font-size: 89px;
    line-height: 80px;
    text-transform: uppercase;
}

.help__info {
    max-width: 472px;
    margin-bottom: 20px;
    line-height: 21px;

    & p:first-child {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 22px;
        color: #84379a;
    }
}

.help__product {
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 1;
    max-width: 210px;
    margin-left: 57px;

    &::before {
        position: absolute;
        bottom: 22px;
        left: -91px;
        z-index: -1;
        width: 397px;
        height: 300px;
        content: '';
        background-image: url(../media/product-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.help__list {
    max-width: 420px;
}

.help__item {
    position: relative;
    padding: 5px 10px 5px 35px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #936cbb;
    border-radius: 3px;

    &::before {
        position: absolute;
        left: 10px;
        content: '—';
    }

    & + & {
        margin-top: 10px;
    }
}

@media (max-width: 1030px) {
    .help__info {
        max-width: 370px;
    }

    .help__list {
        max-width: 330px;
    }

    .help__product {
        max-width: 165px;
        margin-left: 35px;

        &::before {
            left: -70px;
            width: 330px;
            height: 250px;
        }
    }
}

@media (max-width: 768px) {
    .help__info {
        max-width: 100%;
    }

    .help__list {
        max-width: 100%;
    }

    .help__product {
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .help__title {
        text-align: center;
    }

    .help__product {
        bottom: -20px;
        left: 50%;
        max-width: 120px;
        margin-left: -60px;
        transform: translateX(-50%);

        &::before {
            bottom: 5px;
            left: -22px;
            width: 145px;
            height: 110px;
        }
    }
}
