
.recommendations {
    position: relative;
    padding: 40px 30px 40px 360px;
    margin-left: 55px;
    background-color: #fff;
    border-radius: 10px;
}

.recommendations__human {
    position: absolute;
    bottom: -60px;
    left: -55px;
}

.recommendations__title {
    margin-bottom: 10px;
    font-size: 63px;
    line-height: 1;
    text-transform: uppercase;
}

.recommendations__info {
    & p {
        font-size: 18px;
        line-height: 22px;

        & + p {
            margin-top: 20px;
        }

        &:first-child {
            font-size: 24px;
            line-height: 28px;
            color: #1525bd;
        }
    }
}

.recommendations__footer {
    display: flex;
    margin-top: 60px;
}

.recommendations__id {
    min-width: 134px;
    margin-right: 20px;
}

.recommendations__name {
    max-width: 190px;
    line-height: 22px;

    & > span {
        font-weight: 700;
        color: #1525bd;
    }
}

@media (max-width: 1030px) {
    .recommendations {
        padding-left: 215px;
    }

    .recommendations__human {
        max-width: 270px;
    }
}

@media (max-width: 768px) {
    .recommendations {
        padding: 30px;
        margin-left: 0;
    }

    .recommendations__human {
        left: 0;
        max-width: 120px;
    }

    .recommendations__footer {
        margin-left: 80px;
    }

    .recommendations__id {
        min-width: auto;
        max-width: 90px;
    }

    .recommendations__info {
        & p {
            &:first-child {
                font-size: 20px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 480px) {
    .recommendations {
        padding: 30px 15px;
    }

    .recommendations__info {
        & p {
            font-size: 18px;

            &:first-child {
                font-size: 18px;
            }
        }
    }

    .recommendations__footer {
        flex-direction: column-reverse;
        margin-top: 25px;
        margin-left: 125px;
    }

    .recommendations__name {
        font-size: 14px;
    }

    .recommendations__human {
        bottom: -34px;
    }

    .recommendations__id {
        min-width: 100px;
    }
}
