
.research {
    max-width: 550px;
}

.research__title {
    margin-bottom: 30px;
    font-size: 69px;
    line-height: 59px;
    text-transform: uppercase;
}

.research__info {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
}

.research__progress {
    & + & {
        margin-top: 30px;
    }

    & p {
        margin-bottom: 10px;
        line-height: 20px;
    }

    &:first-child {
        & .research__progressbar {
            &::before {
                width: 95%;
                background-color: #0194b7;
            }
        }
    }

    &:nth-child(2) {
        & .research__progressbar {
            &::before {
                width: 83%;
                background-color: #1ab345;
            }
        }
    }

    &:last-child {
        & .research__progressbar {
            &::before {
                width: 88%;
                background-color: #01b793;
            }
        }
    }
}

.research__progressbar {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 38px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #000;
    border-radius: 50px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        content: '';
        border-radius: 50px;
        transition: .3s width;
    }
}

@media (max-width: 1030px) {
    .research__box {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .research__progress {
        font-weight: 500;
        line-height: 1;
    }
}
