
.commits__title {
    max-width: 590px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 68px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
}

.commits__box {
    & .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px !important;
    }

    & .owl-dot {
        width: 15px !important;
        height: 15px !important;
        margin-right: 3px !important;
        margin-left: 3px !important;
        background-color: #000 !important;
        border-radius: 50% !important;

        &.active {
            background-color: #c8a77a !important;
        }

        &:focus {
            outline: none;
        }
    }
}

.commits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px 23px;
    margin: 42px 20px 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.commits__face {
    position: absolute;
    top: -41px;
    width: 85px;
    overflow: hidden;
    border: 5px solid #f8f8f8;
    border-radius: 50%;
}

.commits__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #1273be;
}

.commits__description {
    width: 100%;
    line-height: 21px;
}

@media (max-width: 1030px) {
    .commits__item {
        width: 320px;
        padding: 20px 23px;
    }
}

@media (max-width: 768px) {
    .commits__item {
        width: auto;
    }

    .commits__title {
        font-size: 47px;
    }
}

@media (max-width: 480px) {
    .commits__title {
        font-size: 37px;
    }

    .commits__description {
        font-size: 18px;
        line-height: 1.4;
    }

    .commits__item {
        padding: 15px;
    }
}
