
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up"><span>Они уже почувствовали</span>
                свободу движений!</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Camilla <span>Stone</span></div>
                    <div class="commits__description">
                        Думала, что мне уже ничего не поможет. Я носила шины, пила таблетки, пользовалась мазями. Подумывала об операции, но для меня это очень дорого. Спасибо моему новому доктору, именно он выписал мне Osteowell. Уже через неделю я забыла о боли, мозолях и отеках. А к концу курса шишка стала в два раза меньше. Я очень довольна, буду пользоваться еще. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-1.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Alannah <span>Haynes</span></div>
                    <div class="commits__description">
                        Чтобы убрать косточку на ноге, я очень много читала и консультировалась с врачами. Но ни народное лечение, ни аптечные средства и лечебная физкультура с физиотерапией мне не помогли. Косточка только росла. Сейчас для устранения этого дефекта я делаю массаж стопы с применением крема Osteowell. И я очень удивлена результатом, точнее тем, что он есть и он достаточно значительный! Так что всем рекомендую.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-2.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Lindsey <span>Hutchinson</span></div>
                    <div class="commits__description">
                        Я больше никогда не буду делать операцию, чтобы вырезать шишку. Она очень болезненная. А самое главное, что прошел уже год, а отечность и боль не прошли. И шишка стала опять расти. Мне посоветовали Osteowell. Я была удивлена, но он сразу снял отек и болевые ощущения. Шишка больше не растет, пользуюсь для профилактики на двух ногах. Знала бы раньше о нем, может быть, все обошлось без операции.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
