
<section class="section section_effect">
    <div class="container">
        <div class="effect">
            <div class="section__title effect__title" data-aos="fade-up"><mark>Крем Osteowell имеет широкий спектр</mark> <span><mark>действия.</mark> Эффективен при таких</span> проблемах и заболеваниях ног, как:</div>
            <div class="effect__body">
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Hallux valgus</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Отклонение кости в суставе от своей оси. Образование нароста из мягких тканей возле большого пальца ноги.</div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="200">Пяточная шпора, натоптыши </div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="200">Онемение конечностей, боль при движении и в состоянии покоя, хруст, ограниченное движение. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Варикозное расширение вен</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Увеличение капилляров и вен, появление узлов, жжение, усталость, отечность, боль и судороги в ногах. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="200">Бурсит</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="200">Боль, сильный отек в области поврежденного сустава, нарушение подвижности конечности. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Синовит</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Скованность движений, болевые ощущения, поражение и отечность суставов. </div>
                </div>
            </div>
        </div>
    </div>
</section>
