
<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>
