<section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__body">
                <div class="pain__product">
                    <img src="../media/product.png" alt="">
                </div>
                <div class="pain__content">
                    <div class="section__title pain__title" data-aos="fade-up">Избавьтесь от боли <span>и выпирающей</span> косточки</div>
                    <div class="pain__subtitle"  data-aos="fade-right" data-aos-delay="100">Osteowell – новейшее средство, комплексно воздействующее на заболевание. Крем проникает глубоко в костную ткань, восстанавливая поврежденную стопу на клеточном уровне.</div>
                    <p data-aos="fade-right" data-aos-delay="200">Благодаря сочетанию органических компонентов, Osteowell быстро купирует болевой синдром, устраняет отек и воспалительный процесс.</p>
                    <p data-aos="fade-right" data-aos-delay="300">Постепенно крем запускает регенерацию поврежденной ткани и устраняет деформацию хряща плюснефалангового сустава.</p>
                    <a class="pain__btn" href="#face-form">ЗАКАЗАТЬ</a>
                </div>
            </div>
        </div>
    </div>
</section>