
<div class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">Всего один симптом говорит <mark>о серьезной проблеме</mark></div>
            <div class="problems__list">
                <div class="problems__item" data-aos="fade-right" data-aos-delay="100">Кончик большого пальца отклоняется в сторону</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="100">Появляется твердое костное уплотнение у основания пальца</div>
                <div class="problems__item" data-aos="fade-right" data-aos-delay="200">Немеют пальцы и ступни</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="200">Судороги в икроножных мышцах</div>
                <div class="problems__item" data-aos="fade-right" data-aos-delay="300">Дискомфорт и боль при ходьбе</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="300">Отечность и покраснение в ногах</div>
            </div>
        </div>
    </div>
</div>
