
<section class="section section_stop">
    <div class="container">
        <div class="stop">
            <div class="section__title stop__title" data-aos="fade-up">Остановите <span>разрушение кости!</span></div>
            <div class="stop__body">
                <div class="stop__body-box stop__body-box_left">
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="100"><mark>Отложение</mark> солей мочевой кислоты</div>
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="200"><mark>Воспаленная</mark> оболочка сустава</div>
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="300"><mark>Синюшность</mark> кожи</div>
                </div>
                <div class="stop__body-box stop__body-box_right">
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="100"><mark>Бородавчатые</mark> разрастания под пальцами и сбоку</div>
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="200"><mark>Болезненные</mark> мозоли</div>
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="300"><mark>Натоптыши</mark></div>
                </div>
            </div>
        </div>
    </div>
</section>
