
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__info">
                <div class="section__title warning__title" data-aos="fade-right">Остерегайтесь подделок!</div>
                <div class="warning__description" data-aos="fade-right" data-aos-delay="100">В связи с огромной популярностью средства Osteowell стали появляться фальсифицированные образцы. Оригинальный продукт можно приобрести только на этом сайте.</div>
            </div>
            <div class="warning__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <div class="warning__prem">
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="100">
                    <img src="../media/warning/prem-1.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="200">
                    <img src="../media/warning/prem-2.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="300">
                    <img src="../media/warning/prem-3.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="400">
                    <img src="../media/warning/prem-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
