.consist {
  padding: 100px 0;
  background: #fff;
}

.consist-title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 130px;
}

.consistBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.consistItem {
  background: #fff;
  padding-left: 35px;
  padding-right: 10px;
  max-width: 335px;
  flex: 1 0 100%;
  margin: 0 10px;
  position: relative;
  border: 9px solid $consistBorder;
  border-radius: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, .1);
}

.consistItem_product:before {
  content: '';
  background: url("../imgs/product/product-before.png") no-repeat center/100%;
  display: block;
  width: 315px;
  height: 315px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.consistItem_top {
  z-index: 6;
}

.consistItem-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.consistListItem {
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}

.consistListItem:before {
  content: '';
  display: block;
  background: url("../imgs/consist/check.png") no-repeat center/100%;
  width: 16px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: -20px;
}

.consist-img {
  margin: -85px auto 40px;
  position: relative;
  z-index: 4;
}

.consist-img_1 {
  max-width: 228px;
}

.consist-img_2 {
  max-width: 235px;
  margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
  .consist {
    padding: 70px 0 0;
    overflow: hidden;
  }

  .consist-title {
    margin-bottom: 100px;
  }

  .consistBlock {
    flex-wrap: wrap;
    align-items: center;
  }

  .consistItem {
    margin-bottom: 90px;
  }

  .consist-img {
    margin-bottom: 10px;
  }

  .consistListItem,
  .consistItem-title {
    margin-bottom: 20px;
  }

  .consistItem:last-child {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .consist-title {
    font-size: 40px;
  }
}
