header {
  padding: 40px 0 80px;
  background: radial-gradient(circle, #fbfcff, $backgr 60%);
  overflow: hidden;
}

.order1-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.order1-list_top {
  max-width: 650px;
  flex: 1 0 100%;
  margin-bottom: 25px;
  justify-content: space-between;
  .order1List-text {
    font-size: 18px;
  }
}

.orderList-img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.order1ListItem {
  max-width: 290px;
  display: flex;
  align-items: center;
  margin: 5px;
  .order1-list_top {
    margin-bottom: 0;
  }
}

.order1ListItem_right {
  max-width: 400px;
  flex: 1 0 100%;
  justify-content: flex-end;
}

.order1-logo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: $logo_grey;
}

.order1-main {
  display: flex;
  margin-bottom: 100px;
}

.order1-left {
  max-width: 505px;
  flex: 1 0 100%;
  position: relative;
  z-index: 5;
}

.mainLogo {
  font-family: 'PFBeauSansPro';
  font-size: 106px;
  font-weight: 900;
  text-transform: uppercase;
  color: $blue;
  margin: 50px 0 25px;
}

.productBlock .new-price {
  left: 0;
  right: -370px;
  top: 50px;
  margin: auto;
  z-index: 6;
}

.mainLogo_small {
  font-size: 60px;
  font-family: 'PFBeauSansPro';
  font-weight: 400;
  color: #000;
}

.order1-title {
  font-size: 48px;
  font-weight: 350;
  margin-bottom: 30px;
}

.order1-text {
  font-size: 24px;
  margin-bottom: 25px;
}

.order1-btn {
  padding: 25px 10px;
  background: repeating-linear-gradient(45deg, $dark-green, $dark-green 2px, $green 2px, $green 7px);
  text-align: center;
  font-size: 24px;
  color: #fff;
  max-width: 305px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(35, 180, 143, .6);
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.order1-btn:hover {
  box-shadow: 0 10px 30px rgba(35, 180, 143, .6);
  transform: scale(1.02);
}

.order1-list_bottom {
  max-width: 735px;
  .order1List-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {

  header {
    padding: 0 0 30px;
  }

  .order1-list {
    flex-wrap: wrap;
  }

  .order1-main {
    flex-wrap: wrap;
  }

  .productBlock {
    position: relative;
    order: 1;
    margin: 20px auto;
    .product-img {
      margin: 0;
    }
  }

  .productBlock:before {
    left: -40px;
  }

  .order1-left {
    order: 2;
    margin: 0 auto;
    .order1-btn {
      margin: 0 auto;
    }
  }

  .mainLogo {
    margin: 10px 0;
  }

  .order1-list_top {
    justify-content: center;
    margin-bottom: 10px;
  }

  .order1-list {
    justify-content: center;
    margin: 10px auto;
  }

  .order1-main {
    margin-bottom: 30px;
  }

  .order1-list_bottom {
    justify-content: flex-start;
    .order1ListItem {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 576px) {

  .productBlock {
    margin-top: 50px;
  }
  .productBlock:before,
  .productBlock:after {
    display: none;
  }

  .productBlock .product-img {
    max-width: 250px;
  }

  .productBlock .new-price {
    right: -165px;
    top: -70px;
  }

  .order1ListItem {
    .order1-list_top {
      justify-content: flex-start;
    }
  }

  .mainLogo {
    font-size: 60px;
    .mainLogo_small {
      font-size: 35px;
    }
  }

  .order1-title {
    font-size: 30px;
  }

}