.pain {
  padding: 80px 0 0;
  background: url("../imgs/pain/pain-bg.png") no-repeat center/cover;
  min-height: 960px;
  color: #fff;
  .container {
    display: flex;
    justify-content: flex-end;
  }

  .productBlock {
    @extend %absoluteCenter;
    right: inherit;
    left: -200px;
  }
}

.pain-productBefore {
  @extend %absoluteCenter;
  max-width: 590px;
  z-index: 1;
  top: -100px;
}

.pain-main {
  position: relative;
  z-index: 4;
  max-width: 670px;
  flex: 1 0 100%;
  padding-left: 10px;
}

.pain-title {
  font-size: 60px;
  text-transform: uppercase;
}

.pain-subTitle {
  font-size: 35px;
  text-transform: lowercase;
  line-height: 1.5;
}

.pain-text {
  max-width: 540px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.pain-list,
.pain-footer {
  margin-left: 100px;
}

.painList-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.painList-img {
  max-width: 45px;
  margin-right: 30px;
}

.painList-text {
  font-size: 24px;
}

.painList-text_big {
  font-weight: 700;
  text-transform: uppercase;
  color: $borderDark;
}

.pain-footer {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 45px;
  max-width: 480px;
}

@media screen and (max-width: 991px) {
  .pain {
    padding-top: 30px;
  }

  .pain-main {
    max-width: 100%;
    flex: 1 0 100%;
  }

  .pain .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pain-title {
    .borderBottom_dark {
      background: none;
    }
    text-align: center;
  }

  .pain .productBlock {
    position: relative;
    left: inherit;
    margin: 0;
  }

  .pain-subTitle {
    line-height: .9;
    margin: 10px 0 20px;
  }

  .painList-item {
    margin-bottom: 10px;
  }

  .painList-img {
    margin-right: 15px;
  }

  .pain-text {
    margin: 10px 0 20px;
  }

  .pain-list {
    margin-left: 0;
  }

  .pain-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: initial;
  }
}

@media screen and (max-width: 576px) {
  .pain {
    background-position-x: 62%;
  }

  .pain-title {
    font-size: 40px;
  }

  .pain-footer {
    margin-left: 0;
  }
}