<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Osteowell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="Для красоты и здоровья ваших ног">
    <meta property="og:description" content="Для красоты и здоровья ваших ног">
    <meta name="twitter:description" content="Для красоты и здоровья ваших ног">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Osteowell">
    <meta name="twitter:title" content="Osteowell">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="ноги, помощь, красота ног, крем для ног">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Osteowell">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title">для красоты и здоровья ваших ног</div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    <mark>Уменьшает</mark> выраженную косточку
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    <mark>Снимает</mark> отечность, боли и воспаление
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    <mark>Улучшает</mark> кровоснабжение
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    <mark>Восстанавливает</mark> хрящевую ткань
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="500">
                                <img src="../media/face/icon-5.png" alt="">
                                <div class="face__list-description">
                                    <mark>Предотвращает</mark> болезни стопы
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                    <div class="face__garant">
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="100">
                            <span>Одобрено</span> врачами-ортопедами
                        </div>
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="200">
                            <span>Гарантия</span> 100% результата
                        </div>
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="300">
                            <span>100% натуральный</span> состав
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать сейчас по</span> скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<div class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">Всего один симптом говорит <mark>о серьезной проблеме</mark></div>
            <div class="problems__list">
                <div class="problems__item" data-aos="fade-right" data-aos-delay="100">Кончик большого пальца отклоняется в сторону</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="100">Появляется твердое костное уплотнение у основания пальца</div>
                <div class="problems__item" data-aos="fade-right" data-aos-delay="200">Немеют пальцы и ступни</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="200">Судороги в икроножных мышцах</div>
                <div class="problems__item" data-aos="fade-right" data-aos-delay="300">Дискомфорт и боль при ходьбе</div>
                <div class="problems__item" data-aos="fade-left" data-aos-delay="300">Отечность и покраснение в ногах</div>
            </div>
        </div>
    </div>
</div>

    
<section class="section section_stop">
    <div class="container">
        <div class="stop">
            <div class="section__title stop__title" data-aos="fade-up">Остановите <span>разрушение кости!</span></div>
            <div class="stop__body">
                <div class="stop__body-box stop__body-box_left">
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="100"><mark>Отложение</mark> солей мочевой кислоты</div>
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="200"><mark>Воспаленная</mark> оболочка сустава</div>
                    <div class="stop__list stop__list_left" data-aos="fade-right" data-aos-delay="300"><mark>Синюшность</mark> кожи</div>
                </div>
                <div class="stop__body-box stop__body-box_right">
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="100"><mark>Бородавчатые</mark> разрастания под пальцами и сбоку</div>
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="200"><mark>Болезненные</mark> мозоли</div>
                    <div class="stop__list stop__list_right" data-aos="fade-left" data-aos-delay="300"><mark>Натоптыши</mark></div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__body">
                <div class="pain__product">
                    <img src="../media/product.png" alt="">
                </div>
                <div class="pain__content">
                    <div class="section__title pain__title" data-aos="fade-up">Избавьтесь от боли <span>и выпирающей</span> косточки</div>
                    <div class="pain__subtitle"  data-aos="fade-right" data-aos-delay="100">Osteowell – новейшее средство, комплексно воздействующее на заболевание. Крем проникает глубоко в костную ткань, восстанавливая поврежденную стопу на клеточном уровне.</div>
                    <p data-aos="fade-right" data-aos-delay="200">Благодаря сочетанию органических компонентов, Osteowell быстро купирует болевой синдром, устраняет отек и воспалительный процесс.</p>
                    <p data-aos="fade-right" data-aos-delay="300">Постепенно крем запускает регенерацию поврежденной ткани и устраняет деформацию хряща плюснефалангового сустава.</p>
                    <div class="pain__btn">ЗАКАЗАТЬ</div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="section section_step">
    <div class="container">
        <div class="step">
            <div class="section__title step__title" data-aos="fade-up">Механизм действия Osteowell</div>
            <div class="step__body">
                <div class="step__item">
                    <div class="step__week step__week_1" data-aos="fade-up" data-aos-delay="100">1 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="200">Проникает в глубокие слои кожи и снимает острые и хронические воспалительные процессы, уменьшает выраженность болей и улучшает подвижность сустава.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_2" data-aos="fade-up" data-aos-delay="200">2 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="200">Стимулирует вывод жидкости из сустава и рассасывание воспалительных отеков. Исключает натирание кожи, образование натоптышей и  мозолей.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_3" data-aos="fade-up" data-aos-delay="300">3 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="300">Восстанавливает кровоснабжение и выводит соли мочевой кислоты, уменьшая выпирающую косточку.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_4" data-aos="fade-up" data-aos-delay="400">4 неделя</div>
                    <div class="step__info" data-aos="fade-right" data-aos-delay="300">Восстанавливает суставную ткань и предупреждает распространение патологии на здоровые суставы стопы.</div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="section section_effect">
    <div class="container">
        <div class="effect">
            <div class="section__title effect__title" data-aos="fade-up"><mark>Крем Osteowell имеет широкий спектр</mark> <span><mark>действия.</mark> Эффективен при таких</span> проблемах и заболеваниях ног, как:</div>
            <div class="effect__body">
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Hallux valgus</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Отклонение кости в суставе от своей оси. Образование нароста из мягких тканей возле большого пальца ноги.</div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="200">Пяточная шпора, натоптыши </div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="200">Онемение конечностей, боль при движении и в состоянии покоя, хруст, ограниченное движение. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Варикозное расширение вен</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Увеличение капилляров и вен, появление узлов, жжение, усталость, отечность, боль и судороги в ногах. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="200">Бурсит</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="200">Боль, сильный отек в области поврежденного сустава, нарушение подвижности конечности. </div>
                </div>
                <div class="effect__item">
                    <div class="effect__name" data-aos="fade-up" data-aos-delay="100">Синовит</div>
                    <div class="effect__description" data-aos="fade-right" data-aos-delay="100">Скованность движений, болевые ощущения, поражение и отечность суставов. </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_extract">
    <div class="container">
        <div class="extract">
            <div class="section__title extract__title" data-aos="fade-up">Osteowell не имеет противопоказаний </div>
            <div class="extract__subtitle" data-aos="fade-up">Osteowell не имеет побочного эффекта, поскольку изготовлен из экологически чистого сырья и натуральных ингредиентов. Активная формула крема не содержит химических соединений, негативно влияющих на здоровье человека.</div>
            <div class="extract__body">
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="100"><span>Экстракт смолы босвеллии:</span></div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">снимает болевой синдром и воспаление; </li>
                            <li data-aos="fade-right" data-aos-delay="200">улучшает подвижность суставов; </li>
                            <li data-aos="fade-right" data-aos-delay="300">обеспечивает питательную поддержку опорно-двигательного аппарата.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="200"><span>Экстракт арники монтаны:</span> </div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">уменьшает выпирающую косточку; </li>
                            <li data-aos="fade-right" data-aos-delay="200">снимает отечность; </li>
                            <li data-aos="fade-right" data-aos-delay="300">устраняет ощущение скованности в суставах; </li>
                            <li data-aos="fade-right" data-aos-delay="400">предотвращает болезни стоп.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name" data-aos="fade-right" data-aos-delay="300"><span>Троксерутин</span></div>
                    <div class="extract__description">
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="100">способствует быстрому восстановлению костной и хрящевой тканей; </li>
                            <li data-aos="fade-right" data-aos-delay="200">улучшает кровоснабжение; </li>
                            <li data-aos="fade-right" data-aos-delay="300">снижает проницаемость стенок сосудов, уменьшает их ломкость.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-right">Мнение специалиста</div>
            <div class="professional__body">
                <p data-aos="fade-right" data-aos-delay="100">До появления препарата Osteowell, Hallux valgus можно было убрать только оперативным путем. Лечение при помощи шин, мазей и пероральных средств таблеток только убирали симптомы и снимали воспаление. Деформация не развивалась, но полностью не уходила. </p>
                <p data-aos="fade-right" data-aos-delay="200">Новая разработка от вальгусной деформации стопы Osteowell первое средство которое уменьшает размеры шишки, убирает воспаления и убирает отложения мочевой кислоты. При правильной терапии, деформированный сустав становится на место без хирургического вмешательства. Чем раньше начать применение  Osteowell при лечении Hallux valgus, тем быстрее будет результат.</p>
            </div>
            <div class="professional__footer">
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
                <div class="professional__name">
                    <span>Lionel Morton,</span>
                    <span>травматолог-ортопед</span>
                </div>
            </div>
            <div class="professional__human" data-aos="fade-left" data-aos-delay="100">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>

    
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up"><span>Они уже почувствовали</span>
                свободу движений!</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Camilla <span>Stone</span></div>
                    <div class="commits__description">
                        Думала, что мне уже ничего не поможет. Я носила шины, пила таблетки, пользовалась мазями. Подумывала об операции, но для меня это очень дорого. Спасибо моему новому доктору, именно он выписал мне Osteowell. Уже через неделю я забыла о боли, мозолях и отеках. А к концу курса шишка стала в два раза меньше. Я очень довольна, буду пользоваться еще. 
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-1.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Alannah <span>Haynes</span></div>
                    <div class="commits__description">
                        Чтобы убрать косточку на ноге я очень много читала и консультировалась с врачами. Но ни народное лечение, ни аптечные средства и лечебная физкультура с физиотерапией мне не помогли. Косточка только росла. Сейчас для устранения этого дефекта я делаю массаж стопы с применением крема Osteowell. И я очень удивлена результатом, точнее тем, что он есть и он достаточно значительный! Так что всем рекомендую.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-2.jpg" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"></div>
                    <div class="commits__name">Lindsey <span>Hutchinson</span></div>
                    <div class="commits__description">
                        Я больше никогда не буду делать операцию, чтобы вырезать шишку. Она очень болезненная. А самое главное, что прошел уже год, а отечность и боль не прошли. И шишка стала опять расти. Мне посоветовали Osteowell. Я была удивлена, но он сразу снял отек и болевые ощущения. Шишка больше не растет, пользуюсь для профилактики на двух ногах. Знала бы раньше о нем, может быть все обошлось без операции.
                    </div>
                    <div class="commits__media">
                        <img src="../media/commits/img-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
<div class="section section_application">
    <div class="container">
        <div class="application">
            <div class="section__title application__title" data-aos="fade-up">Способ <span>применения:</span></div>
            <div class="application__list">
                <div class="application__item" data-aos="zoom-in" data-aos-delay="200" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-1.jpg" alt=""></div>
                    <div class="application__count">1.</div>
                    <div class="application__description">
                        Нанесите крем <span>на чистую и сухую</span> кожу и равномерно распределите по воспаленной области.
                    </div>
                </div>
                <div class="application__item" data-aos="zoom-in" data-aos-delay="300" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-2.jpg" alt=""></div>
                    <div class="application__count">2.</div>
                    <div class="application__description">
                        Сделайте легкий массаж. 
                    </div>
                </div>
                <div class="application__item" data-aos="zoom-in" data-aos-delay="400" data-aos-offset="200" data-aos-duration="700">
                    <div class="application__media"><img src="../media/application/img-3.jpg" alt=""></div>
                    <div class="application__count">3.</div>
                    <div class="application__description">
                        В зависимости <span>от степени</span> заболевания, <span>наносите крем </span> 2-3 раза в день.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div class="section section_order">
    <div class="container">
        <div class="order">
            <div class="section__title order__title">Как сделать заказ?</div>
            <div class="order__list">
                <div class="order__item" data-aos-delay="200" data-aos-offset="200" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-1.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Заполните форму заказа
                    </div>
                </div>
                <div class="order__item" data-aos-delay="200" data-aos-offset="300" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-2.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Дождитесь звонка оператора
                    </div>
                </div>
                <div class="order__item" data-aos-delay="200" data-aos-offset="400" data-aos-duration="700">
                    <div class="order__media">
                        <img src="../media/order/img-3.jpg" alt="">
                    </div>
                    <div class="order__description">
                        Внесите предоплату или оплатите товар при получении
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__info">
                <div class="section__title warning__title" data-aos="fade-right">Остерегайтесь подделок!</div>
                <div class="warning__description" data-aos="fade-right" data-aos-delay="100">В связи с огромной популярностью средства Osteowell стали появляться фальсифицированные образцы. Оригинальный продукт можно приобрести только на этом сайте.</div>
            </div>
            <div class="warning__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <div class="warning__prem">
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="100">
                    <img src="../media/warning/prem-1.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="200">
                    <img src="../media/warning/prem-2.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="300">
                    <img src="../media/warning/prem-3.png" alt="">
                </div>
                <div class="warning__prem-item" data-aos="zoom-in" data-aos-delay="400">
                    <img src="../media/warning/prem-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

    
<section class="section section_info" data-aos="fade-right">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

    <section class="section section_face">
    <div class="container">
        <div class="face">
            <a href="" class="face__logo">Osteowell</a>
            <div class="face__body">
                <div class="face__box">
                    <div class="section__title face__title">для красоты и здоровья ваших ног</div>
                    <div class="face__list">
                        <div class="face__list-body">
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="100">
                                <img src="../media/face/icon-1.png" alt="">
                                <div class="face__list-description">
                                    <mark>Уменьшает</mark> выраженную косточку
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="200">
                                <img src="../media/face/icon-2.png" alt="">
                                <div class="face__list-description">
                                    <mark>Снимает</mark> отечность, боли и воспаление
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="300">
                                <img src="../media/face/icon-3.png" alt="">
                                <div class="face__list-description">
                                    <mark>Улучшает</mark> кровоснабжение
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="400">
                                <img src="../media/face/icon-4.png" alt="">
                                <div class="face__list-description">
                                    <mark>Восстанавливает</mark> хрящевую ткань
                                </div>
                            </div>
                            <div class="face__list-item" data-aos="fade-right" data-aos-delay="500">
                                <img src="../media/face/icon-5.png" alt="">
                                <div class="face__list-description">
                                    <mark>Предотвращает</mark> болезни стопы
                                </div>
                            </div>
                        </div>
                        <div class="face__product">
                            <img src="../media/product.png" alt="">
                        </div>
                    </div>
                    <div class="face__garant">
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="100">
                            <span>Одобрено</span> врачами-ортопедами
                        </div>
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="200">
                            <span>Гарантия</span> 100% результата
                        </div>
                        <div class="face__garant-item" data-aos="fade-up" data-aos-delay="300">
                            <span>100% натуральный</span> состав
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title"><span>Заказать сейчас по</span> скидке 50%</div>
                        <div class="form__price">
                            <div class="form__price-old">100$</div>
                            <div class="form__price-new">50$</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>22</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="section section_footer">
        <footer>
            <div class="container">
                <div class="adress" data-aos="fade-up">
                     <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                         <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                     </p>
                </div>
            </div>
        </footer>
    </section>
    <body>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
