<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>DR. DERM</title>
    <meta name="description" content="DR. DERM">
    <meta itemprop="image" content="../media/share/image.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="DR. DERM">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="DR. DERM">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="DR. DERM">
    <!-- описание страницы -->
    <meta property="og:description" content="DR. DERM">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="DR. DERM">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="DR. DERM">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="DR. DERM">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <main>
            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Dr.Derm</div>
                <div class="section__title face__title" data-aos="fade-up">Пусть псориаз останется в прошлом!</div>
                <div class="face__subtitle">Результат в первые дни применения</div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Устраняет зуд и шелушение</div>
                    <div class="face__check" data-aos="fade-right">Избавляет от псориатических бляшек</div>
                    <div class="face__check" data-aos="fade-right">Предотвращает рецидивы</div>
                    <div class="face__check" data-aos="fade-right">Возвращает здоровье коже</div>
                </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Recardio">
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__border"></div>
    <div class="form__wrap">
        <div class="form__title">Закажите <span>со скидкой</span> <mark>прямо сейчас</mark></div>
        <div class="form__price">
            <div class="form__price-old">78 eur</div>
            <div class="form__price-main">39 eur</div>
        </div>
        <div class="form__time">
            <div class="form__time-title">До конца акции осталось:</div>
            <div class="form__time-box">
                <div class="form__time-count">
                    <span>00</span>
                    <span>часов</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>22</span>
                    <span>минут</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>00</span>
                    <span>секунд</span>
                </div>
            </div>
        </div>
        <div class="form__body">
            <label class="form__label">
                <select class="form__field form__select">
                    <option selected="" value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <span>Страна</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Имя</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Телефон</span>
            </label>
            <button class="form__btn">Купить со скидкой</button>
        </div>
    </div>
</form>

            </div>
        </div>
    </div>
</section>

            
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-up">Спутники псориаза</div>
            <div class="symptoms__body">
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-1.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Зуд и жжение</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-2.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Сухая кожа</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-3.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Появление бляшек</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-4.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Общая слабость</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-5.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Чувство хронической усталости</figcaption>
                </figure>
                <figure class="symptoms__item" data-aos="zoom-in">
                    <div class="symptoms__media"><img src="../media/symptoms/img-6.jpg" alt=""></div>
                    <figcaption class="symptoms__name">Подавленное состояние, депрессия</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="section__title facts__title" data-aos="fade-up">Фaкторы риска</div>
            <div class="facts__body">
                <div class="facts__list">
                    <div class="facts__item" data-aos="fade-right">Наследственность</div>
                    <div class="facts__item" data-aos="fade-right">Инфекции</div>
                    <div class="facts__item" data-aos="fade-right">Тонкая сухая кожа</div>
                    <div class="facts__item" data-aos="fade-right">Вредные привычки</div>
                    <div class="facts__item" data-aos="fade-right">Стрессы</div>
                    <div class="facts__item" data-aos="fade-right">Травмы</div>
                    <div class="facts__item" data-aos="fade-right">Сниженный иммунитет</div>
                    <div class="facts__item" data-aos="fade-right">Аллергические реакции</div>
                </div>
                <div class="facts__media">
                    <div class="facts__media-item">
                        <div class="facts__description">
                            кожа, пораженная псориазом
                        </div>
                        <img src="../media/facts/img-1.png" alt="">
                    </div>
                    <div class="facts__media-item facts__media-item_last">
                        <div class="facts__description facts__description_last">
                            здоровая кожа
                        </div>
                        <img src="../media/facts/img-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">
                Псориаз превращает жизнь <mark>в ад</mark>
            </div>
            <div class="problems__body">
                <div class="problems__item"><p>Окружающие испытывают брезгливость и думают, что ты заразен</p></div>
                <div class="problems__item"><p>Не можешь построить отношения, так как избегаешь близких контактов</p></div>
                <div class="problems__item"><p>Не можешь найти хорошую работу, работодатели постоянно отказывают</p></div>
                <div class="problems__item"><p>Постоянная борьба с псориазом не приносит облегчения, ты впадаешь в депрессию</p></div>
                <div class="problems__item"><p>Испытываешь неуверенность в себе и стыд, твоя самооценка падает</p></div>
                <div class="problems__item"><p>Избегаешь людей, становясь затворником</p></div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="section__title help__title" data-aos="fade-up">Средство, которое избавит от псориаза навсегда!</div>
            <div class="help__info">
                <p>Dr.Derm устраняет симптомы псориаза и обеспечивает стойкую ремиссию. Передача активных компонентов средства в глубинные слои кожи происходит уже с первого применения. </p>
                <p>Dr.Derm обладает высокой проникающей способностью и комплексным действием. Попадая в глубокие слои эпидермиса он оказывает смягчающее, увлажняющее, противовоспалительное действие, нормализует обмен веществ и активирует естественную защиту кожи.</p>
            </div>
            <div class="help__list">
                <div class="help__item">Активирует естетственные защитные функции организма</div>
                <div class="help__item">Не вызывает привыкания</div>
                <div class="help__item">Полностью натуральный состав</div>
            </div>
            <div class="help__product">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>

            
<section class="section section_count">
    <div class="container">
        <div class="count">
            <div class="section__title count__title" data-aos="fade-up">Dr.Derm: 3 шага к здоровью вашей кожи</div>
            <div class="count__body">
                <div class="count__item" data-aos="fade-left">
                    <div class="count__step">1</div>
                    <div class="count__item-title">Снимает острые симптомы болезни</div>
                    <ul class="count__list">
                        <li class="count__list-item">— останавливает зуд, покраснения и шелушение</li>
                        <li class="count__list-item">— размягчает роговые чешуйки кожи</li>
                        <li class="count__list-item">— успокаивает и охлаждает кожу</li>
                        <li class="count__list-item">— избавляет от чувства стянутости</li>
                    </ul>
                </div>
                <div class="count__item" data-aos="fade-right">
                    <div class="count__step">2</div>
                    <div class="count__item-title">Возвращает коже здоровый вид</div>
                    <ul class="count__list">
                        <li class="count__list-item">— устраняет воспаления и припухлости</li>
                        <li class="count__list-item">— устраняет рубцы и пигментные пятна</li>
                        <li class="count__list-item">— увлажняет и смягчает кожу, делая ее более гладкой</li>
                    </ul>
                </div>
                <div class="count__item" data-aos="fade-left">
                    <div class="count__step">3</div>
                    <div class="count__item-title">Предотвращает рецидив</div>
                    <ul class="count__list">
                        <li class="count__list-item">— восстанавливает поврежденные слои эпидермиса</li>
                        <li class="count__list-item">— повышает эластичность кожи</li>
                        <li class="count__list-item">— укрепляет волокна</li>
                        <li class="count__list-item">— активирует естественный иммунитет</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="section__title ingredients__title" data-aos="fade-up">Природный состав крема Dr.Derm</div>
            <div class="ingredients__body">
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                        <div class="ingredients__name">Масло ши</div>
                        <div class="ingredients__description">Снимает воспаление, <span>боль и зуд. Снижает</span> чрезмерную активность клеток кожи.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-right">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                        <div class="ingredients__name">Масло семян <span>белой пихты</span></div>
                        <div class="ingredients__description">Питает и увлажняет кожу. <span>Устраняет сухость и</span> останавливает <span>шелушение.</span></div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                        <div class="ingredients__name">Сухой экстракт алоэ</div>
                        <div class="ingredients__description">Усиливает <span>регенерацию клеток,</span> навсегда избавляя от следов псориаза.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-right">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                        <div class="ingredients__name">Золотой ус</div>
                        <div class="ingredients__description">Предотвращает переход заболевания из острой стадии в хроническую, активируя иммунитет.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                        <div class="ingredients__name">Шалфей</div>
                        <div class="ingredients__description">Дезинфицирует и останавливает воспаления. Способствует активному заживлению кожи.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_research">
    <div class="container">
        <div class="research">
            <div class="section__title research__title" data-aos="fade-up">Клинические исследования Dr.Derm</div>
            <div class="research__info">
                В 2018 году Институт изучения и профилактики кожных заболеваний провел контрольное тестирование Dr.Derm на группе из 800 добровольцев, страдающих от псориаза различной степени. Спустя 30 дней были получены следующие результаты:
            </div>
            <div class="research__box">
                <div class="research__progress">
                    <p>Устранение гиперреакции кожи на изменение иммунитета и имунный дисбаланс:</p>
                    <div class="research__progressbar">
                        <span>95% исследуемых</span>
                    </div>
                </div>
                <div class="research__progress">
                    <p>Ускоренное заживление кожных покровов:</p>
                    <div class="research__progressbar">
                        <span>83% исследуемых</span>
                    </div>
                </div>
                <div class="research__progress">
                    <p>Избавление от псориаза, вызванного психологическим стрессом:</p>
                    <div class="research__progressbar">
                        <span>88% исследуемых</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_recommendations">
    <div class="container">
        <div class="recommendations">
            <div class="recommendations__human">
                <img src="../media/recommendations/human.png" alt="">
            </div>
            <div class="section__title recommendations__title" data-aos="fade-up">Дерматологи рекомендуюТ</div>
            <div class="recommendations__info">
                <p>Большинство современных препаратов от псориаза  лишь временно облегчают симптомы, но не способствуют восстановлению здоровья кожи.</p>
                <p>Своим пациентам я рекомендую использовать Dr.Derm. Это средство начинает действовать с первого применения, мягко снимая воспаление, заживляя бляшки и восстанавливая эпидермис.</p>
                <p>Благодаря Dr.Derm мои пациенты буквально забывают о том, что у них был псориаз и возвращаются к нормальной жизни.</p>
            </div>
            <div class="recommendations__footer">
                <div class="recommendations__id">
                    <img src="../media/recommendations/id.png" alt="">
                </div>
                <div class="recommendations__name">
                    <span>Михаил Федоров,</span>
                    врач-дерматолог.
                    Стаж работы: 30 лет
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы наших клиентов,
победивших псориаз</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Евгения, 28 лет</div>
                    <div class="commits__description">
                        <span>Страдала от псориаза 10 лет. Начался он из-за нервов и неправильного питания. Практически сразу я обратилась к дерматологу, и он подсадил меня на гормональные препараты. Потом я очень об этом пожалела: они помогают, но быстро вызывают привыкание, и толку от них уже совсем нет. Пару лет назад открыла для себя крем Dr.Derm. Проявления псориаза исчезли уже через 3 недели. Уже два года я не вспоминаю о болезни. Это средство спасло меня! Рекомендую всем!</span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Ольга, 56 лет</div>
                    <div class="commits__description">
                        Псориаз – очень противная штука. На всем организме завязан: съешь что-то не то, перенервничаешь – и на тебе. Все тело покрывается огромными шелушащимися и зудящими бляшками. Чем я только ни лечилась! Мази, ванночки, физиотерапия. Как-то подруга посоветовала попробовать Dr.Derm – мол, ее дочери очень помог. И он правда сработал! Шелушение и зуд прошли уже после первого применения, бляшки сошли недели за 2-3. Сейчас их как будто и не бывало.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Иван, 40 лет</div>
                    <div class="commits__description">
                        Я страдаю от псориаза с детства, так что лечился я долго и давно, но ничего не давало длительного результата. Купил Dr.Derm по совету коллеги. Долго сомневался, так как нашел мало отзывов, но подумал, что лучше потратиться один раз и попробовать это средство, чем дальше страдать. Эффект ощутил уже с первых применений – зуд ушел мгновенно, через пару недель заметил, что уже и бляшки стали намного светлее. Через месяц от этой дурацкой болезни и следа не осталось!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Dr.Derm</div>
                <div class="section__title face__title" data-aos="fade-up">Пусть псориаз останется в прошлом!</div>
                <div class="face__subtitle">Результат в первые дни применения</div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Устраняет зуд и шелушение</div>
                    <div class="face__check" data-aos="fade-right">Избавляет от псориатических бляшек</div>
                    <div class="face__check" data-aos="fade-right">Предотвращает рецидивы</div>
                    <div class="face__check" data-aos="fade-right">Возвращает здоровье коже</div>
                </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Recardio">
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__border"></div>
    <div class="form__wrap">
        <div class="form__title">Закажите <span>со скидкой</span> <mark>прямо сейчас</mark></div>
        <div class="form__price">
            <div class="form__price-old">78 eur</div>
            <div class="form__price-main">39 eur</div>
        </div>
        <div class="form__time">
            <div class="form__time-title">До конца акции осталось:</div>
            <div class="form__time-box">
                <div class="form__time-count">
                    <span>00</span>
                    <span>часов</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>22</span>
                    <span>минут</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>00</span>
                    <span>секунд</span>
                </div>
            </div>
        </div>
        <div class="form__body">
            <label class="form__label">
                <select class="form__field form__select">
                    <option selected="" value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <span>Страна</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Имя</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Телефон</span>
            </label>
            <button class="form__btn">Купить со скидкой</button>
        </div>
    </div>
</form>

            </div>
        </div>
    </div>
</section>

            <section class="section section_footer">
                <footer>
                    <div class="container">
                        <div class="adress">
                             <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                                 <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                             </p>
                        </div>
                    </div>
                </footer>
            </section>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </main>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
