
.effect__title {
    margin-bottom: 30px;
    font-size: 47px;
    color: #fff;
    text-align: center;

    & span {
        display: block;
    }

    & mark {
        color: #ffc23e;
    }
}

.effect__body {
    display: flex;
}

.effect__item {
    flex: 0 0 calc(20% - 20px);
    padding: 250px 25px 25px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #000;
    background-position: center top;
    background-size: cover;

    &:nth-child(1) {
        background-image: url("../media/effect/bg-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/effect/bg-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/effect/bg-3.jpg");
    }

    &:nth-child(4) {
        background-image: url("../media/effect/bg-4.jpg");
    }

    &:nth-child(5) {
        background-image: url("../media/effect/bg-5.jpg");
    }
}

.effect__name {
    margin-bottom: 20px;
    font-family: 'MinionPro', serif;
    font-size: 26px;
    font-weight: 700;
    color: #ffc23e;
    text-transform: uppercase;
}

.effect__description {
    color: #fff;
}

@media (max-width: 1280px) {
    .effect__body {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -20px;
    }

    .effect__item {
        flex: 0 0 218px;
        width: 218px;
        margin-top: 20px;
    }

    .effect__title {
        & span {
            display: inline;
        }
    }
}

@media (max-width: 768px) {
    .effect__body {
        margin-top: -10px;
    }

    .effect__item {
        flex: 0 0 calc(50% - 10px);
        width: calc(50% - 10px);
        min-width: 215px;
        padding: 220px 15px 15px;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .effect__name {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .effect__item {
        flex: 0 0 100%;
        width: 100%;
        min-width: 230px;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;

        &:nth-child(1) {
            background-image: url("../media/effect/bg-1-mobile.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/effect/bg-2-mobile.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/effect/bg-3-mobile.jpg");
        }

        &:nth-child(4) {
            background-image: url("../media/effect/bg-4-mobile.jpg");
        }

        &:nth-child(5) {
            background-image: url("../media/effect/bg-5-mobile.jpg");
        }

        & + & {
            margin-top: 15px;
        }
    }

    .effect__name {
        padding: 15px 15px 10px 15px;
        margin-bottom: 0;
        background-color: #fff;
    }

    .effect__description {
        padding: 0 15px 15px 15px;
        color: #000;
        background-color: #fff;
    }
}
