
.problems {
    width: 51%;
    margin-left: auto;
}

.problems__title {
    margin-bottom: 60px;
    font-size: 53px;

    & mark {
        color: #e44e24;
    }
}

.problems__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
}

.problems__item {
    position: relative;
    flex: 0 0 calc(50% - 30px);
    padding-left: 55px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #1a244f;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        content: '';
        background-image: url("../media/problems/icon.png");
        background-size: cover;
    }
}

@media (max-width: 1280px) {
    .problems {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .problems__item {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        min-height: 40px;
        margin-top: 15px;
    }

    .problems__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .problems__item {
        min-height: 25px;
        padding-left: 35px;
        font-size: 17px;

        &::before {
            width: 25px;
            height: 25px;
        }
    }
}
