
.commits__title {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
    color: #007bd7;
    text-align: center;

    & span {
        display: block;
        font-size: 30px;
        color: #000;
    }
}

.commits__box {
    & .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px !important;
    }

    & .owl-dot {
        box-sizing: border-box !important;
        display: inline-block !important;
        width: 19px !important;
        height: 19px !important;
        margin-right: 3px !important;
        margin-left: 3px !important;
        background-color: transparent !important;
        border: 1px solid #008f3a !important;
        border-radius: 50% !important;

        &.active {
            background-color: #008f3a !important;
        }

        &:focus {
            outline: none;
        }

        & span {
            display: none !important;
        }
    }

    & .owl-nav {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
        transform: translateY(-50%);

        & button {
            display: inline-block;
            width: 31px;
            height: 36px;
            background-size: cover;

            & span {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }

        .owl-prev {
            background-image: url("../media/commits/prev.png") !important;
        }

        .owl-next {
            background-image: url("../media/commits/next.png") !important;
        }
    }
}

.commits__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 35px;
}

.commits__face {
    flex: 0 0 220px;
    height: 220px;
    margin-right: 35px;
    overflow: hidden;
    background-color: #000;
    border-radius: 50%;
}

.commits__name {
    padding: 15px 50px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    background-color: #008f3a;

    & span {
        display: block;
        font-weight: 400;
    }
}

.commits__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.commits__info {
    display: flex;
    align-items: center;
    padding: 15px 100px;
    background-color: #d6ecfc;
}

.commits__star {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    & img {
        max-width: 33px;
        margin-right: 2px;
    }
}

@media (max-width: 1280px) {
    .commits__name {
        text-align: left;

        & span {
            display: inline;
        }
    }

    .commits__face {
        flex: 0 0 120px;
        max-width: 120px;
        height: 120px;
        background-color: #000;
    }

    .commits__description {
        font-size: 16px;
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    .commits__info {
        flex-direction: column;
    }

    .commits__face {
        width: 120px;
        height: 120px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .commits__description {
        font-weight: 400;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .commits__info {
        padding-right: 15px;
        padding-left: 15px;
    }

    .commits__name {
        font-size: 17px;
    }
}
