
.face__body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.face__box {
    &:last-child {
        flex: 0 0 auto;
    }
}

.face__title {
    margin-bottom: 5px;
    font-family: "HeadingProTrial", sans-serif;
    font-size: 109px;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;

    & mark {
        font-weight: 700;
        color: #008f3a;
    }
}

.face__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;

    & mark {
        color: #007bd7;
    }
}

.face__list-item {
    position: relative;
    min-height: 42px;
    padding-left: 55px;
    font-size: 20px;

    & mark {
        display: block;
        font-weight: 700;
        color: #007bd7;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        content: '';
        background-image: url("../media/face/icon.png");
    }

    & + & {
        margin-top: 10px;
    }
}

.face__price {
    margin-top: 20px;
}

.face__price-new {
    font-size: 24px;
    font-weight: 600;
    color: #007bd7;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 65px;
        font-weight: 900;
        line-height: .9;
        color: #007bd7;
    }
}

.face__price-old {
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
}

.face__product {
    position: absolute;
    bottom: -225px;
    left: 50%;
    margin-left: -25px;
    transform: translateX(-50%);
}

.face__product-popular {
    position: absolute;
    top: -55px;
    right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 116px;
    font-family: "HeadingProTrial", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    content: '';
    background-image: url("../media/face/popular.png");
    background-size: cover;
    transform: rotate(-30deg);
}

.face__product-natural {
    position: absolute;
    top: -40px;
    right: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 119px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    content: '';
    background-image: url("../media/face/natural.png");
    background-size: cover;

    & span {
        display: block;
        margin-top: 5px;
        font-size: 10px;
    }
}

@media (max-width: 1054px) {
    .face__title {
        font-size: 62px;
    }

    .face__product {
        bottom: -185px;
        max-width: 300px;
        margin-left: -30px;
    }

    .face__list {
        margin-bottom: 30px;
    }

    .face__list-description {
        font-weight: 600;
    }

    .face__product-popular {
        right: 60px;
    }

    .face__product-natural {
        top: 6px;
        right: 149px;
    }
}

@media (max-width: 768px) {
    .face__body {
        flex-direction: column;
    }

    .face__product-popular {
        width: 80px;
        height: 80px;
        font-size: 17px;
    }

    .face__box {
        flex-basis: 100%;
        width: 100%;
    }

    .face__title {
        justify-content: space-between;
        font-size: 62px;
    }

    .face__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .face__list-item {
        font-size: 16px;
    }

    .face__product {
        position: relative;
        bottom: auto;
        left: auto;
        flex: 0 0  200px;
        margin-left: 0;
        transform: translateX(0);

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .face__product-natural {
        top: 180px;
        right: 125px;
        width: 70px;
        height: 67px;
        font-size: 14px;

        & span {
            font-size: 6px;
        }
    }
}

@media (max-width: 480px) {
    .face__logo {
        margin-bottom: 25px;
    }

    .face__title {
        margin-bottom: 10px;
        font-size: 48px;
    }

    .face__list {
        margin-bottom: 20px;
    }

    .face__product {
        flex: 0 0 200px;
    }

    .face__list-item {
        min-height: 25px;
        padding-left: 30px;
        font-size: 15px;

        & img {
            max-width: 35px;
        }

        &::before {
            top: 4px;
            width: 25px;
            height: 25px;
            background-size: cover;
        }
    }

    .face__subtitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .face__list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .face__product-popular {
        top: 50px;
    }

    .face__list-body {
        width: 100%;
    }

    .face__list-item {
        font-size: 18px;
    }

    .face__price {
        text-align: center;
    }

    .face__product {
        margin-right: auto;
        margin-left: auto;
    }

    .face__subtitle {
        font-size: 20px;
    }
}
