.form {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 345px;
    padding: 0 40px 40px 40px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #008f3b;
    border-radius: 35px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
}

.form__title {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    text-align: center;

    & span {
        display: block;
    }
}

.form__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.form__price-old {
    position: relative;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;

    &::before {
        position: absolute;
        top: 50%;
        left: -5px;
        width: calc(100% + 10px);
        height: 2px;
        content: '';
        background-color: #fff;
    }
}

.form__price-new {
    font-size: 30px;
    font-weight: 700;
    line-height: 19px;
}

.form__price-main {
    font-size: 32px;
    font-weight: 700;
    color: #22b292;
}

.form__time {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: -40px;
    margin-left: -40px;
    background-color: #eda906;
}

.form__time-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.form__time-box {
    display: flex;
    justify-content: center;

    & > span {
        margin-right: 3px;
        margin-left: 3px;
        font-size: 28px;
        font-weight: 500;
        line-height: 49px;
    }
}

.form__time-count {
    position: relative;
    box-sizing: content-box;
    width: 55px;
    height: 55px;
    background-color: #000;
    border-radius: 50%;

    & span {
        display: block;
        font-weight: 500;

        &:first-child {
            font-size: 23px;
            font-weight: 700;
            line-height: 56px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }

        &:last-child {
            position: absolute;
            right: 0;
            bottom: -20px;
            left: 0;
            width: 100%;
            font-size: 15px;
            text-align: center;
        }
    }
}

.form__label {
    position: relative;
    display: block;
    margin-top: 25px;

    & span {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: 15px;
        font-weight: 500;
        transition: .1s transform;
        transform: translateY(17px);
    }
}

.form__field {
    display: block;
    width: 100%;
    height: 55px;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 30px;

    &:focus {
        outline: none;
    }

    &_active {
        & + span {
            font-size: 14px;
            transform: translateY(-18px);
        }
    }
}

.form__select {
    appearance: none;
    background-color: #fff;
    background-image: url("../media/form/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 10px;

    & option {
        color: #000;
    }
}

.form__btn {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: rgb(125, 191, 226);
    background: linear-gradient(180deg, rgba(125, 191, 226, 1) 0%, rgba(60, 102, 206, 1) 100%);
    border: none;
    border-bottom: 7px solid #0049a6;
    border-radius: 30px;

    & mark {
        font-weight: 900;
        color: #fff;
    }

    &:hover {
        margin-top: 22px;
        border-bottom: 0;
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }
}

@media (max-width: 1054px) {
    .form {
        max-width: 275px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .form__time {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (max-width: 768px) {
    .form {
        max-width: 100%;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .form {
        max-width: 100%;
    }

    .form__btn {
        font-size: 20px;
    }

    .form__title {
        font-size: 22px;
        line-height: 1;
    }
}

@media (max-width: 400px) {
    .form {
        margin-top: 0;
    }
}
