
.ingredients__title {
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 800;
    color: #007bd7;
    text-align: center;
    text-transform: uppercase;

    & mark {
        display: block;
        margin-top: 5px;
        font-size: 24px;
        font-weight: 500;
    }
}

.ingredients__body {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.ingredients__box {
    display: flex;
}

.ingredients__item {
    position: relative;
    min-height: 129px;
    padding-left: 150px;
    margin-top: 30px;
}

.ingredients__media {
    position: absolute;
    top: 0;
    left: 0;
}

.ingredients__name {
    font-size: 18px;
    font-weight: 800;
    color: #007bd7;
}

.ingredients__description {
    font-size: 18px;
}

.ingredients__wrap {
    position: relative;
    padding-right: 460px;
}

.ingredients__product {
    position: absolute;
    right: 0;
    bottom: -60px;
}

.ingredients__product-popular {
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 113px;
    color: #fff;
    background-image: url("../media/ingredients/popular.png");
    background-size: cover;

    & mark {
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
}

@media (max-width: 1054px) {
    .ingredients__box {
        flex-direction: column;
    }

    .ingredients__wrap {
        flex-direction: column;
        padding-right: 0;
    }

    .ingredients__product {
        position: relative;
        right: auto;
        bottom: auto;
        max-width: 461px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .ingredients__title {
        font-size: 31px;

        & mark {
            font-size: 20px;
        }
    }

    .ingredients__media {
        max-width: 80px;
    }

    .ingredients__item {
        padding-left: 95px;
    }
}

@media (max-width: 480px) {
    .ingredients__product-popular {
        width: 80px;
        height: 75px;
        font-size: 12px;

        & mark {
            font-size: 18px;
        }
    }

    .ingredients__title {
        margin-bottom: 60px;
    }

    .ingredients__description {
        font-size: 16px;
    }

    .ingredients__media {
        max-width: 55px;
    }

    .ingredients__item {
        padding-left: 65px;
    }
}
