.how {
  background: url("../imgs/how/how-bg.png") no-repeat 50% 0/cover;
  padding: 165px 0 0;
  margin-bottom: -58px;
  overflow: hidden;
  .order1-btn {
    margin: 0 auto 30px;
  }
}

.how .container:before {
  content: '';
  @extend %absoluteCenter;
  background: url("../imgs/how/how-check.png") no-repeat center/100%;
  width: 29px;
  height: 29px;
  right: inherit;
  bottom: inherit;
  left: 235px;
  top: 155px;
  border-radius: 50%;
  animation: pain 2s linear infinite;
}

.how-title {
  font-size: 88px;
  color: $blue;
  text-align: right;
}

.how-Title_small {
  display: block;
  font-size: 44px;
  font-weight: 400;
  color: #000;
  margin-bottom: 170px;
  line-height: 1;
}

.howBlock {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
  margin-bottom: 90px;
}

.howBlock:before {
  @extend %how-before;
  left: -125px;
  animation: pulse 2s linear infinite
}

.howBlock:after {
  @extend %how-before;
  background: radial-gradient(circle, #f8fcff, #e7edf2);
  right: -70px;
  bottom: -260px;
  max-width: 100px;
  height: 100px;
  animation: pulse 3s ease-in infinite
}

.howBlock-item {
  max-width: 280px;
  flex: 1 0 100%;
  margin: 15px;
  text-align: center;
  position: relative;
}

.howBlock-item_middle:before,
.howBlock-item_middle:after {
  content: '';
  display: block;
  background: url("../imgs/how/how-next.png") no-repeat center/100%;
  width: 19px;
  height: 21px;
  @extend %absoluteCenter;
  left: inherit;
  right: -35px;
}

.howBlock-item_middle:after {
  right: inherit;
  left: -45px;
}

.howBlock-img {
  max-width: 67px;
  margin: 0 auto 25px;
}

.howBlock-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 30px;
}

.howBlock-text {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .how {
    padding-top: 30px;
    background: $backgr;
  }

  .how .container:before {
    display: none;
  }

  .how-Title_small {
    margin-bottom: 30px;
  }

  .howBlock {
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 0;
  }

  .howBlock-img {
    margin-bottom: 5px;
  }

  .howBlock-title {
    margin-bottom: 10px;
  }

  .howBlock-item_middle:before,
  .howBlock-item_middle:after {
    display: none;
  }
}

@media screen and (max-width: 576px) {

  .how-title {
    font-size: 50px;
    text-align: left;
  }

  .howBlock-text {
    text-align: left;
  }

  .howBlock:before {
    top: -190px;
  }

  .howBlock:after {
    bottom: -400px;
  }
}
