
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Dr.Derm</div>
                <div class="section__title face__title" data-aos="fade-up">Пусть псориаз останется в прошлом!</div>
                <div class="face__subtitle">Результат в первые дни применения</div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Устраняет зуд и шелушение</div>
                    <div class="face__check" data-aos="fade-right">Избавляет от псориатических бляшек</div>
                    <div class="face__check" data-aos="fade-right">Предотвращает рецидивы</div>
                    <div class="face__check" data-aos="fade-right">Возвращает здоровье коже</div>
                </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Recardio">
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>
