
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="section__title facts__title" data-aos="fade-up">Фaкторы риска</div>
            <div class="facts__body">
                <div class="facts__list">
                    <div class="facts__item" data-aos="fade-right">Наследственность</div>
                    <div class="facts__item" data-aos="fade-right">Инфекции</div>
                    <div class="facts__item" data-aos="fade-right">Тонкая сухая кожа</div>
                    <div class="facts__item" data-aos="fade-right">Вредные привычки</div>
                    <div class="facts__item" data-aos="fade-right">Стрессы</div>
                    <div class="facts__item" data-aos="fade-right">Травмы</div>
                    <div class="facts__item" data-aos="fade-right">Сниженный иммунитет</div>
                    <div class="facts__item" data-aos="fade-right">Аллергические реакции</div>
                </div>
                <div class="facts__media">
                    <div class="facts__media-item">
                        <div class="facts__description">
                            кожа, пораженная псориазом
                        </div>
                        <img src="../media/facts/img-1.png" alt="">
                    </div>
                    <div class="facts__media-item facts__media-item_last">
                        <div class="facts__description facts__description_last">
                            здоровая кожа
                        </div>
                        <img src="../media/facts/img-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
