<form class="form" action="" method="post">
    <div class="form__border"></div>
    <div class="form__wrap">
        <div class="form__title">Закажите <span>со скидкой</span> <mark>прямо сейчас</mark></div>
        <div class="form__price">
            <div class="form__price-old">78 eur</div>
            <div class="form__price-main">39 eur</div>
        </div>
        <div class="form__time">
            <div class="form__time-title">До конца акции осталось:</div>
            <div class="form__time-box">
                <div class="form__time-count">
                    <span>00</span>
                    <span>часов</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>22</span>
                    <span>минут</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>00</span>
                    <span>секунд</span>
                </div>
            </div>
        </div>
        <div class="form__body">
            <label class="form__label">
                <select class="form__field form__select">
                    <option selected="" value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <span>Страна</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Имя</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Телефон</span>
            </label>
            <button class="form__btn">Купить со скидкой</button>
        </div>
    </div>
</form>
