
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="section__title ingredients__title" data-aos="fade-up">Природный состав крема Dr.Derm</div>
            <div class="ingredients__body">
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                        <div class="ingredients__name">Масло ши</div>
                        <div class="ingredients__description">Снимает воспаление, <span>боль и зуд. Снижает</span> чрезмерную активность клеток кожи.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-right">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                        <div class="ingredients__name">Масло семян <span>белой пихты</span></div>
                        <div class="ingredients__description">Питает и увлажняет кожу. <span>Устраняет сухость и</span> останавливает <span>шелушение.</span></div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                        <div class="ingredients__name">Сухой экстракт алоэ</div>
                        <div class="ingredients__description">Усиливает <span>регенерацию клеток,</span> навсегда избавляя от следов псориаза.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-right">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                        <div class="ingredients__name">Золотой ус</div>
                        <div class="ingredients__description">Предотвращает переход заболевания из острой стадии в хроническую, активируя иммунитет.</div>
                    </div>
                </div>
                <div class="ingredients__rotate" data-aos="flip-left">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                        <div class="ingredients__name">Шалфей</div>
                        <div class="ingredients__description">Дезинфицирует и останавливает воспаления. Способствует активному заживлению кожи.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
