
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">
                Псориаз превращает жизнь <mark>в ад</mark>
            </div>
            <div class="problems__body">
                <div class="problems__item"><p>Окружающие испытывают брезгливость и думают, что ты заразен</p></div>
                <div class="problems__item"><p>Не можешь построить отношения, так как избегаешь близких контактов</p></div>
                <div class="problems__item"><p>Не можешь найти хорошую работу, работодатели постоянно отказывают</p></div>
                <div class="problems__item"><p>Постоянная борьба с псориазом не приносит облегчения, ты впадаешь в депрессию</p></div>
                <div class="problems__item"><p>Испытываешь неуверенность в себе и стыд, твоя самооценка падает</p></div>
                <div class="problems__item"><p>Избегаешь людей, становясь затворником</p></div>
            </div>
        </div>
    </div>
</section>
