
<section class="section section_recommendations">
    <div class="container">
        <div class="recommendations">
            <div class="recommendations__human">
                <img src="../media/recommendations/human.png" alt="">
            </div>
            <div class="section__title recommendations__title" data-aos="fade-up">Дерматологи рекомендуюТ</div>
            <div class="recommendations__info">
                <p>Большинство современных препаратов от псориаза  лишь временно облегчают симптомы, но не способствуют восстановлению здоровья кожи.</p>
                <p>Своим пациентам я рекомендую использовать Dr.Derm. Это средство начинает действовать с первого применения, мягко снимая воспаление, заживляя бляшки и восстанавливая эпидермис.</p>
                <p>Благодаря Dr.Derm мои пациенты буквально забывают о том, что у них был псориаз и возвращаются к нормальной жизни.</p>
            </div>
            <div class="recommendations__footer">
                <div class="recommendations__id">
                    <img src="../media/recommendations/id.png" alt="">
                </div>
                <div class="recommendations__name">
                    <span>Михаил Федоров,</span>
                    врач-дерматолог.
                    Стаж работы: 30 лет
                </div>
            </div>
        </div>
    </div>
</section>
