
.effects__title {
    margin-bottom: 30px;
    font-size: 48px;
    text-align: center;

    & mark {
        display: block;
        font-size: 69px;
        color: #23b187;
    }
}

.effects__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.effects__item {
    position: relative;
    display: flex;
    flex: 1 0 20%;
    align-items: flex-end;
    padding: 370px 30px 30px;
    overflow: hidden;

    &::before {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        box-shadow: 0 0 130px 70px #000;
    }

    &:nth-child(1) {
        background-image: url("../media/effects/img-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/effects/img-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/effects/img-3.jpg");
    }

    &:nth-child(4) {
        background-image: url("../media/effects/img-4.jpg");
    }

    &:nth-child(5) {
        background-image: url("../media/effects/img-5.jpg");
    }
}

.effects__description {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 1280px) {
    .effects__item {
        flex: 1 0 50%;

        &:nth-child(1) {
            background-image: url("../media/effects/img-1-1280.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/effects/img-2-1280.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/effects/img-3-1280.jpg");
        }

        &:nth-child(4) {
            background-image: url("../media/effects/img-4-1280.jpg");
        }

        &:nth-child(5) {
            background-image: url("../media/effects/img-5-1280.jpg");
        }
    }

    .effects__title {
        & mark {
            font-size: 58px;
        }
    }
}

@media (max-width: 768px) {
    .effects__item {
        flex: 1 0 100%;

        &:nth-child(1) {
            background-image: url("../media/effects/img-1-768.jpg");
        }

        &:nth-child(2) {
            background-image: url("../media/effects/img-2-768.jpg");
        }

        &:nth-child(3) {
            background-image: url("../media/effects/img-3-768.jpg");
        }

        &:nth-child(4) {
            background-image: url("../media/effects/img-4-768.jpg");
        }

        &:nth-child(5) {
            background-image: url("../media/effects/img-5-768.jpg");
        }
    }
}

@media (max-width: 480px) {
    .effects__box {
        margin-right: -15px;
        margin-left: -15px;
    }

    .effects__title {
        & mark {
            font-size: 38px;
        }
    }
}
