
.wooman {
    max-width: 545px;
    margin-left: auto;
}

.wooman__title {
    margin-bottom: 60px;
    font-size: 62px;
    font-weight: 700;
    color: #fff;

    & mark {
        display: block;
        color: #ff8a00;
    }
}

.wooman__media {
    display: flex;
}

@media (max-width: 1280px) {
    .wooman {
        max-width: 370px;
    }
}

@media (max-width: 768px) {
    .wooman {
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    .wooman {
        max-width: 100%;
    }
}
