
.sostav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.sostav__title {
    width: 100%;
    margin-bottom: 30px;
    font-size: 62px;
    color: #000;
    text-align: center;
}

.sostav__product {
    flex: 0 0 440px;
    margin-right: 60px;
}

.sostav__box {
    flex: 0 0 calc(100% - 500px);
    max-width: 600px;
}

.sostav__name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #23b187;
}

.sostav__list {
    list-style-type: none;

    & b {
        font-weight: 600;
    }

    & span {
        display: block;
    }

    & li {
        position: relative;
        padding-left: 25px;

        &::before {
            position: absolute;
            left: 0;
            content: "—";
        }

        & + li {
            margin-top: 10px;
        }
    }
}

.sostav__media {
    position: absolute;
    top: 0;
    left: 0;
}

.sostav__item {
    position: relative;
    padding-left: 130px;

    & + & {
        margin-top: 30px;
    }
}

@media (max-width: 1280px) {
    .sostav__product {
        flex: 0 0 220px;
        margin-right: 0;
    }

    .sostav__box {
        flex: 0 0 calc(100% - 250px);
        max-width: 100%;
    }

    .sostav {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .sostav {
        flex-direction: column;
        align-items: center;
    }

    .sostav__title {
        order: 1;
    }

    .sostav__product {
        order: 3;
        max-width: 300px;
    }

    .sostav__box {
        order: 2;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .sostav__media {
        position: static;
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        overflow: hidden;
    }

    .sostav__name {
        flex: 0 0 calc(100% - 85px);
        margin-bottom: 0;
        font-size: 18px;
    }

    .sostav__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
    }

    .sostav__list {
        margin-top: 15px;
    }
}
