
.wooman {
    max-width: 545px;
    margin-left: auto;
}

.wooman__title {
    margin-bottom: 60px;
    font-size: 62px;
    font-weight: 700;
    color: #fff;

    & mark {
        display: block;
        color: #ff8a00;
        text-decoration: underline;
    }
}

.wooman__media {
    display: flex;
}

@media (max-width: 1280px) {
    .wooman {
        max-width: 370px;
    }
}

@media (max-width: 768px) {
    .wooman {
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    .wooman {
        max-width: 100%;
    }

    .wooman__title {
        max-width: 250px;
    }

    .wooman__media-item {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }
}
