:root {
    --blue: #16398e;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #16398e;
    --secondary: #16b1de;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font-family: "ProximaNova", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h2,
p {
    margin-top: 0
}

p {
    margin-bottom: 1rem
}

b {
    font-weight: bolder
}

a {
    color: #16398e;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #0c1e4c;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

img {
    vertical-align: middle;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

textarea {
    overflow: auto;
    resize: vertical
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h2 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h2 {
    font-size: 2rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 610px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 611px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1310px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-3,
.col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 15px 60px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #469cd4;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-1 {
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #5bb4ef;
    color: #ffffff;
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(22, 57, 142, .25)
}

.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none
}

.btn-primary {
    color: #fff;
    background-color: #16398e;
    border-color: #16398e
}

.btn-primary:hover {
    color: #fff;
    background-color: #112c6d;
    border-color: #0f2762
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 57, 142, .5)
}

.btn-primary:disabled {
    color: #fff;
    background-color: #16398e;
    border-color: #16398e
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0f2762;
    border-color: #0d2357
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 57, 142, .5)
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #118cb0;
    border-color: #1083a4
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 177, 222, .5)
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #16398e;
    border-color: #16398e
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 57, 142, .5)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #16b1de;
    border-color: #16b1de
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(22, 177, 222, .5)
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.dropdown {
    position: relative
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

@supports (transform-style:preserve-3d) {}

@supports (transform-style:preserve-3d) {}

@supports (transform-style:preserve-3d) {}

@supports (transform-style:preserve-3d) {}

.d-none {
    display: none !important
}

@media (min-width:768px) {
    .d-md-block {
        display: block !important
    }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    h2,
    p {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    .container,
    body {
        min-width: 992px !important
    }
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter, opacity, filter;
    transition-property: opacity, filter;
    transition-duration: 1s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger:hover {
    opacity: .7
}

.hamburger-box {
    width: 52px;
    height: 29px;
    display: inline-block;
    position: relative
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 52px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block
}

.hamburger-inner {
    top: 50%;
    margin-top: -1.5px
}

.hamburger-inner::after,
.hamburger-inner::before {
    content: ""
}

.hamburger-inner::before {
    top: -13px
}

.hamburger-inner::after {
    bottom: -13px
}

.hamburger--slider .hamburger-inner {
    top: 1.5px
}

.hamburger--slider .hamburger-inner::before {
    top: 13px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: .15s
}

.hamburger--slider .hamburger-inner::after {
    top: 26px
}

.ekko-lightbox-nav-overlay a>:focus {
    outline: 0
}


.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent
}

.btn {
    cursor: pointer
}

a {
    cursor: pointer;
    color: #16398e;
    transition: color 200ms
}

a:focus,
a:hover {
    outline: 0;
    color: #16b1de
}

img {
    max-width: 100%;
    height: auto
}

.btn {
    padding: 15px 43px
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    box-shadow: none;
    background-color: #143380;
    border-color: #143380
}

.btn-area {
    border-radius: 24.5px
}

button:active,
button:focus,
button:hover {
    outline: 0
}

.icon {
    display: inline-block;
    width: 1px;
    height: 1px;
    fill: currentColor
}

.icon_header-area-icon {
    height: 28px;
    width: 29px
}

.b-header,
.b-header .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.b-header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 62px;
    padding-right: 50px;
    height: 155px;
    font-weight: 200;
    z-index: 20;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: background-color 600ms ease-in
}

@media (max-width:991.98px) {
    .b-header {
        padding-left: 27px;
        height: 125px
    }
}

@media (max-width:767.98px) {
    .b-header {
        padding-right: 15px;
        padding-left: 15px
    }
}

.b-header a {
    text-decoration: none;
    color: #c7ccd9
}

.b-header a:hover {
    color: #16b1de
}

.b-header .logo {
    margin-right: 20px;
    text-decoration: none
}

@media (max-width:991.98px) {
    .b-header .logo {
        max-width: 160px;
        margin-right: 40px
    }
}

@media (max-width:767.98px) {
    .b-header .logo {
        margin-right: 20px
    }
}

.b-header .logo .slogan {
    display: none;
    max-width: 110px;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px
}

@media (min-width:576px) and (max-width:991.98px) {
    .b-header .logo .slogan {
        display: block
    }
}

@media (max-width:991.98px) {
    .b-header .logo .slogan {
        max-width: 50px;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px
    }
}

.b-header .right-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.b-header {
    color: #16398e
}

@media (max-width:575.98px) {
    .b-header .right-menu .dropdown {
        position: inherit
    }
}

.b-header .right-menu .dropdown .btn-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px
}

@media (max-width:767.98px) {
    .b-header .right-menu .dropdown .btn-area {
        width: 54px;
        height: 54px
    }
}

@media (max-width:575.98px) {
    .b-header .right-menu .dropdown .btn-area {
        margin-right: 10px;
        width: 50px;
        height: 50px
    }
}

.b-header .right-menu .dropdown .btn-area svg {
    width: 29px;
    height: 35px;
    fill: #c7ccd9
}

.b-header .right-menu .question {
    width: 31px;
    height: 31px;
    margin-right: 15px
}

@media (max-width:991.98px) {
    .b-header .right-menu .question {
        display: none
    }
}

.b-header .right-menu .question svg {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    stroke: #babac2;
    border: 2px solid #babac2
}

.b-header .burger {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.b-header .burger .hamburger-inner,
.b-header .burger .hamburger-inner::after,
.b-header .burger .hamburger-inner::before {
    transition-duration: .6s;
    background-color: #c6ced9
}

.b-header .burger .menu {
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .3px
}

@media (max-width:575.98px) {
    .b-header .burger .menu {
        font-size: 12px;
        top: 126%
    }
}

.b-header .burger .menu {
    position: absolute;
    color: #fff
}

.b-footer {
    padding-left: 3px;
    padding-bottom: 50px
}

@media (max-width:767.98px) {
    .b-footer {
        padding-bottom: 30px
    }
}

.b-footer .footer-sub {
    padding: 0 11px
}

@media (max-width:991.98px) {
    .b-footer .footer-sub {
        text-align: center;
        padding-left: 0;
        padding-right: 0
    }
}

.b-footer .footer-sub .column {
    list-style-type: none;
    padding-left: 0;
    padding-top: 14px
}

.b-footer .footer-sub .column .title {
    margin-bottom: 18px;
    font-size: 21px
}

@media (max-width:575.98px) {
    .b-footer .footer-sub .column .title {
        font-size: 18px
    }
}

.b-footer .footer-sub .column .tel {
    margin-bottom: 7px
}

@media (max-width:575.98px) {
    .b-footer .footer-sub .column .tel {
        font-size: 14px
    }
}

.b-footer .footer-sub .column span {
    font-size: 14px
}

.b-footer .footer-sub .light-gray {
    color: #c4c8ca;
    white-space: nowrap
}

.b-footer .to-top-arrow {
    position: fixed;
    z-index: 100;
    width: 75px;
    height: 75px;
    right: 75px;
    bottom: 25px
}

@media (max-width:768px) {
    .b-footer .to-top-arrow {
        right: 25px
    }
}

.b-footer .to-top-arrow .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #16398e
}

.b-bread-crumbs {
    margin-bottom: 0
}

.b-bread-crumbs a {
    color: #16398e !important;
    position: relative;
    margin-right: 29px;
    font-size: 20px;
    letter-spacing: -.2px;
    cursor: pointer
}

.b-bread-crumbs a:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #c7ccd9;
    bottom: 6px;
    right: -17px
}

.b-bread-crumbs span {
    color: #c7ccd9;
    font-size: 20px;
    letter-spacing: -.3px
}

.b-ask-question {
    max-width: 906px;
    margin: auto auto 40px;
    margin-top: 30px;
}

.b-ask-question h2 {
    font-size: 66px;
    font-weight: 800;
    line-height: 68px;
    margin: auto auto 45px
}

@media (max-width:575.98px) {
    .b-ask-question h2 {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 30px
    }
}

.b-question-answer .questions-answers .question-answer .answer div:last-child,
.b-question-answer .questions-answers .question-answer .question div:last-child {
    margin-bottom: 0
}

.b-question-answer {
    margin-bottom: 0;
    padding: 45px 0 0
}

.b-question-answer h2 {
    font-size: 66px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -.83px;
    color: #000;
    margin-bottom: 12px
}

@media (max-width:575.98px) {
    .b-question-answer h2 {
        font-size: 40px;
        line-height: 42px
    }
}

.b-question-answer .component-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 45px
}

@media (max-width:991.98px) {
    .b-question-answer .component-title {
        display: block
    }
}

.b-question-answer .component-title .title {
    font-size: 33px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -.83px;
    color: #9b9b9b
}

@media (max-width:991.98px) {
    .b-question-answer .component-title .title {
        margin-bottom: 25px
    }
}

@media (max-width:575.98px) {
    .b-question-answer .component-title .title {
        font-size: 25px;
        line-height: 27px
    }
}

.b-question-answer .component-title .title .question-answer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.b-question-answer .component-title .title .question-answer-title .question-mark {
    background: url(img/question-answer-question.svg) no-repeat;
    width: 31px;
    height: 31px;
    margin-left: 13px
}

.b-question-answer .questions-answers {
    width: 880px;
    margin: 0 auto
}

@media (max-width:991.98px) {
    .b-question-answer .questions-answers {
        width: auto
    }
}

.b-question-answer .questions-answers .question-answer {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 0
}

.b-question-answer .questions-answers .question-answer .question {
    position: relative;
    background-color: #f0f3f8;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 12px;
    margin-bottom: 30px;
    padding: 43px 40px 40px 130px
}

@media (max-width:767.98px) {
    .b-question-answer .questions-answers .question-answer .question {
        letter-spacing: -.45px;
        padding: 43px 40px 40px 95px
    }
}

@media (max-width:575.98px) {
    .b-question-answer .questions-answers .question-answer .question {
        padding: 43px 40px 30px 70px;
        font-size: 20px;
        line-height: 22px
    }
}

.b-question-answer .questions-answers .question-answer .question .quotes {
    position: absolute;
    top: 30px;
    left: 50px;
    background: url(img/question-answer-quotes.svg) no-repeat;
    width: 40px;
    height: 30px
}

@media (max-width:767.98px) {
    .b-question-answer .questions-answers .question-answer .question .quotes {
        top: 50px;
        left: 25px
    }
}

@media (max-width:575.98px) {
    .b-question-answer .questions-answers .question-answer .question .quotes {
        top: 20px;
        width: 30px;
        height: 34px;
        background-size: 30px 30px
    }
}

.b-question-answer .questions-answers .question-answer .question .text-question {
    margin-bottom: 40px
}

@media (max-width:575.98px) {
    .b-question-answer .questions-answers .question-answer .question .text-question {
        margin-bottom: 25px
    }
}

.b-question-answer .questions-answers .question-answer .answer {
    border: 1px solid #d8d7e2;
    border-radius: 8px;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -.5px;
    margin-left: 105px;
    margin-bottom: 35px;
    padding: 35px 40px 20px 53px
}

@media (max-width:767.98px) {
    .b-question-answer .questions-answers .question-answer .answer {
        padding: 35px 40px 20px 80px;
        margin-left: 80px
    }
}

@media (max-width:575.98px) {
    .b-question-answer .questions-answers .question-answer .answer {
        font-size: 18px;
        line-height: 20px;
        padding: 20px 25px 20px 45px;
        margin-left: 35px
    }
}

.b-question-answer .questions-answers .question-answer .answer .text-answer {
    margin-bottom: 15px
}

@media (max-width:575.98px) {
    .b-question-answer .questions-answers .question-answer .answer .text-answer {
        margin-bottom: 15px
    }
}

@media print {

    .b-bread-crumbs,
    .b-footer,
    .b-header {
        display: none !important
    }
}

.link-social {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.link-social-center {
    padding-left: 4px;
    padding-right: 4px;
}

.link-social svg {
    height: 100%;
    width: 100%;
}

.commits {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-bottom: 30px;
}

.commitMedia {
    margin-top: 15px;
}

.commits__title {
	margin-bottom: 15px;
	font-size: 24px;
}

.commits__item {
	padding: 25px 0 0;
}

.commits__add {
    padding: 100px;
    background-color: #f1f3f8;
    border-radius: 10px;
    margin-top: 50px;
}

.commits__add-btn {
    margin-top: 30px;
}

.commits__item+.commits__item {
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
}

.commits__item:first-child {
	padding-top: 0;
}

.commits__head {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.commits__face {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background-color: gray;
	overflow: hidden;
}

.commits__face img {
	display: block;
	width: 100%;
}

.commits__name {
	font-size: 14px;
}

.commits__date {
	font-size: 12px;
}

/* .commits__body {} */

.commits__description {
	color: #000;
	line-height: 24px;
}

.commits__field-name,
.commits__field-message {
    display: block;
    border: 0;
    border-bottom: 3px solid #a5a6a9;
    background: transparent;
	width: 100%;
	margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    height: 45px;
    resize: none;
}

.commits__field-message {
    margin-top: 60px;
}

.commits__item_hide {
	display: none;
}

img {
    width: auto !important;
    max-width: 100% !important;
    display: block !important;
}

h3 {
    margin-bottom: 15px;
    line-height: 1.1;
}

@media (max-width: 480px) {
    .commits__add {
        padding: 60px 30px;
        margin-top: 15px;
    }

    .btn {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }

    .b-question-answer .questions-answers .question-answer .answer {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 20px;
        line-height: 1.4;
    }
}