/* stylelint-disable */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), 
		url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'), 
		url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'), 
		url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), 
		url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'), 
		url('../fonts/Montserrat/Montserrat-Black.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'HeadingProTrial';
	src: url('../fonts/HeadingProTrial/HeadingProTrial-Bold.woff2') format('woff2'),
		url('../fonts/HeadingProTrial/HeadingProTrial-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}