body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png");
    font-family: 'Arial';
}

h1 {
    color: #fff;
    text-decoration: underline;
}
h2 {
    color: #fff;
    text-align: center;
}

input {
    display: block;
    width: 100%;
}
.product {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(255,255,255, .5);
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
}

.list__item {
    text-align: center;
    display: block;
    padding: 8px 30px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    font-weight: 700;
    max-width: 300px;
    margin: 10px auto;
}

.list__item:hover {
    background-color: #ffffff;
    text-indent: 10px;
    padding-right: 20px;
    box-shadow: -10px 0px 20px -6px #fff;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter__input {
    max-width: 350px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}